# Indonesia Podes Survey Analysis

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_rows', 500)

C:\Users\sunku\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\sunku\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
C:\Users\sunku\AppData\Local\Temp\ipykernel_4636\688860645.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

#### The Data Dictionary provided is specific to the 2020 dataset. However, we can apply it across all available datasets, including those from 2011, 2014, 2018, and 2020. Let's begin by loading the Data Dictionary dataset.

In [2]:
data_dict = pd.read_csv("data_dictionary_english.csv")
data_dict['Kode Variabel'] = data_dict['Kode Variabel'].str.lower()
data_dict.head()

  Kode Variabel                                              Label                                      label_english
0         r101n                                      NAMA PROVINSI                                      Province name
1         r102n                                NAMA KABUPATEN/KOTA                                  Regency/city name
2         r103n                                     NAMA KECAMATAN                                 Sub -district name
3         r104n                                NAMA DESA/KELURAHAN                             Village/kelurahan name
4         r107a  STATUS DEFINITIF DESA DAN OPERASIONAL DESA/KEL...  Village Definitive Status and Village/Keluraha...

#### Lets start with 2011 Dataset

In [3]:
import pyreadstat

df_2011_podes_1, meta = pyreadstat.read_dta("podes_desa_2011_d1.dta")

In [4]:
df_2011_podes_1.head()

,iddesa,kode_prov,kode_kab,kode_kec,kode_desa,s_desa08,s_desa10,s_desa,status_dok,flag,r301,r302a,nama_pulau,r302b,r303a,r304a,r304b,r304c,r305a,r305b,r305d,r305e1,r305e2a,r305e2b,r305e2c,r305e2d,r305e2e,r305e3,r306a,r306b,r401a,r401b,r401c,r401d,r401e,r402a,r402b,r403a,r403b,r501a,r501b,r502a,r502b,r503,r504,r505a,r505b,r506ak2,r506b1k2,r506b2k2,r506b3k2,r506b4k2,r506b5k2,r506ak3,r506ak4,r506b1k3,r506b1k4,r506b2k3,r506b2k4,r506b3k3,r506b3k4,r506b4k3,r506b4k4,r506b5k4,r508a,r508b,r508c,r508d,r509a,r509b1,r509b2,r509b3,r510a,r510b1,r510b2,r510b3,r511ak2,r511ak3,r511ak4,r511bk2,r511bk3,r511bk4,r511ck2,r511ck3,r511ck4,r512a,r512b,r513,r60101k2,r60101k3,r60101k4,r60101k5,r60102k2,r60102k3,r60102k4,r60102k5,r60103k2,r60103k3,r60103k4,r60103k5,r60104k2,r60104k3,r60104k4,r60104k5,r60105k2,r60105k3,r60105k4,r60105k5,r60106k2,r60106k3,r60106k4,r60106k5,r60107k2,r60107k3,r60107k4,r60107k5,r60108k2,r60108k3,r60108k4,r60108k5,r60109k2,r60109k3,r60109k4,r60109k5,r60110k2,r60110k3,r60110k4,r60110k5,r602a,r602b01k2,r602b01k3,r602b02k2,r602b02k3,r602b03k2,r602b03k3,r602b04k2,r602b04k3,r602b05k2,r602b05k3,r602b06k2,r602b06k3,r602b07k2,r602b07k3,r602b08k2,r602b08k3,r602b09k2,r602b09k3,r602b10k2,r602b10k3,r602b11k2,r602b11k3,r602b12k2,r602b12k3,r602b13k2,r602b13k3,r602bk4,r603a1,r603a2,r603a3,r603a4,r603a5,r603b1,r603b2,r603b3,r603b4,r603b5,r603b6,r603b7,r603b8,r603b9,r603b10,r603b11,r603b12,r603b13
0,1.101010e+09,11,1,10,1,2,2,2,A,0,1,1,SIMEULUE,1,1,8,1,2,4,1,1,2,1,4,6,8,2,1,2,1,174,154,87,53,4,0,0,1,1,66,21,2,,4,1,2,2,1,1,2,1,2,2,1,2,1,,2,,1,,2,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,4,5,7,2,1,3,5,7,1,3,6,8,2,3,6,7,2
1,1.101010e+09,11,1,10,2,2,2,2,C,0,1,1,SIMEULUE,1,1,8,1,1,4,1,1,2,1,4,6,8,2,2,3,,208,216,106,80,5,0,0,1,1,98,8,2,,4,1,2,2,1,1,1,1,2,2,2,2,,,,,,,,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,4,5,8,1,1,3,5,8,2,4,6,8,2,4,6,7,2
2,1.101010e+09,11,1,10,3,2,2,2,C,0,1,1,SIMEULUE,1,1,8,1,4,4,1,1,2,1,4,6,8,2,1,2,1,257,211,128,80,12,1,0,1,1,87,0,1,1,4,1,2,2,1,1,2,1,2,2,1,2,1,,2,,1,,2,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1,1,0,25,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,04,2,,2,,1,3,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,03,2,4,5,8,2,1,4,6,8,2,4,6,8,2,4,6,8,2
3,1.101010e+09,11,1,10,4,2,2,2,E,0,1,1,SIMEULUE,1,1,8,1,4,4,2,1,2,1,4,6,8,2,1,2,1,312,284,145,117,5,0,0,1,1,135,10,2,,4,1,2,2,1,1,2,2,2,2,2,2,,,,,,,,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,4,5,7,2,1,3,5,8,2,4,6,8,2,4,6,7,2
4,1.101010e+09,11,1,10,5,2,2,2,A,0,1,1,SIMEULUE,1,1,8,1,3,2,3,1,2,1,4,6,8,2,2,2,1,187,191,104,85,6,0,0,1,1,0,0,2,,4,1,2,2,1,1,2,1,2,2,1,2,2,,2,,1,,2,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,4,6,8,2,,,,,,,,,,,,,

In [5]:
df_2011_podes_1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77961 entries, 0 to 77960
Data columns (total 174 columns):
 #    Column      Dtype
---   ------      -----
 0    iddesa      float64
 1    kode_prov   int64
 2    kode_kab    int64
 3    kode_kec    int64
 4    kode_desa   int64
 5    s_desa08    int64
 6    s_desa10    int64
 7    s_desa      int64
 8    status_dok  object
 9    flag        int64
 10   r301        int64
 11   r302a       int64
 12   nama_pulau  object
 13   r302b       int64
 14   r303a       int64
 15   r304a       int64
 16   r304b       object
 17   r304c       object
 18   r305a       int64
 19   r305b       int64
 20   r305d       int64
 21   r305e1      object
 22   r305e2a     object
 23   r305e2b     object
 24   r305e2c     object
 25   r305e2d     object
 26   r305e2e     object
 27   r305e3      object
 28   r306a       int64
 29   r306b       object
 30   r401a       int64
 31   r401b       int64
 32   r401c       int64
 33   r401d       int64
 34   r401e       object
 35   r402a       int64
 36   r402b       object
 37   r403a       int64
 38   r403b       object
 39   r501a       int64
 40   r501b       int64
 41   r502a       int64
 42   r502b       object
 43   r503        int64
 44   r504        int64
 45   r505a       int64
 46   r505b       int64
 47   r506ak2     int64
 48   r506b1k2    object
 49   r506b2k2    object
 50   r506b3k2    object
 51   r506b4k2    object
 52   r506b5k2    object
 53   r506ak3     int64
 54   r506ak4     int64
 55   r506b1k3    object
 56   r506b1k4    object
 57   r506b2k3    object
 58   r506b2k4    object
 59   r506b3k3    object
 60   r506b3k4    object
 61   r506b4k3    object
 62   r506b4k4    object
 63   r506b5k4    object
 64   r508a       object
 65   r508b       object
 66   r508c       object
 67   r508d       object
 68   r509a       int64
 69   r509b1      object
 70   r509b2      object
 71   r509b3      object
 72   r510a       int64
 73   r510b1      object
 74   r510b2      object
 75   r510b3      object
 76   r511ak2     int64
 77   r511ak3     object
 78   r511ak4     object
 79   r511bk2     int64
 80   r511bk3     object
 81   r511bk4     object
 82   r511ck2     int64
 83   r511ck3     object
 84   r511ck4     object
 85   r512a       int64
 86   r512b       object
 87   r513        int64
 88   r60101k2    int64
 89   r60101k3    object
 90   r60101k4    object
 91   r60101k5    object
 92   r60102k2    int64
 93   r60102k3    object
 94   r60102k4    object
 95   r60102k5    object
 96   r60103k2    int64
 97   r60103k3    object
 98   r60103k4    object
 99   r60103k5    object
 100  r60104k2    int64
 101  r60104k3    object
 102  r60104k4    object
 103  r60104k5    object
 104  r60105k2    int64
 105  r60105k3    object
 106  r60105k4    object
 107  r60105k5    object
 108  r60106k2    int64
 109  r60106k3    object
 110  r60106k4    object
 111  r60106k5    object
 112  r60107k2    int64
 113  r60107k3    object
 114  r60107k4    object
 115  r60107k5    object
 116  r60108k2    int64
 117  r60108k3    object
 118  r60108k4    object
 119  r60108k5    object
 120  r60109k2    int64
 121  r60109k3    object
 122  r60109k4    object
 123  r60109k5    object
 124  r60110k2    int64
 125  r60110k3    object
 126  r60110k4    object
 127  r60110k5    object
 128  r602a       object
 129  r602b01k2   object
 130  r602b01k3   object
 131  r602b02k2   object
 132  r602b02k3   object
 133  r602b03k2   object
 134  r602b03k3   object
 135  r602b04k2   object
 136  r602b04k3   object
 137  r602b05k2   object
 138  r602b05k3   object
 139  r602b06k2   object
 140  r602b06k3   object
 141  r602b07k2   object
 142  r602b07k3   object
 143  r602b08k2   object
 144  r602b08k3   object
 145  r602b09k2   object
 146  r602b09k3   object
 147  r602b10k2   object
 148  r602b10k3   object
 149  r602b11k2   object
 150  r602b11k3   object
 151  r602b12k2   object
 152  r602b12k3   object
 153  r602b13k2   object
 154  r602b13k3   object
 155  r602bk4     object
 156  r603a1      int64
 157  r603a2      int64
 158  r603a3      int64
 159  r603a4      int64
 160  r603a5      int64
 161  r603b1      object
 162  r603b2      object
 163  r603b3      object
 164  r603b4      object
 165  r603b5      object
 166  r603b6      object
 167  r603b7      object
 168  r603b8      object
 169  r603b9      object
 170  r603b10     object
 171  r603b11     object
 172  r603b12     object
 173  r603b13     object
dtypes: float64(1), int64(55), object(118)
memory usage: 103.5+ MB

In [6]:
df_2011_podes_2, meta = pyreadstat.read_dta("podes_desa_2011_d2.dta")
df_2011_podes_1.head()

,iddesa,kode_prov,kode_kab,kode_kec,kode_desa,s_desa08,s_desa10,s_desa,status_dok,flag,r301,r302a,nama_pulau,r302b,r303a,r304a,r304b,r304c,r305a,r305b,r305d,r305e1,r305e2a,r305e2b,r305e2c,r305e2d,r305e2e,r305e3,r306a,r306b,r401a,r401b,r401c,r401d,r401e,r402a,r402b,r403a,r403b,r501a,r501b,r502a,r502b,r503,r504,r505a,r505b,r506ak2,r506b1k2,r506b2k2,r506b3k2,r506b4k2,r506b5k2,r506ak3,r506ak4,r506b1k3,r506b1k4,r506b2k3,r506b2k4,r506b3k3,r506b3k4,r506b4k3,r506b4k4,r506b5k4,r508a,r508b,r508c,r508d,r509a,r509b1,r509b2,r509b3,r510a,r510b1,r510b2,r510b3,r511ak2,r511ak3,r511ak4,r511bk2,r511bk3,r511bk4,r511ck2,r511ck3,r511ck4,r512a,r512b,r513,r60101k2,r60101k3,r60101k4,r60101k5,r60102k2,r60102k3,r60102k4,r60102k5,r60103k2,r60103k3,r60103k4,r60103k5,r60104k2,r60104k3,r60104k4,r60104k5,r60105k2,r60105k3,r60105k4,r60105k5,r60106k2,r60106k3,r60106k4,r60106k5,r60107k2,r60107k3,r60107k4,r60107k5,r60108k2,r60108k3,r60108k4,r60108k5,r60109k2,r60109k3,r60109k4,r60109k5,r60110k2,r60110k3,r60110k4,r60110k5,r602a,r602b01k2,r602b01k3,r602b02k2,r602b02k3,r602b03k2,r602b03k3,r602b04k2,r602b04k3,r602b05k2,r602b05k3,r602b06k2,r602b06k3,r602b07k2,r602b07k3,r602b08k2,r602b08k3,r602b09k2,r602b09k3,r602b10k2,r602b10k3,r602b11k2,r602b11k3,r602b12k2,r602b12k3,r602b13k2,r602b13k3,r602bk4,r603a1,r603a2,r603a3,r603a4,r603a5,r603b1,r603b2,r603b3,r603b4,r603b5,r603b6,r603b7,r603b8,r603b9,r603b10,r603b11,r603b12,r603b13
0,1.101010e+09,11,1,10,1,2,2,2,A,0,1,1,SIMEULUE,1,1,8,1,2,4,1,1,2,1,4,6,8,2,1,2,1,174,154,87,53,4,0,0,1,1,66,21,2,,4,1,2,2,1,1,2,1,2,2,1,2,1,,2,,1,,2,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,4,5,7,2,1,3,5,7,1,3,6,8,2,3,6,7,2
1,1.101010e+09,11,1,10,2,2,2,2,C,0,1,1,SIMEULUE,1,1,8,1,1,4,1,1,2,1,4,6,8,2,2,3,,208,216,106,80,5,0,0,1,1,98,8,2,,4,1,2,2,1,1,1,1,2,2,2,2,,,,,,,,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,4,5,8,1,1,3,5,8,2,4,6,8,2,4,6,7,2
2,1.101010e+09,11,1,10,3,2,2,2,C,0,1,1,SIMEULUE,1,1,8,1,4,4,1,1,2,1,4,6,8,2,1,2,1,257,211,128,80,12,1,0,1,1,87,0,1,1,4,1,2,2,1,1,2,1,2,2,1,2,1,,2,,1,,2,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1,1,0,25,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,04,2,,2,,1,3,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,03,2,4,5,8,2,1,4,6,8,2,4,6,8,2,4,6,8,2
3,1.101010e+09,11,1,10,4,2,2,2,E,0,1,1,SIMEULUE,1,1,8,1,4,4,2,1,2,1,4,6,8,2,1,2,1,312,284,145,117,5,0,0,1,1,135,10,2,,4,1,2,2,1,1,2,2,2,2,2,2,,,,,,,,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,4,5,7,2,1,3,5,8,2,4,6,8,2,4,6,7,2
4,1.101010e+09,11,1,10,5,2,2,2,A,0,1,1,SIMEULUE,1,1,8,1,3,2,3,1,2,1,4,6,8,2,2,2,1,187,191,104,85,6,0,0,1,1,0,0,2,,4,1,2,2,1,1,2,1,2,2,1,2,2,,2,,1,,2,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,4,6,8,2,,,,,,,,,,,,,

In [7]:
df_2011_podes_2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77961 entries, 0 to 77960
Data columns (total 239 columns):
 #    Column      Dtype
---   ------      -----
 0    iddesa      float64
 1    kode_prov   int64
 2    kode_kab    int64
 3    kode_kec    int64
 4    kode_desa   int64
 5    s_desa08    int64
 6    s_desa10    int64
 7    s_desa      int64
 8    status_dok  object
 9    flag        int64
 10   r701ak2     int64
 11   r701ak3     int64
 12   r701ak4     object
 13   r701bk2     int64
 14   r701bk3     int64
 15   r701bk4     object
 16   r701ck2     int64
 17   r701ck3     int64
 18   r701ck4     object
 19   r701dk2     int64
 20   r701dk3     int64
 21   r701dk4     object
 22   r701ek2     int64
 23   r701ek3     int64
 24   r701ek4     object
 25   r701fk2     int64
 26   r701fk3     int64
 27   r701gk2     int64
 28   r701gk3     int64
 29   r701hk3     int64
 30   r701ik3     int64
 31   r701jk3     int64
 32   r702a       int64
 33   r702b       int64
 34   r702c       int64
 35   r702d       int64
 36   r702e       int64
 37   r702f       int64
 38   r702g       int64
 39   r703a       int64
 40   r703b       int64
 41   r703c       int64
 42   r703d       int64
 43   r703e       int64
 44   r704ak2     int64
 45   r704ak3     object
 46   r704ak4     object
 47   r704ak5     object
 48   r704bk2     int64
 49   r704bk3     object
 50   r704bk4     object
 51   r704bk5     object
 52   r704ck2     int64
 53   r704ck3     object
 54   r704ck4     object
 55   r704ck5     object
 56   r704dk2     int64
 57   r704dk3     object
 58   r704dk4     object
 59   r704dk5     object
 60   r704ek2     int64
 61   r704ek3     object
 62   r704ek4     object
 63   r704ek5     object
 64   r704fk2     int64
 65   r704fk3     object
 66   r704fk4     object
 67   r704fk5     object
 68   r704gk2     int64
 69   r704gk3     object
 70   r704gk4     object
 71   r704gk5     object
 72   r704hk2     int64
 73   r704hk3     object
 74   r704hk4     object
 75   r704hk5     object
 76   r704ik2     int64
 77   r704ik3     object
 78   r704ik4     object
 79   r704ik5     object
 80   r704jk2     int64
 81   r704jk3     object
 82   r704kk2     int64
 83   r704kk3     object
 84   r704kk4     object
 85   r704kk5     object
 86   r704lk2     int64
 87   r704lk4     object
 88   r704lk5     object
 89   r705a       object
 90   r705b       object
 91   r705c       object
 92   r706ak2     object
 93   r706ak3     object
 94   r706ak4     object
 95   r706bk2     object
 96   r707a1      int64
 97   r707a2      int64
 98   r707b       int64
 99   r707c       int64
 100  r707d       int64
 101  r707e       int64
 102  r708ak2     int64
 103  r708ak3     object
 104  r708ak4     object
 105  r708bk2     int64
 106  r708bk3     object
 107  r708bk4     object
 108  r708ck2     int64
 109  r708ck3     object
 110  r708ck4     object
 111  r708dk2     int64
 112  r708dk3     object
 113  r708dk4     object
 114  r708ek2     int64
 115  r708ek3     object
 116  r708ek4     object
 117  r708fk2     int64
 118  r708fk3     object
 119  r708fk4     object
 120  r708gk2     int64
 121  r708gk3     object
 122  r708gk4     object
 123  r708hk2     int64
 124  r708hk3     object
 125  r708hk4     object
 126  r709        int64
 127  r710a       int64
 128  r710b       int64
 129  r710c       int64
 130  r711        int64
 131  r712        int64
 132  r713a       int64
 133  r713b       object
 134  r713c       object
 135  r713d       int64
 136  r713e       object
 137  r80101      int64
 138  r80102      int64
 139  r80103      int64
 140  r80104      int64
 141  r80105      int64
 142  r80106      int64
 143  r80107      int64
 144  r802        int64
 145  r803a       int64
 146  r803b       int64
 147  r803c       int64
 148  r803d       int64
 149  r803e       int64
 150  r803f       int64
 151  r803g       int64
 152  r803h       int64
 153  r804ak2     int64
 154  r804ak3     int64
 155  r804bk2     int64
 156  r804bk3     int64
 157  r804ck2     int64
 158  r804ck3     int64
 159  r804dk2     int64
 160  r804dk3     int64
 161  r804ek2     int64
 162  r804ek3     int64
 163  r804fk2     int64
 164  r804fk3     int64
 165  r804gk2     int64
 166  r804gk3     int64
 167  r805a       int64
 168  r805b       int64
 169  r805c       int64
 170  r805d       int64
 171  r805e       int64
 172  r805f       int64
 173  r805g       int64
 174  r805h       int64
 175  r805i       int64
 176  r806        int64
 177  r807        int64
 178  r807_2      int64
 179  nama_suku   object
 180  r808        int64
 181  r901a       int64
 182  r901b       object
 183  r902a       int64
 184  r902b       object
 185  r903ak2     int64
 186  r903ak3     int64
 187  r903bk2     int64
 188  r903bk3     int64
 189  r903ck2     int64
 190  r903ck3     int64
 191  r903dk2     int64
 192  r903dk3     int64
 193  r903ek2     int64
 194  r903ek3     int64
 195  r903fk2     int64
 196  r903fk3     int64
 197  r903gk2     int64
 198  r903gk3     int64
 199  r903hk3     int64
 200  r903ik3     int64
 201  r903jk3     int64
 202  r1001a      int64
 203  r1001b1     object
 204  r1001b2     object
 205  r1002a      int64
 206  r1002b      object
 207  r1002c      object
 208  r1002d      object
 209  jml_jem     int64
 210  r1003a      int64
 211  r1003b      object
 212  r1003d      int64
 213  r1004ak2    int64
 214  r1004ak3    int64
 215  r1004ak4    int64
 216  r1004ak5    object
 217  r1004bk2    int64
 218  r1004bk3    int64
 219  r1004bk4    int64
 220  r1004bk5    object
 221  r1004ck2    int64
 222  r1004ck3    int64
 223  r1004ck4    int64
 224  r1004ck5    object
 225  r1005a      int64
 226  r1005b      object
 227  r1006       int64
 228  r1007a      int64
 229  r1007b      int64
 230  r1008       int64
 231  r1009       int64
 232  r1010a      int64
 233  r1010b      object
 234  r1011       int64
 235  r1012a      int64
 236  r1012b      int64
 237  r1012c      int64
 238  r1012d      int64
dtypes: float64(1), int64(159), object(79)
memory usage: 142.2+ MB

In [8]:
df_2011_podes_1.columns = df_2011_podes_1.columns.str.replace('_', '')
df_2011_podes_2.columns = df_2011_podes_2.columns.str.replace('_', '')

In [9]:
column_mapping = data_dict.set_index('Kode Variabel')['label_english'].to_dict()
df_2011_podes_1 = df_2011_podes_1.rename(columns=column_mapping)
df_2011_podes_1.head()

,iddesa,kodeprov,kodekab,kodekec,kodedesa,sdesa08,sdesa10,sdesa,statusdok,flag,Government status,Village Consultative Body/Village Deliberation Institution,namapulau,The number of village/kelurahan deliberations carried out during 2019,r303a,r304a,r304b,r304c,r305a,r305b,r305d,r305e1,r305e2a,r305e2b,r305e2c,r305e2d,r305e2e,r305e3,r306a,r306b,r401a,r401b,r401c,r401d,r401e,r402a,r402b,r403a,r403b,r501a,Number of Families Non -Electric User,Lighting on the main road/kelurahan road,"If there is lighting on the main road of the village/kelurahan (R402A coded 1 or 2), the type of lighting",r503,r504,r505a,r505b,r506ak2,r506b1k2,r506b2k2,r506b3k2,r506b4k2,r506b5k2,r506ak3,r506ak4,r506b1k3,r506b1k4,r506b2k3,r506b2k4,r506b3k3,r506b3k4,r506b4k3,r506b4k4,r506b5k4,r508a,r508b,r508c,r508d,r509a,r509b1,r509b2,r509b3,r510a,r510b1,r510b2,r510b3,r511ak2,r511ak3,r511ak4,r511bk2,r511bk3,r511bk4,r511ck2,r511ck3,r511ck4,"The existence of slums (poor environmental sanitation, dense buildings, and most unfit for habitation) in the village/kelurahan",r512b,r513,r60101k2,r60101k3,r60101k4,r60101k5,r60102k2,r60102k3,r60102k4,r60102k5,r60103k2,r60103k3,r60103k4,r60103k5,r60104k2,r60104k3,r60104k4,r60104k5,r60105k2,r60105k3,r60105k4,r60105k5,r60106k2,r60106k3,r60106k4,r60106k5,r60107k2,r60107k3,r60107k4,r60107k5,r60108k2,r60108k3,r60108k4,r60108k5,r60109k2,r60109k3,r60109k4,r60109k5,r60110k2,r60110k3,r60110k4,r60110k5,r602a,r602b01k2,r602b01k3,r602b02k2,r602b02k3,r602b03k2,r602b03k3,r602b04k2,r602b04k3,r602b05k2,r602b05k3,r602b06k2,r602b06k3,r602b07k2,r602b07k3,r602b08k2,r602b08k3,r602b09k2,r602b09k3,r602b10k2,r602b10k3,r602b11k2,r602b11k3,r602b12k2,r602b12k3,r602b13k2,r602b13k3,r602bk4,r603a1,r603a2,r603a3,r603a4,r603a5,r603b1,r603b2,r603b3,r603b4,r603b5,r603b6,r603b7,r603b8,r603b9,r603b10,r603b11,r603b12,r603b13
0,1.101010e+09,11,1,10,1,2,2,2,A,0,1,1,SIMEULUE,1,1,8,1,2,4,1,1,2,1,4,6,8,2,1,2,1,174,154,87,53,4,0,0,1,1,66,21,2,,4,1,2,2,1,1,2,1,2,2,1,2,1,,2,,1,,2,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,4,5,7,2,1,3,5,7,1,3,6,8,2,3,6,7,2
1,1.101010e+09,11,1,10,2,2,2,2,C,0,1,1,SIMEULUE,1,1,8,1,1,4,1,1,2,1,4,6,8,2,2,3,,208,216,106,80,5,0,0,1,1,98,8,2,,4,1,2,2,1,1,1,1,2,2,2,2,,,,,,,,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,4,5,8,1,1,3,5,8,2,4,6,8,2,4,6,7,2
2,1.101010e+09,11,1,10,3,2,2,2,C,0,1,1,SIMEULUE,1,1,8,1,4,4,1,1,2,1,4,6,8,2,1,2,1,257,211,128,80,12,1,0,1,1,87,0,1,1,4,1,2,2,1,1,2,1,2,2,1,2,1,,2,,1,,2,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1,1,0,25,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,04,2,,2,,1,3,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,03,2,4,5,8,2,1,4,6,8,2,4,6,8,2,4,6,8,2
3,1.101010e+09,11,1,10,4,2,2,2,E,0,1,1,SIMEULUE,1,1,8,1,4,4,2,1,2,1,4,6,8,2,1,2,1,312,284,145,117,5,0,0,1,1,135,10,2,,4,1,2,2,1,1,2,2,2,2,2,2,,,,,,,,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,4,5,7,2,1,3,5,8,2,4,6,8,2,4,6,7,2
4,1.101010e+09,11,1,10,5,2,2,2,A,0,1,1,SIMEULUE,1,1,8,1,3,2,3,1,2,1,4,6,8,2,2,2,1,187,191,104,85,6,0,0,1,1,0,0,2,,4,1,2,2,1,1,2,1,2,2,1,2,2,,2,,1,,2,,,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,,2,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,4,6,8,2,,,,,,,,,,,,,

In [10]:
df_2011_podes_2 = df_2011_podes_2.rename(columns=column_mapping)
df_2011_podes_2.head()

,iddesa,kodeprov,kodekab,kodekec,kodedesa,sdesa08,sdesa10,sdesa,statusdok,flag,Availability of facilities/field: soccer,Activity Group: Football,r701ak4,Availability of facilities/field: volleyball,Activity Group: Volleyball,r701bk4,Availability of facilities/field: badminton,Activity Group: Badminton,r701ck4,Availability of facilities/field: basketball,Activity Group: Basketball,r701dk4,Availability of Facilities/Field: Field Tennis,Activity Group: Field Tennis,r701ek4,Availability of Facilities/Field: Table Tennis,Activity Group: Table Tennis,Availability of Facilities/Field: Futsal,Activity Group: Futsal,Activity Group: Swimming,"Activity Group: self -defense (pencak silat, karate, etc.)",Activity Group: Billiard,r702a,r702b,r702c,r702d,r702e,r702f,r702g,r703a,r703b,r703c,r703d,r703e,r704ak2,r704ak3,r704ak4,r704ak5,r704bk2,r704bk3,r704bk4,r704bk5,r704ck2,r704ck3,r704ck4,r704ck5,r704dk2,r704dk3,r704dk4,r704dk5,r704ek2,r704ek3,r704ek4,r704ek5,r704fk2,r704fk3,r704fk4,r704fk5,r704gk2,r704gk3,r704gk4,r704gk5,r704hk2,r704hk3,r704hk4,r704hk5,r704ik2,r704ik3,r704ik4,r704ik5,r704jk2,r704jk3,r704kk2,r704kk3,r704kk4,r704kk5,r704lk2,r704lk4,r704lk5,r705a,r705b,r705c,r706ak2,r706ak3,r706ak4,r706bk2,r707a1,r707a2,r707b,r707c,r707d,r707e,r708ak2,r708ak3,r708ak4,r708bk2,r708bk3,r708bk4,r708ck2,r708ck3,r708ck4,r708dk2,r708dk3,r708dk4,r708ek2,r708ek3,r708ek4,r708fk2,r708fk3,r708fk4,r708gk2,r708gk3,r708gk4,r708hk2,r708hk3,r708hk4,r709,r710a,r710b,r710c,r711,r712,r713a,r713b,r713c,r713d,r713e,r80101,r80102,r80103,r80104,r80105,r80106,r80107,r802,The number of families subscribed to cable phones,The presence of residents who use cell phones/mobile phones,r803c,r803d,r803e,r803f,r803g,r803h,r804ak2,r804ak3,r804bk2,r804bk3,r804ck2,r804ck3,r804dk2,r804dk3,r804ek2,r804ek3,r804fk2,r804fk3,r804gk2,r804gk3,Number of Cell Phone Tower or Base Transceiver Station (BTS),Number of cellular/mobile phone communication service operators that reach the village/kelurahan,Cellular/mobile phone signals in most villages/kelurahan areas,Cell phone/mobile phone signals in most areas in the village/kelurahan,r805e,r805f,r805g,r805h,r805i,r806,r807,r8072,namasuku,r808,"Number of Micro and Small Industries According to Main Raw Materials: Industry of Leather Goods (Bags, Shoes, Sandals, etc.)","Number of Micro and Small Industries According to Main Raw Materials: Industry of Goods (Tables, Chairs, Chairs, Cabinets, etc.)",The existence of bases/agents/sellers of kerosene (including mobile kerosene sellers),"The existence of the base/agent/seller of LPG (stalls, shops, supermarkets, mobile gas sellers)","Number of Government Commercial Banks (for example: BRI, BNI, Mandiri, BPD, BTN, etc.)",Closest distance to government commercial banks,"Number of private commercial banks (for example: BCA, Permata, Sinarmas, CIMB, etc.)",Closest distance to private commercial banks,Number of People's Credit Banks (BPR),The closest distance to the People's Credit Bank (BPR),r903dk2,r903dk3,r903ek2,r903ek3,r903fk2,r903fk3,r903gk2,r903gk3,r903hk3,r903ik3,r903jk3,r1001a,r1001b1,r1001b2,Mass fights in the village/kelurahan for the past year,"If there is a mass fighting event, the amount of mass fighting that occurs",r1002c,Causes of Fighting: (Choice may be more than one),jmljem,r1003a,r1003b,r1003d,r1004ak2,r1004ak3,r1004ak4,r1004ak5,r1004bk2,r1004bk3,r1004bk4,r1004bk5,r1004ck2,r1004ck3,r1004ck4,r1004ck5,Development/maintenance of environmental security posts over the past year,The formation/setting of security teams for the past year,r1006,r1007a,r1007b,r1008,r1009,r1010a,r1010b,r1011,r1012a,r1012b,r1012c,r1012d
0,1.101010e+09,11,1,10,1,2,2,2,A,0,0,0,8,1,0,NaN,0,0,3,0,0,11,0,0,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,6,8,2,2,NaN,41,2,2,NaN,42,2,2,NaN,99,2,2,NaN,11,2,1,1,NaN,,2,NaN,41,2,2,NaN,41,2,2,NaN,41,2,2,NaN,99,2,1,1,2,NaN,41,2,2,41,2,0,1,0,NaN,NaN,NaN,NaN,0,0,0,1,0,4,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,1,10,0,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,5,0,0,0,294,15,3,2,10,2,,1,4,6,8,2,4,6,1,1,1,0,0,0,0,0,0,0,2,0,2,0,2,0,2,0,2,0,2,0,2,3,2,0,1,2,1,0,0,0,1,10,0,Simeulue,1,2,99,2,99,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2,1,1,1,1,4,3,1,3,2,11,2,2,2,41,2,2,2,99,32,1,32,2,NaN,2,2,1,2,2,2,41,2,2,4,6,8
1,1.101010e+09,11,1,10,2,2,2,2,C,0,0,1,NaN,1,0,NaN,0,0,3,0,0,3,0,0,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,6,8,2,2,NaN,50,3,2,NaN,51,3,2,NaN,99,3,2,NaN,3,2,2,NaN,2,2,2,NaN,50,3,2,NaN,50,3,2,NaN,50,2,2,NaN,99,3,1,1,2,NaN,50,3,2,50,3,0,1,0,NaN,NaN,NaN,NaN,0,0,0,0,1,3,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,2,0,0,350,12,4,1,NaN,2,,1,4,6,8,2,4,6,1,1,2,0,0,0,0,0,0,0,2,0,2,0,2,0,2,0,2,0,2,0,2,0,0,0,3,0,0,0,0,0,1,10,0,Simeulue,1,2,99,2,99,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,3,1,3,2,3,2,2,2,50,8,1,8,99,32,1,32,2,NaN,2,2,2,2,2,2,50,2,2,4,6,8
2,1.101010e+09,11,1,10,3,2,2,2,C,0,0,1,NaN,1,0,NaN,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,6,8,2,2,NaN,28,2,2,NaN,29,2,2,NaN,99,2,2,NaN,23,2,1,1,NaN,,2,NaN,28,2,2,NaN,28,2,2,NaN,28,2,2,NaN,99,3,1,1,2,NaN,28,2,2,28,2,0,1,0,NaN,NaN,NaN,NaN,0,0,0,1,0,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,1,1,0,0,362,3,4,1,NaN,2,,1,4,6,8,2,4,6,1,1,1,0,0,0,0,0,0,0,2,0,2,0,2,3,1,0,2,0,2,0,2,2,0,0,3,0,1,0,0,0,2,10,0,Simeulue,1,2,99,2,99,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,2,23,8,2,8,28,8,1,8,99,32,1,32,2,NaN,2,2,1,2,2,2,22,2,2,4,6,8
3,1.101010e+09,11,1,10,4,2,2,2,E,0,0,1,NaN,1,0,NaN,1,0,NaN,0,0,7,0,0,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,6,8,2,2,NaN,13,2,2,NaN,14,2,2,NaN,99,3,2,NaN,7,2,1,1,NaN,,2,NaN,13,2,2,NaN,13,2,2,NaN,13,2,2,NaN,99,3,1,1,2,NaN,13,2,2,13,2,0,1,0,NaN,NaN,NaN,NaN,0,0,0,1,0,3,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,1,5,0,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,5,10,2,1,250,20,7,1,NaN,2,,1,4,6,8,2,4,6,1,2,0,0,0,0,0,0,0,0,2,0,2,0,2,0,2,0,2,0,2,0,2,4,2,2,2,1,0,0,0,0,1,10,0,Simeulue,1,2,99,2,99,2,1,1,1,2,2,2,2,2,2,2,2,2,2,1,2,2,1,2,1,1,2,1,2,2,1,2,1,7,2,2,2,13,2,2,2,99,32,1,32,2,NaN,2,2,2,2,2,2,13,2,2,4,6,8
4,1.101010e+09,11,1,10,5,2,2,2,A,0,0,0,2,1,0,NaN,1,0,NaN,0,0,10,0,0,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,6,8,2,2,NaN,12,2,2,NaN,13,2,2,NaN,99,2,2,NaN,12,2,1,1,NaN,,2,NaN,12,2,2,NaN,12,2,2,NaN,12,2,2,NaN,99,3,1,1,2,NaN,12,2,2,12,2,0,1,0,NaN,NaN,NaN,NaN,0,0,0,1,0,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,10,0,0,0,130,10,4,1,NaN,2,,1,4,6,8,2,4,6,1,1,3,0,0,0,0,0,0,0,2,0,2,0,2,0,2,0,2,0,2,0,2,0,0,0,0,5,2,0,0,0,1,10,0,Simeulue,1,2,99,2,99,2,1,1,1,2,2,2,2,2,2,2,2,2,2,1,2,2,1,2,1,1,2,1,4,4,1,4,1,9,2,2,2,12,2,2,2,99,32,2,32,2,NaN,2,2,1,2,2,2,12,2,2,4,6,8

## Conclusion of 2011 Dataset

#### What we came to know is that the data dictionary is not covering all the coumns of the dataset so we need an updated data dictonary that will match the 2011 data

#### Lets continue with 2014 Dataset

In [11]:
df_2014_podes_1=pd.read_stata("podes_desa_2014_d1_new.dta")
df_2014_podes_1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82190 entries, 0 to 82189
Data columns (total 178 columns):
 #    Column      Dtype
---   ------      -----
 0    level_wila  object
 1    r101        object
 2    r101n       object
 3    r102        object
 4    r102n       object
 5    r103        object
 6    r103n       object
 7    r104        object
 8    r104n       object
 9    r301        object
 10   r302        object
 11   r303        object
 12   r304a       object
 13   r304ba_k2   object
 14   r304ba_k3   object
 15   r304ba_k4   float64
 16   r304bb_k2   object
 17   r304bb_k3   object
 18   r304bb_k4   float64
 19   r304bc_k2   object
 20   r304bc_k3   object
 21   r304bc_k4   float64
 22   r304bd_k2   object
 23   r304bd_k3   object
 24   r304bd_k4   float64
 25   r305a1      int8
 26   r305b       object
 27   r306a       object
 28   r307a       object
 29   r307b1a     object
 30   r307b1b     object
 31   r307b1c     object
 32   r307b1d     object
 33   r307b1e     object
 34   r307b2      object
 35   r308a       object
 36   r308b       object
 37   r403a       object
 38   r403b1      float64
 39   r403b2      float64
 40   r403c       object
 41   r404a       object
 42   r404b1      object
 43   r404b2      object
 44   r501a1      int32
 45   r501a2      int16
 46   r501b       int16
 47   r502a       object
 48   r502b       object
 49   r503        object
 50   r504        object
 51   r505a       object
 52   r505b       object
 53   r506        object
 54   r507a       object
 55   r507b       object
 56   r508a_k2    object
 57   r508a_k3    object
 58   r508a_k4    object
 59   r508b1_k2   object
 60   r508b1_k3   object
 61   r508b1_k4   object
 62   r508b2_k2   object
 63   r508b2_k3   object
 64   r508b2_k4   object
 65   r508b3_k2   object
 66   r508b3_k3   object
 67   r508b3_k4   object
 68   r508b4_k2   object
 69   r508b4_k3   object
 70   r508b4_k4   object
 71   r508b5_k2   object
 72   r508b5_k3   object
 73   r508b5_k4   object
 74   r508b6_k2   object
 75   r508b6_k4   object
 76   r508b7_k2   object
 77   r508b7_k4   object
 78   r509b       object
 79   r509c1      float64
 80   r509c2      float64
 81   r509c3      float64
 82   r509d1      object
 83   r509d2      object
 84   r510a       object
 85   r510b       object
 86   r510c1      float64
 87   r510c2      float64
 88   r510c3      float64
 89   r511a       object
 90   r511b1      float64
 91   r511b2      float64
 92   r511b3      float64
 93   r512a_k2    object
 94   r512a1_k3   object
 95   r512a_k4    object
 96   r512b_k2    object
 97   r512b1_k3   object
 98   r512b_k4    object
 99   r512c_k2    object
 100  r512c1_k3   object
 101  r512c_k4    object
 102  r513        object
 103  r514        object
 104  r601a_k2    object
 105  r601a_k3    float64
 106  r601a_k4    float64
 107  r601a_k5    float64
 108  r601a_k6    float64
 109  r601a_k7    float64
 110  r601a_k8    float64
 111  r601b_k2    object
 112  r601b_k3    float64
 113  r601b_k4    float64
 114  r601b_k5    float64
 115  r601b_k6    float64
 116  r601b_k7    float64
 117  r601b_k8    float64
 118  r601c_k2    object
 119  r601c_k3    float64
 120  r601c_k4    float64
 121  r601c_k5    float64
 122  r601c_k6    float64
 123  r601c_k7    float64
 124  r601c_k8    float64
 125  r601d_k2    object
 126  r601d_k3    float64
 127  r601d_k4    float64
 128  r601d_k5    float64
 129  r601d_k6    float64
 130  r601d_k7    float64
 131  r601d_k8    float64
 132  r601e_k2    object
 133  r601e_k3    float64
 134  r601e_k4    float64
 135  r601e_k5    float64
 136  r601e_k6    float64
 137  r601e_k7    float64
 138  r601e_k8    float64
 139  r601f_k2    object
 140  r601f_k3    float64
 141  r601f_k4    float64
 142  r601f_k5    float64
 143  r601f_k6    float64
 144  r601f_k7    float64
 145  r601f_k8    float64
 146  r601g_k2    object
 147  r601g_k3    float64
 148  r601g_k4    float64
 149  r601g_k5    float64
 150  r601g_k6    float64
 151  r601g_k7    float64
 152  r601g_k8    float64
 153  r601h_k2    object
 154  r601h_k3    float64
 155  r601h_k4    float64
 156  r601h_k5    float64
 157  r601h_k6    float64
 158  r601h_k7    float64
 159  r601h_k8    float64
 160  r601i_k2    object
 161  r601i_k3    float64
 162  r601i_k4    float64
 163  r601i_k5    float64
 164  r601i_k6    float64
 165  r601i_k7    float64
 166  r601i_k8    float64
 167  r601j_k2    object
 168  r601j_k3    float64
 169  r601j_k4    float64
 170  r601j_k5    float64
 171  r601j_k6    float64
 172  r601j_k7    float64
 173  r601j_k8    float64
 174  r602a       object
 175  r602b       object
 176  r602c       object
 177  r602d       object
dtypes: float64(75), int16(2), int32(1), int8(1), object(99)
memory usage: 109.8+ MB

In [12]:
df_2014_podes_2=pd.read_stata("podes_desa_2014_d2_new.dta")
df_2014_podes_2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82190 entries, 0 to 82189
Data columns (total 250 columns):
 #    Column      Dtype
---   ------      -----
 0    level_wila  object
 1    r101        object
 2    r101n       object
 3    r102        object
 4    r102n       object
 5    r103        object
 6    r103n       object
 7    r104        object
 8    r104n       object
 9    r701a_k2    int8
 10   r701a_k3    int8
 11   r701a_k4    float32
 12   r701b_k2    int8
 13   r701b_k3    int8
 14   r701b_k4    float32
 15   r701c_k2    int8
 16   r701c_k3    int8
 17   r701c_k4    float32
 18   r701d_k2    int8
 19   r701d_k3    int8
 20   r701d_k4    float32
 21   r701e_k2    int8
 22   r701e_k3    int8
 23   r701e_k4    float32
 24   r701f_k2    int8
 25   r701f_k3    int8
 26   r701f_k4    float32
 27   r701g_k2    int8
 28   r701g_k3    int8
 29   r701g_k4    float32
 30   r701h_k3    int8
 31   r701i_k3    int8
 32   r701j_k3    int8
 33   r702a       object
 34   r702b       object
 35   r702c       object
 36   r702d       object
 37   r702e       object
 38   r702f       object
 39   r703a       int8
 40   r703b       int8
 41   r703c       int8
 42   r703d       int8
 43   r703e       int8
 44   r703f       int8
 45   r703g       int8
 46   r704a_k2    object
 47   r704a_k3    float64
 48   r704a_k4    float32
 49   r704a_k5    object
 50   r704b_k2    object
 51   r704b_k3    float64
 52   r704b_k4    float32
 53   r704b_k5    object
 54   r704c_k2    object
 55   r704c_k3    float64
 56   r704c_k4    float32
 57   r704c_k5    object
 58   r704d_k2    object
 59   r704d_k3    float64
 60   r704d_k4    float32
 61   r704d_k5    object
 62   r704e_k2    object
 63   r704e_k3    float64
 64   r704e_k4    float32
 65   r704e_k5    object
 66   r704f_k2    object
 67   r704f_k3    float64
 68   r704f_k4    float32
 69   r704f_k5    object
 70   r704g_k2    object
 71   r704g_k3    float64
 72   r704g_k4    float32
 73   r704g_k5    object
 74   r704h_k2    object
 75   r704h_k3    float64
 76   r704h_k4    float32
 77   r704h_k5    object
 78   r704i_k2    object
 79   r704i_k3    float64
 80   r704i_k4    float32
 81   r704i_k5    object
 82   r704j_k2    object
 83   r704j_k3    float64
 84   r704j_k4    float32
 85   r704j_k5    object
 86   r704k_k2    object
 87   r704k_k3    float64
 88   r704l_k2    object
 89   r704l_k3    float64
 90   r704l_k4    float32
 91   r704l_k5    object
 92   r704m_k2    object
 93   r704m_k4    float32
 94   r704m_k5    object
 95   r705a       float64
 96   r705b       float64
 97   r706a1      int8
 98   r706a2      int8
 99   r706b       int8
 100  r706c       int8
 101  r706d       int8
 102  r707        object
 103  r708        int8
 104  r709a_k2    object
 105  r709a_k3    float64
 106  r709a_k4    float64
 107  r709b_k2    object
 108  r709b_k3    float64
 109  r709b_k4    float64
 110  r709c_k2    object
 111  r709c_k3    float64
 112  r709c_k4    float64
 113  r709d_k2    object
 114  r709d_k3    float64
 115  r709d_k4    float64
 116  r709e_k2    object
 117  r709e_k3    float64
 118  r709e_k4    float64
 119  r709f_k2    object
 120  r709f_k3    float64
 121  r709f_k4    float64
 122  r709g_k2    object
 123  r709g_k3    float64
 124  r709g_k4    float64
 125  r709h_k2    object
 126  r709h_k3    float64
 127  r709h_k4    float64
 128  r710        int8
 129  r711a       int32
 130  r711b       int32
 131  r711c       int32
 132  r80101      object
 133  r80102      object
 134  r80103      object
 135  r80104      object
 136  r80105      object
 137  r80106      object
 138  r80107      object
 139  r802        object
 140  r803a       int8
 141  r803b       int16
 142  r803c       int8
 143  r803d       int8
 144  r803e       int8
 145  r803f       int8
 146  r803g       int8
 147  r803h       int8
 148  r804a1      object
 149  r804b1      object
 150  r805a       int16
 151  r805b       int16
 152  r805c       int8
 153  r805d       int16
 154  r805e       int16
 155  r805f       int16
 156  r805g       int16
 157  r805h       int16
 158  r805i       int8
 159  r806        int8
 160  r807a       object
 161  r807b       object
 162  r901        object
 163  r902a1      object
 164  r902a2      float32
 165  r902b1      object
 166  r902b2      float32
 167  r903a_k2    object
 168  r903a_k3    object
 169  r903b_k2    object
 170  r903b_k3    object
 171  r903c_k2    object
 172  r903c_k3    object
 173  r903d_k2    object
 174  r903d_k3    object
 175  r903e_k2    object
 176  r903e_k3    object
 177  r903f_k2    object
 178  r903f_k3    object
 179  r903g_k2    object
 180  r903g_k3    object
 181  r903h_k2    object
 182  r903h_k3    object
 183  r903i_k2    object
 184  r903i_k3    object
 185  r903j_k2    object
 186  r903j_k3    object
 187  r904        object
 188  r1001a      object
 189  r1001b1     object
 190  r1001b2     object
 191  r1001c1     object
 192  r1001c2     object
 193  r1001c3     object
 194  r1002a_k2   int16
 195  r1002a_k3   int8
 196  r1002a_k4   object
 197  r1002a_k5   object
 198  r1002a_k6   object
 199  r1002a_k7   float64
 200  r1002b_k2   int16
 201  r1002b_k3   int8
 202  r1002b_k4   object
 203  r1002b_k5   object
 204  r1002b_k6   object
 205  r1002b_k7   float64
 206  r1002c_k2   int16
 207  r1002c_k3   int8
 208  r1002c_k4   object
 209  r1002c_k5   object
 210  r1002c_k6   object
 211  r1002c_k7   float64
 212  r1002d_k2   int16
 213  r1002d_k3   int8
 214  r1002d_k4   object
 215  r1002d_k5   object
 216  r1002d_k6   object
 217  r1002d_k7   float64
 218  r1003a      object
 219  r1003b      float64
 220  r1004a      object
 221  r1004b      object
 222  r1005a      object
 223  r1005b      object
 224  r1006       object
 225  r1007a      object
 226  r1007b      object
 227  r1008a      object
 228  r1008b      object
 229  r1008c      object
 230  r1009a_k2   object
 231  r1009a_k3   object
 232  r1009b_k2   object
 233  r1009b_k3   object
 234  r1009c_k2   object
 235  r1009c_k3   object
 236  r1009d_k2   object
 237  r1009d_k3   object
 238  r1103a_k4   object
 239  r1103a_k5   float64
 240  r1103a_k6   object
 241  r1103a_k7   float64
 242  r1103b_k2   object
 243  r1103b_k3   float64
 244  r1103b_k6   object
 245  r1103b_k7   float64
 246  r1103c_k2   object
 247  r1103c_k3   float64
 248  r1103c_k4   object
 249  r1103c_k5   float64
dtypes: float32(21), float64(41), int16(12), int32(3), int8(45), object(128)
memory usage: 118.9+ MB

In [13]:
df_2014_podes_3=pd.read_stata("podes_desa_2014_d3_new.dta")
df_2014_podes_3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82190 entries, 0 to 82189
Data columns (total 179 columns):
 #    Column      Dtype
---   ------      -----
 0    level_wila  object
 1    r101        object
 2    r101n       object
 3    r102        object
 4    r102n       object
 5    r103        object
 6    r103n       object
 7    r104        object
 8    r104n       object
 9    r1201a      int16
 10   r1201b      int16
 11   r1201c      int16
 12   r1201d      int16
 13   r1201e      int16
 14   r1201f      int16
 15   r1201g      int16
 16   r1201h      int16
 17   r1202a      object
 18   r1202b      float32
 19   r1203a      object
 20   r1203b      object
 21   r1204a      int8
 22   r1204b      int8
 23   r1204c      float32
 24   r1205       int8
 25   r1206       float32
 26   r1207       int16
 27   r1208       int16
 28   r1209       int8
 29   r1210       int8
 30   r1211       int8
 31   r1212a      int8
 32   r1212b      int8
 33   r1212c      int8
 34   r1212d      int8
 35   r1213a      object
 36   r1213b      object
 37   r1214a      object
 38   r1214b      object
 39   r1214c      object
 40   r1215a_k2   object
 41   r1215a_k3   float64
 42   r1215b_k2   object
 43   r1215b_k3   float64
 44   r1215c_k2   object
 45   r1215c_k3   float64
 46   r1301a      object
 47   r1301b1_k2  float64
 48   r1301b1_k3  object
 49   r1301b1_k4  object
 50   r1301b1_k5  object
 51   r1301b2_k2  float64
 52   r1301b2_k3  object
 53   r1301b2_k4  object
 54   r1301b2_k5  object
 55   r1301b3_k2  float64
 56   r1301b3_k3  object
 57   r1301b3_k4  object
 58   r1301b3_k5  object
 59   r1301b4_k2  float64
 60   r1301b4_k3  object
 61   r1301b4_k4  object
 62   r1301b4_k5  object
 63   r1301b5_k2  float64
 64   r1301b5_k3  object
 65   r1301b5_k4  object
 66   r1301b5_k5  object
 67   r1301b6_k2  float64
 68   r1301b6_k3  object
 69   r1301b6_k4  object
 70   r1301b6_k5  object
 71   r1301b7_k2  float64
 72   r1301b7_k3  object
 73   r1301b7_k4  object
 74   r1301b7_k5  object
 75   r1302a      object
 76   r1302b      object
 77   r1303a01k3  object
 78   r1303a01k4  object
 79   r1303a02k3  object
 80   r1303a02k4  object
 81   r1303a03k3  object
 82   r1303a03k4  object
 83   r1303a04k3  object
 84   r1303a04k4  object
 85   r1303a05k3  object
 86   r1303a05k4  object
 87   r1303a06k3  object
 88   r1303a06k4  object
 89   r1303a07k3  object
 90   r1303a07k4  object
 91   r1303a08k3  object
 92   r1303a08k4  object
 93   r1303a09k3  object
 94   r1303a09k4  object
 95   r1303a10k3  object
 96   r1303a10k4  object
 97   r1303b      object
 98   r1304a      object
 99   r1304b      object
 100  r1304c      object
 101  r1304d      object
 102  r1304e      object
 103  r1305       int16
 104  r1306a      object
 105  r1306b1     float32
 106  r1306b2     object
 107  r1307       int8
 108  r1308a      object
 109  r1308b      object
 110  r1309       object
 111  r1401a1_k2  object
 112  r1401a1_k3  object
 113  r1401a1_k4  object
 114  r1401a1_k5  object
 115  r1401a2_k2  object
 116  r1401a2_k3  object
 117  r1401a2_k4  object
 118  r1401a2_k5  object
 119  r1401a3_k2  object
 120  r1401a3_k3  object
 121  r1401a3_k4  object
 122  r1401a3_k5  object
 123  r1401a4_k2  object
 124  r1401a4_k3  object
 125  r1401a4_k4  object
 126  r1401a4_k5  object
 127  r1401b1_k2  object
 128  r1401b1_k3  object
 129  r1401b1_k5  object
 130  r1401b2_k2  object
 131  r1401b2_k3  object
 132  r1401b2_k5  object
 133  r1401b3_k2  object
 134  r1401b3_k3  object
 135  r1401b3_k5  object
 136  r1401c1_k2  object
 137  r1401c1_k3  object
 138  r1401c1_k5  object
 139  r1401c2_k2  object
 140  r1401c2_k3  object
 141  r1401c2_k5  object
 142  r1401c3_k2  object
 143  r1401c3_k3  object
 144  r1401c3_k5  object
 145  r1501a_k2   object
 146  r1501a_k3   float32
 147  r1501b_k2   object
 148  r1501b_k3   float32
 149  r1501c1_k2  object
 150  r1501c1_k3  float64
 151  r1501c2_k2  object
 152  r1501c2_k3  float64
 153  r1501c3_k2  object
 154  r1501c3_k3  float64
 155  r1501c4_k2  object
 156  r1501c4_k3  float64
 157  r1501c5_k2  object
 158  r1501c5_k3  float64
 159  r1501c6_k2  object
 160  r1501c6_k3  float64
 161  r1502a      float64
 162  r1502b      float64
 163  r1502c      float64
 164  r1503a      object
 165  r1503b      object
 166  r1503c      object
 167  r1503d      object
 168  r1601a_k2   object
 169  r1601a_k3   float64
 170  r1601a_k4   object
 171  r1601a_k5   object
 172  r1601b_k2   object
 173  r1601b_k3   float64
 174  r1601b_k4   object
 175  r1601b_k5   object
 176  r1601c_k2   object
 177  r1601d_k2   object
 178  r1602       int8
dtypes: float32(6), float64(21), int16(11), int8(12), object(129)
memory usage: 98.6+ MB

We could see the surevy questions are divided among 3 datasets so Lets try column mapping from data dictinary to 2014 datasets

In [14]:
df_2014_podes_1.columns = df_2014_podes_1.columns.str.replace('_', '')
df_2014_podes_2.columns = df_2014_podes_2.columns.str.replace('_', '')
df_2014_podes_3.columns = df_2014_podes_3.columns.str.replace('_', '')

In [15]:
column_mapping = data_dict.set_index('Kode Variabel')['label_english'].to_dict()
df_2014_podes_1 = df_2014_podes_1.rename(columns=column_mapping)
df_2014_podes_1.head()
df_2014_podes_2 = df_2014_podes_2.rename(columns=column_mapping)
df_2014_podes_2.head()
df_2014_podes_3 = df_2014_podes_3.rename(columns=column_mapping)
df_2014_podes_3.head()

,levelwila,r101,Province name,r102,Regency/city name,r103,Sub -district name,r104,Village/kelurahan name,Village cash/customary land,"Village -owned buildings (Village Hall, Rakyat Hall, etc.)",Other village assets,r1201d,r1201e,r1201f,r1201g,r1201h,r1202a,r1202b,r1203a,r1203b,r1204a,r1204b,r1204c,r1205,r1206,r1207,r1208,r1209,r1210,r1211,r1212a,r1212b,r1212c,r1212d,r1213a,r1213b,r1214a,r1214b,r1214c,r1215ak2,r1215ak3,r1215bk2,r1215bk3,r1215ck2,r1215ck3,r1301a,r1301b1k2,r1301b1k3,r1301b1k4,r1301b1k5,r1301b2k2,r1301b2k3,r1301b2k4,r1301b2k5,r1301b3k2,r1301b3k3,r1301b3k4,r1301b3k5,r1301b4k2,r1301b4k3,r1301b4k4,r1301b4k5,r1301b5k2,r1301b5k3,r1301b5k4,r1301b5k5,r1301b6k2,r1301b6k3,r1301b6k4,r1301b6k5,r1301b7k2,r1301b7k3,r1301b7k4,r1301b7k5,"Number of Village/Kelurahan Secretariat (Kaur Finance, Planning Kaur, etc.)","Number of Technical Implementers (Head of Government, Head of Welfare, etc.)",r1303a01k3,r1303a01k4,r1303a02k3,r1303a02k4,r1303a03k3,r1303a03k4,r1303a04k3,r1303a04k4,r1303a05k3,r1303a05k4,r1303a06k3,r1303a06k4,r1303a07k3,r1303a07k4,r1303a08k3,r1303a08k4,r1303a09k3,r1303a09k4,r1303a10k3,r1303a10k4,r1303b,r1304a,r1304b,r1304c,r1304d,r1304e,r1305,r1306a,r1306b1,r1306b2,r1307,r1308a,r1308b,r1309,r1401a1k2,r1401a1k3,r1401a1k4,r1401a1k5,r1401a2k2,r1401a2k3,r1401a2k4,r1401a2k5,r1401a3k2,r1401a3k3,r1401a3k4,r1401a3k5,r1401a4k2,r1401a4k3,r1401a4k4,r1401a4k5,r1401b1k2,r1401b1k3,r1401b1k5,r1401b2k2,r1401b2k3,r1401b2k5,r1401b3k2,r1401b3k3,r1401b3k5,r1401c1k2,r1401c1k3,r1401c1k5,r1401c2k2,r1401c2k3,r1401c2k5,r1401c3k2,r1401c3k3,r1401c3k5,r1501ak2,r1501ak3,r1501bk2,r1501bk3,r1501c1k2,r1501c1k3,r1501c2k2,r1501c2k3,r1501c3k2,r1501c3k3,r1501c4k2,r1501c4k3,r1501c5k2,r1501c5k3,r1501c6k2,r1501c6k3,r1502a,r1502b,r1502c,r1503a,r1503b,r1503c,r1503d,r1601ak2,r1601ak3,r1601ak4,r1601ak5,r1601bk2,r1601bk3,r1601bk4,r1601bk5,r1601ck2,r1601dk2,r1602
0,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,0,0,0,0,0,0,0,0,2,36.0,2,4,0,0,36.0,0,0.0,2,0,0,0,0,0,0,0,0,2,4,2,4,6,2,NaN,2,NaN,2,NaN,2,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,,1,3,6,7,1,3,2,11.0,2,0,2,4,2,1,1,01,01,2,,,,2,,,,1,2,01,01,1,1,01,1,1,01,2,,,2,,,2,,,2,,,1,6.85,1,25.0,4,NaN,1,90.0,1,170.0,4,NaN,4,NaN,4,NaN,60.0,1.0,1.0,1,3,6,8,1,51.0,1,5,1,39.0,2,6,1,1,10
1,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,0,0,0,0,0,0,0,0,2,98.0,1,4,0,0,40.0,1,0.0,4,2,0,0,0,0,0,0,0,2,4,1,4,6,2,NaN,2,NaN,2,NaN,2,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,,1,3,6,7,1,4,2,2.0,1,0,2,4,2,1,1,01,01,1,2,01,01,2,,,,2,,,,2,,,1,3,01,1,2,01,2,,,2,,,2,,,1,8.00,1,25.0,4,NaN,1,68.0,1,196.0,4,NaN,4,NaN,1,65.0,85.0,15.0,62.0,1,3,5,8,1,40.0,1,5,1,40.0,1,5,1,1,16
2,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,0,0,0,0,0,0,0,0,2,22.0,2,4,0,0,22.0,0,0.0,0,5,0,0,0,0,0,0,0,2,4,2,4,6,2,NaN,2,NaN,2,NaN,2,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,,1,3,6,7,1,4,2,22.0,2,0,2,4,2,1,1,04,01,2,,,,1,1,04,01,2,,,,2,,,1,1,08,2,,,2,,,2,,,2,,,1,6.00,1,25.0,4,NaN,1,70.0,4,NaN,4,NaN,4,NaN,4,NaN,93.0,600.0,2.0,1,3,6,8,1,42.0,1,5,1,48.0,1,5,1,1,17
3,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,0,0,0,0,0,0,0,0,2,16.0,2,4,0,0,16.0,0,0.0,0,11,0,0,0,0,0,0,0,2,4,2,4,6,2,NaN,2,NaN,2,NaN,2,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,,1,3,6,7,1,4,2,7.0,1,0,2,4,2,2,,,,1,2,16,01,1,2,04,01,2,,,,2,,,1,1,08,2,,,2,,,2,,,2,,,4,NaN,1,25.0,4,NaN,1,10.0,1,70.0,4,NaN,4,NaN,4,NaN,82.0,4.0,2.0,1,3,6,8,1,40.0,1,5,1,44.0,1,5,1,1,20
4,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,0,0,0,0,0,0,0,0,2,12.0,2,4,0,0,12.0,0,0.0,0,5,0,0,0,0,0,0,0,2,4,2,4,6,2,NaN,2,NaN,2,NaN,2,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,,1,3,6,7,1,4,2,12.0,1,0,2,4,2,1,1,01,16,1,2,04,04,1,2,04,04,2,,,,1,2,08,1,1,08,2,,,2,,,2,,,2,,,4,NaN,1,25.0,4,NaN,3,300.0,1,70.0,4,NaN,4,NaN,4,NaN,52.0,66.0,5.0,1,3,6,8,1,47.0,1,5,1,49.0,1,5,1,1,16

In [16]:
df_2014_podes_1.head()

,levelwila,r101,Province name,r102,Regency/city name,r103,Sub -district name,r104,Village/kelurahan name,Government status,r302,Map of the village/kelurahan stipulated in the Regent/Mayor Regulation or Governor,r304a,r304bak2,r304bak3,r304bak4,r304bbk2,r304bbk3,r304bbk4,r304bck2,r304bck3,r304bck4,r304bdk2,r304bdk3,r304bdk4,r305a1,r305b,r306a,r307a,r307b1a,r307b1b,r307b1c,r307b1d,r307b1e,r307b2,r308a,r308b,r403a,r403b1,r403b2,r403c,r404a,r404b1,r404b2,Number of families of PLN electricity users,Number of Non PLN Electric User Families,Number of Families Non -Electric User,Lighting on the main road/kelurahan road,"If there is lighting on the main road of the village/kelurahan (R402A coded 1 or 2), the type of lighting",r503,r504,r505a,r505b,"Waste Management Activities: Processing/Recycling of Waste/Waste (Reuse, Recycle) for the past year",The use of defecating facilities for most families in the village/kelurahan,Final Disposal Sites Most Families,r508ak2,r508ak3,r508ak4,r508b1k2,r508b1k3,r508b1k4,r508b2k2,r508b2k3,r508b2k4,r508b3k2,r508b3k3,r508b3k4,r508b4k2,r508b4k3,r508b4k4,r508b5k2,r508b5k3,r508b5k4,r508b6k2,r508b6k4,r508b7k2,r508b7k4,r509b,r509c1,r509c2,r509c3,r509d1,r509d2,r510a,r510b,r510c1,r510c2,r510c3,r511a,r511b1,r511b2,r511b3,r512ak2,r512a1k3,r512ak4,r512bk2,r512b1k3,r512bk4,r512ck2,r512c1k3,r512ck4,r513,r514,Type/Level of Education: State Early Childhood Education Post (PAUD),Type/Level of Education: Private Early Childhood Education Post (PAUD),Distance to Early Childhood Education Post (PAUD) (Km),Ease of access to Early Childhood Education Post (PAUD),r601ak6,r601ak7,r601ak8,Types/levels of education: TK Negeri,Type/level of education: private kindergarten,Distance to kindergarten (km),Ease of access to kindergarten,r601bk6,r601bk7,r601bk8,Type/level of education: RA/BA Negeri,Type/level of education: RA/BA Private,Distance to ra/ba (km),Ease of access to RA/BA,r601ck6,r601ck7,r601ck8,Type/level of education: SD Negeri,Type/level of education: private elementary school,Distance to SD (KM),Ease of access to SD,r601dk6,r601dk7,r601dk8,Type/level of education: MI Negeri,Types/levels of education: Private MI,Distance to mi (km),Ease of access to MI,r601ek6,r601ek7,r601ek8,Type/level of education: SMP Negeri,Type/level of education: private junior high school,Distance to junior high school (km),Ease of access to junior high school,r601fk6,r601fk7,r601fk8,Type/Level of Education: MTs Negeri,Type/Level of Education: Private MTs,Distance to MTs (km),Ease of access to MTs,r601gk6,r601gk7,r601gk8,Type/Level of Education: SMA Negeri,Type/level of education: private high school,Distance to high school (km),Ease of access to high school,r601hk6,r601hk7,r601hk8,Type/level of education: MA Negeri,Type/level of education: MA Private,Distance to MA (km),Ease of access to MA,r601ik6,r601ik7,r601ik8,Type/level of education: State Vocational School,Type/level of education: private vocational school,Distance to SMK (KM),Ease of access to SMK,r601jk6,r601jk7,r601jk8,r602a,r602b,r602c,r602d
0,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,1,1,1,1,DUSUN,7,2.0,,,NaN,,,NaN,,,NaN,1,3,1,1,1,4,6,8,2,1,2,1,2,NaN,NaN,2,1,1,2,60,0,9,2,,4,1,2,2,4,4,3,1,1,2,2,2,,2,2,,1,1,,2,2,,2,2,,2,,2,,2,NaN,NaN,NaN,1,1,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,1,2,1,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,7
1,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,1,1,1,1,DUSUN,7,2.0,,,NaN,,,NaN,,,NaN,1,3,1,1,1,4,6,8,1,2,3,,2,NaN,NaN,2,1,1,1,104,0,7,1,1,4,1,2,2,4,5,4,1,2,2,2,,,2,,,2,,,2,,,2,,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,7
2,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,1,1,1,1,DUSUN,7,2.0,,,NaN,,,NaN,,,NaN,1,3,1,1,2,4,6,8,1,2,3,,1,1.0,0.0,2,1,1,1,108,0,17,2,,4,1,2,2,4,1,4,1,1,2,1,2,,2,2,,1,1,,2,2,,2,2,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,7
3,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,1,1,1,1,DUSUN,7,4.0,,,NaN,,,NaN,,,NaN,1,3,1,1,1,4,6,8,2,2,2,1,2,NaN,NaN,2,1,1,2,140,0,14,2,,4,4,2,2,4,8,7,1,2,2,1,,,2,,,2,,,2,,,2,,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,8
4,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,1,1,1,1,DUSUN,7,3.0,,,NaN,,,NaN,,,NaN,1,1,1,1,1,4,6,8,2,1,2,1,2,NaN,NaN,2,1,1,1,84,0,20,2,,4,4,2,2,4,5,4,1,2,2,1,,,1,,,2,,,2,,,2,,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,8

In [17]:
df_2014_podes_2.head()

,levelwila,r101,Province name,r102,Regency/city name,r103,Sub -district name,r104,Village/kelurahan name,Availability of facilities/field: soccer,Activity Group: Football,r701ak4,Availability of facilities/field: volleyball,Activity Group: Volleyball,r701bk4,Availability of facilities/field: badminton,Activity Group: Badminton,r701ck4,Availability of facilities/field: basketball,Activity Group: Basketball,r701dk4,Availability of Facilities/Field: Field Tennis,Activity Group: Field Tennis,r701ek4,Availability of Facilities/Field: Table Tennis,Activity Group: Table Tennis,r701fk4,Availability of Facilities/Field: Futsal,Activity Group: Futsal,r701gk4,Activity Group: Swimming,"Activity Group: self -defense (pencak silat, karate, etc.)",Activity Group: Billiard,r702a,r702b,r702c,r702d,r702e,r702f,r703a,r703b,r703c,r703d,r703e,r703f,r703g,r704ak2,r704ak3,r704ak4,r704ak5,r704bk2,r704bk3,r704bk4,r704bk5,r704ck2,r704ck3,r704ck4,r704ck5,r704dk2,r704dk3,r704dk4,r704dk5,r704ek2,r704ek3,r704ek4,r704ek5,r704fk2,r704fk3,r704fk4,r704fk5,r704gk2,r704gk3,r704gk4,r704gk5,r704hk2,r704hk3,r704hk4,r704hk5,r704ik2,r704ik3,r704ik4,r704ik5,r704jk2,r704jk3,r704jk4,r704jk5,r704kk2,r704kk3,r704lk2,r704lk3,r704lk4,r704lk5,r704mk2,r704mk4,r704mk5,r705a,r705b,r706a1,r706a2,r706b,r706c,r706d,r707,r708,r709ak2,r709ak3,r709ak4,r709bk2,r709bk3,r709bk4,r709ck2,r709ck3,r709ck4,r709dk2,r709dk3,r709dk4,r709ek2,r709ek3,r709ek4,r709fk2,r709fk3,r709fk4,r709gk2,r709gk3,r709gk4,r709hk2,r709hk3,r709hk4,r710,r711a,r711b,r711c,r80101,r80102,r80103,r80104,r80105,r80106,r80107,r802,The number of families subscribed to cable phones,The presence of residents who use cell phones/mobile phones,r803c,r803d,r803e,r803f,r803g,r803h,r804a1,r804b1,Number of Cell Phone Tower or Base Transceiver Station (BTS),Number of cellular/mobile phone communication service operators that reach the village/kelurahan,Cellular/mobile phone signals in most villages/kelurahan areas,Cell phone/mobile phone signals in most areas in the village/kelurahan,r805e,r805f,r805g,r805h,r805i,r806,Post/post office/post house,Mobile Post Service,r901,r902a1,r902a2,r902b1,r902b2,"Number of Government Commercial Banks (for example: BRI, BNI, Mandiri, BPD, BTN, etc.)",Closest distance to government commercial banks,"Number of private commercial banks (for example: BCA, Permata, Sinarmas, CIMB, etc.)",Closest distance to private commercial banks,Number of People's Credit Banks (BPR),The closest distance to the People's Credit Bank (BPR),r903dk2,r903dk3,r903ek2,r903ek3,r903fk2,r903fk3,r903gk2,r903gk3,r903hk2,r903hk3,r903ik2,r903ik3,r903jk2,r903jk3,r904,r1001a,r1001b1,r1001b2,r1001c1,r1001c2,r1001c3,r1002ak2,r1002ak3,r1002ak4,r1002ak5,r1002ak6,r1002ak7,r1002bk2,r1002bk3,r1002bk4,r1002bk5,r1002bk6,r1002bk7,r1002ck2,r1002ck3,r1002ck4,r1002ck5,r1002ck6,r1002ck7,r1002dk2,r1002dk3,r1002dk4,r1002dk5,r1002dk6,r1002dk7,r1003a,r1003b,r1004a,r1004b,Development/maintenance of environmental security posts over the past year,The formation/setting of security teams for the past year,r1006,r1007a,r1007b,r1008a,r1008b,r1008c,r1009ak2,r1009ak3,r1009bk2,r1009bk3,r1009ck2,r1009ck3,r1009dk2,r1009dk3,r1103ak4,r1103ak5,r1103ak6,r1103ak7,r1103bk2,r1103bk3,r1103bk6,r1103bk7,r1103ck2,r1103ck3,r1103ck4,r1103ck5
0,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,0,0,10.0,1,0,NaN,0,0,5.0,0,0,11.0,0,0,15.0,0,0,99.0,0,0,99.0,0,0,0,2,4,6,8,2,4,0,0,0,0,0,0,0,2,NaN,36.0,2,2,NaN,36.0,2,2,NaN,NaN,,2,NaN,NaN,,1,1.0,NaN,,2,NaN,36.0,2,2,NaN,36.0,2,2,NaN,36.0,2,2,NaN,99.0,2,2,NaN,36.0,2,1,1.0,2,NaN,36.0,2,2,36.0,2,1.0,0.0,0,0,0,1,0,1,3,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,200,10,25,1,4,6,8,2,4,6,01,1,1,0,0,0,0,0,0,1,2,3,1,0,0,0,1,1,0,0,0,1,3,2,2,99.0,2,99.0,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2,1,2,2,2,11,1,2,,,10.0,36,1,2,,,20.0,25,1,2,,,20.0,99,11,1,14,08,100.0,2,NaN,2,4,1,1,2,2,4,2,4,6,1,1,2,,1,1,1,1,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN
1,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,1,0,NaN,1,0,NaN,0,0,2.0,0,0,2.0,0,0,20.0,0,0,99.0,0,0,99.0,0,0,0,2,3,6,8,2,4,0,0,0,0,0,0,0,2,NaN,40.0,2,2,NaN,40.0,2,2,NaN,2.0,1,2,NaN,2.0,1,2,NaN,1.0,1,2,NaN,40.0,2,2,NaN,40.0,2,2,NaN,40.0,2,2,NaN,40.0,2,2,NaN,40.0,2,1,1.0,2,NaN,40.0,2,2,40.0,2,1.0,0.0,0,0,0,5,1,2,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,30,22,33,1,4,6,8,2,4,6,01,1,0,0,0,0,0,0,0,1,2,0,1,0,0,3,0,0,0,0,0,1,3,1,2,98.0,2,98.0,1,1,1,1,2,2,2,2,2,2,2,2,1,1,2,2,2,2,2,2,2,1,1,1,2,1,2,2,1,2,,,5.0,40,1,2,,,20.0,30,1,2,,,15.0,99,10,1,14,04,100.0,2,NaN,2,4,2,1,2,2,4,2,4,6,1,1,2,,1,1,1,1,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN
2,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,0,1,NaN,1,0,NaN,0,0,5.0,0,1,NaN,0,1,NaN,0,0,99.0,0,0,99.0,0,0,0,2,4,6,8,2,4,0,0,0,0,0,0,0,2,NaN,23.0,1,2,NaN,23.0,1,2,NaN,NaN,,2,NaN,NaN,,1,1.0,NaN,,2,NaN,23.0,1,2,NaN,23.0,1,2,NaN,23.0,1,2,NaN,23.0,1,2,NaN,23.0,1,1,1.0,2,NaN,23.0,1,2,23.0,1,1.0,0.0,0,0,0,1,1,1,1,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,138,18,0,1,4,6,8,2,4,6,01,1,1,0,0,0,0,0,0,1,1,1,3,3,3,0,2,0,0,0,0,1,3,2,2,99.0,2,99.0,1,1,1,1,1,1,2,2,2,2,1,1,2,2,2,2,2,2,2,2,2,1,1,1,2,1,2,24,1,2,,,10.0,23,1,2,,,10.0,15,1,2,,,10.0,99,10,1,14,04,100.0,2,NaN,2,4,2,2,2,2,4,2,4,6,1,1,2,,1,1,1,1,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN
3,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,0,1,NaN,1,0,NaN,1,0,NaN,0,0,1.0,0,0,16.0,0,0,99.0,0,0,99.0,0,0,0,2,4,6,8,2,4,0,0,0,0,0,0,0,2,NaN,16.0,1,2,NaN,16.0,1,2,NaN,NaN,,2,NaN,NaN,,1,1.0,NaN,,2,NaN,16.0,1,2,NaN,16.0,1,2,NaN,16.0,1,2,NaN,16.0,1,2,NaN,16.0,1,1,1.0,2,NaN,16.0,1,2,16.0,1,1.0,0.0,0,0,0,1,1,1,3,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,250,31,0,1,4,6,8,2,4,6,01,2,0,0,0,0,0,0,0,1,1,1,2,2,2,2,1,1,0,3,0,1,3,2,2,99.0,2,99.0,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2,1,3,,,7,1,2,,,6.0,16,1,2,,,14.0,16,1,2,,,15.0,99,10,1,14,04,100.0,2,NaN,2,4,2,2,2,2,4,2,4,6,1,1,1,1,1,1,1,1,2,NaN,2,NaN,1,70.0,2,NaN,1,20.0,2,NaN
4,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,0,0,4.0,1,0,NaN,1,0,NaN,1,0,NaN,0,0,12.0,0,0,99.0,0,0,99.0,0,0,0,2,4,6,8,1,4,0,0,0,0,0,0,0,2,NaN,26.0,1,2,NaN,26.0,1,2,NaN,NaN,,2,NaN,NaN,,1,1.0,NaN,,2,NaN,26.0,1,2,NaN,26.0,1,2,NaN,26.0,1,2,NaN,26.0,1,2,NaN,26.0,1,1,1.0,2,NaN,26.0,1,2,26.0,1,1.0,0.0,0,0,0,1,2,1,1,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,120,61,0,1,4,6,8,2,4,6,01,1,2,0,0,0,0,0,0,1,1,0,1,0,0,1,2,0,0,0,0,1,3,2,2,99.0,2,99.0,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,3,,,11,1,2,,,5.0,26,1,2,,,20.0,26,1,2,,,30.0,99,10,1,14,04,100.0,2,NaN,2,4,2,1,2,2,4,2,4,6,1,1,1,1,1,1,1,1,2,NaN,2,NaN,1,50.0,2,NaN,1,35.0,2,NaN

In [18]:
df_2014_podes_3.head()

,levelwila,r101,Province name,r102,Regency/city name,r103,Sub -district name,r104,Village/kelurahan name,Village cash/customary land,"Village -owned buildings (Village Hall, Rakyat Hall, etc.)",Other village assets,r1201d,r1201e,r1201f,r1201g,r1201h,r1202a,r1202b,r1203a,r1203b,r1204a,r1204b,r1204c,r1205,r1206,r1207,r1208,r1209,r1210,r1211,r1212a,r1212b,r1212c,r1212d,r1213a,r1213b,r1214a,r1214b,r1214c,r1215ak2,r1215ak3,r1215bk2,r1215bk3,r1215ck2,r1215ck3,r1301a,r1301b1k2,r1301b1k3,r1301b1k4,r1301b1k5,r1301b2k2,r1301b2k3,r1301b2k4,r1301b2k5,r1301b3k2,r1301b3k3,r1301b3k4,r1301b3k5,r1301b4k2,r1301b4k3,r1301b4k4,r1301b4k5,r1301b5k2,r1301b5k3,r1301b5k4,r1301b5k5,r1301b6k2,r1301b6k3,r1301b6k4,r1301b6k5,r1301b7k2,r1301b7k3,r1301b7k4,r1301b7k5,"Number of Village/Kelurahan Secretariat (Kaur Finance, Planning Kaur, etc.)","Number of Technical Implementers (Head of Government, Head of Welfare, etc.)",r1303a01k3,r1303a01k4,r1303a02k3,r1303a02k4,r1303a03k3,r1303a03k4,r1303a04k3,r1303a04k4,r1303a05k3,r1303a05k4,r1303a06k3,r1303a06k4,r1303a07k3,r1303a07k4,r1303a08k3,r1303a08k4,r1303a09k3,r1303a09k4,r1303a10k3,r1303a10k4,r1303b,r1304a,r1304b,r1304c,r1304d,r1304e,r1305,r1306a,r1306b1,r1306b2,r1307,r1308a,r1308b,r1309,r1401a1k2,r1401a1k3,r1401a1k4,r1401a1k5,r1401a2k2,r1401a2k3,r1401a2k4,r1401a2k5,r1401a3k2,r1401a3k3,r1401a3k4,r1401a3k5,r1401a4k2,r1401a4k3,r1401a4k4,r1401a4k5,r1401b1k2,r1401b1k3,r1401b1k5,r1401b2k2,r1401b2k3,r1401b2k5,r1401b3k2,r1401b3k3,r1401b3k5,r1401c1k2,r1401c1k3,r1401c1k5,r1401c2k2,r1401c2k3,r1401c2k5,r1401c3k2,r1401c3k3,r1401c3k5,r1501ak2,r1501ak3,r1501bk2,r1501bk3,r1501c1k2,r1501c1k3,r1501c2k2,r1501c2k3,r1501c3k2,r1501c3k3,r1501c4k2,r1501c4k3,r1501c5k2,r1501c5k3,r1501c6k2,r1501c6k3,r1502a,r1502b,r1502c,r1503a,r1503b,r1503c,r1503d,r1601ak2,r1601ak3,r1601ak4,r1601ak5,r1601bk2,r1601bk3,r1601bk4,r1601bk5,r1601ck2,r1601dk2,r1602
0,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,0,0,0,0,0,0,0,0,2,36.0,2,4,0,0,36.0,0,0.0,2,0,0,0,0,0,0,0,0,2,4,2,4,6,2,NaN,2,NaN,2,NaN,2,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,,1,3,6,7,1,3,2,11.0,2,0,2,4,2,1,1,01,01,2,,,,2,,,,1,2,01,01,1,1,01,1,1,01,2,,,2,,,2,,,2,,,1,6.85,1,25.0,4,NaN,1,90.0,1,170.0,4,NaN,4,NaN,4,NaN,60.0,1.0,1.0,1,3,6,8,1,51.0,1,5,1,39.0,2,6,1,1,10
1,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,0,0,0,0,0,0,0,0,2,98.0,1,4,0,0,40.0,1,0.0,4,2,0,0,0,0,0,0,0,2,4,1,4,6,2,NaN,2,NaN,2,NaN,2,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,,1,3,6,7,1,4,2,2.0,1,0,2,4,2,1,1,01,01,1,2,01,01,2,,,,2,,,,2,,,1,3,01,1,2,01,2,,,2,,,2,,,1,8.00,1,25.0,4,NaN,1,68.0,1,196.0,4,NaN,4,NaN,1,65.0,85.0,15.0,62.0,1,3,5,8,1,40.0,1,5,1,40.0,1,5,1,1,16
2,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,0,0,0,0,0,0,0,0,2,22.0,2,4,0,0,22.0,0,0.0,0,5,0,0,0,0,0,0,0,2,4,2,4,6,2,NaN,2,NaN,2,NaN,2,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,,1,3,6,7,1,4,2,22.0,2,0,2,4,2,1,1,04,01,2,,,,1,1,04,01,2,,,,2,,,1,1,08,2,,,2,,,2,,,2,,,1,6.00,1,25.0,4,NaN,1,70.0,4,NaN,4,NaN,4,NaN,4,NaN,93.0,600.0,2.0,1,3,6,8,1,42.0,1,5,1,48.0,1,5,1,1,17
3,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,0,0,0,0,0,0,0,0,2,16.0,2,4,0,0,16.0,0,0.0,0,11,0,0,0,0,0,0,0,2,4,2,4,6,2,NaN,2,NaN,2,NaN,2,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,,1,3,6,7,1,4,2,7.0,1,0,2,4,2,2,,,,1,2,16,01,1,2,04,01,2,,,,2,,,1,1,08,2,,,2,,,2,,,2,,,4,NaN,1,25.0,4,NaN,1,10.0,1,70.0,4,NaN,4,NaN,4,NaN,82.0,4.0,2.0,1,3,6,8,1,40.0,1,5,1,44.0,1,5,1,1,20
4,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,0,0,0,0,0,0,0,0,2,12.0,2,4,0,0,12.0,0,0.0,0,5,0,0,0,0,0,0,0,2,4,2,4,6,2,NaN,2,NaN,2,NaN,2,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,NaN,,,,,,2,,2,,2,,2,,2,,2,,2,,2,,2,,2,,,1,3,6,7,1,4,2,12.0,1,0,2,4,2,1,1,01,16,1,2,04,04,1,2,04,04,2,,,,1,2,08,1,1,08,2,,,2,,,2,,,2,,,4,NaN,1,25.0,4,NaN,3,300.0,1,70.0,4,NaN,4,NaN,4,NaN,52.0,66.0,5.0,1,3,6,8,1,47.0,1,5,1,49.0,1,5,1,1,16

## Conclusion of 2014 dataset

### What we came to know is that the data dictionary is not covering all the coumns of the dataset so we need an updated data dictonary that will match the 2014 data

#### Lets continue analysing the 2018 dataset

In [19]:
df_2018_podes_1=pd.read_stata("podes2018_desa_part1_revisi.dta")
df_2018_podes_1.head()

,index,level_wila,r101,r101n,r102,r102n,r103,r103n,r104,r104n,r301,r302,r303,r304a,r304ba_k2,r304ba_k3,r304ba_k4,r304bb_k2,r304bb_k3,r304bb_k4,r304bc_k2,r304bc_k3,r304bc_k4,r304bd_k2,r304bd_k3,r304bd_k4,r305a1,r305b,r306a,r307a,r307b1a,r307b1b,r307b1c,r307b1d,r307b1e,r307b2,r308a,r308b,r403a,r403b1,r403b2,r403c,r404a,r404b1,r404b2,r501a1,r501a2,r501b,r502a,r502b,r503,r504,r505a,r505b,r506,r507a,r507b,r508a_k2,r508a_k3,r508a_k4,r508b1_k2,r508b1_k3,r508b1_k4,r508b2_k2,r508b2_k3,r508b2_k4,r508b3_k2,r508b3_k3,r508b3_k4,r508b4_k2,r508b4_k3,r508b4_k4,r508b5_k2,r508b5_k3,r508b5_k4,r508b6_k2,r508b6_k4,r508b7_k2,r508b7_k4,r509b,r509c1,r509c2,r509c3,r509d1,r509d2,r510a,r510b,r510c1,r510c2,r510c3,r511a,r511b1,r511b2,r511b3,r512a_k2,r512a1_k3,r512a_k4,r512b_k2,r512b1_k3,r512b_k4,r512c_k2,r512c1_k3,r512c_k4,r513,r514,r601a_k2,r601a_k3,r601a_k4,r601a_k5,r601a_k6,r601a_k7,r601a_k8,r601b_k2,r601b_k3,r601b_k4,r601b_k5,r601b_k6,r601b_k7,r601b_k8,r601c_k2,r601c_k3,r601c_k4,r601c_k5,r601c_k6,r601c_k7,r601c_k8,r601d_k2,r601d_k3,r601d_k4,r601d_k5,r601d_k6,r601d_k7,r601d_k8,r601e_k2,r601e_k3,r601e_k4,r601e_k5,r601e_k6,r601e_k7,r601e_k8,r601f_k2,r601f_k3,r601f_k4,r601f_k5,r601f_k6,r601f_k7,r601f_k8,r601g_k2,r601g_k3,r601g_k4,r601g_k5,r601g_k6,r601g_k7,r601g_k8,r601h_k2,r601h_k3,r601h_k4,r601h_k5,r601h_k6,r601h_k7,r601h_k8,r601i_k2,r601i_k3,r601i_k4,r601i_k5,r601i_k6,r601i_k7,r601i_k8,r601j_k2,r601j_k3,r601j_k4,r601j_k5,r601j_k6,r601j_k7,r601j_k8,r602a,r602b,r602c,r602d
0,0,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,1,1,1,1,DUSUN,7,2.0,,,NaN,,,NaN,,,NaN,1,3,1,1,1,4,6,8,2,1,2,1,2,NaN,NaN,2,1,1,2,60,0,9,2,,4,1,2,2,4,4,3,1,1,2,2,2,,2,2,,1,1,,2,2,,2,2,,2,,2,,2,NaN,NaN,NaN,1,1,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,1,2,1,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,7
1,1,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,1,1,1,1,DUSUN,7,2.0,,,NaN,,,NaN,,,NaN,1,3,1,1,1,4,6,8,1,2,3,,2,NaN,NaN,2,1,1,1,104,0,7,1,1,4,1,2,2,4,5,4,1,2,2,2,,,2,,,2,,,2,,,2,,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,7
2,2,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,1,1,1,1,DUSUN,7,2.0,,,NaN,,,NaN,,,NaN,1,3,1,1,2,4,6,8,1,2,3,,1,1.0,0.0,2,1,1,1,108,0,17,2,,4,1,2,2,4,1,4,1,1,2,1,2,,2,2,,1,1,,2,2,,2,2,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,7
3,3,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,1,1,1,1,DUSUN,7,4.0,,,NaN,,,NaN,,,NaN,1,3,1,1,1,4,6,8,2,2,2,1,2,NaN,NaN,2,1,1,2,140,0,14,2,,4,4,2,2,4,8,7,1,2,2,1,,,2,,,2,,,2,,,2,,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,8
4,4,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,1,1,1,1,DUSUN,7,3.0,,,NaN,,,NaN,,,NaN,1,1,1,1,1,4,6,8,2,1,2,1,2,NaN,NaN,2,1,1,1,84,0,20,2,,4,4,2,2,4,5,4,1,2,2,1,,,1,,,2,,,2,,,2,,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,8

In [20]:
df_2018_podes_1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82190 entries, 0 to 82189
Data columns (total 179 columns):
 #    Column      Dtype
---   ------      -----
 0    index       int32
 1    level_wila  object
 2    r101        object
 3    r101n       object
 4    r102        object
 5    r102n       object
 6    r103        object
 7    r103n       object
 8    r104        object
 9    r104n       object
 10   r301        object
 11   r302        object
 12   r303        object
 13   r304a       object
 14   r304ba_k2   object
 15   r304ba_k3   object
 16   r304ba_k4   float64
 17   r304bb_k2   object
 18   r304bb_k3   object
 19   r304bb_k4   float64
 20   r304bc_k2   object
 21   r304bc_k3   object
 22   r304bc_k4   float64
 23   r304bd_k2   object
 24   r304bd_k3   object
 25   r304bd_k4   float64
 26   r305a1      int8
 27   r305b       object
 28   r306a       object
 29   r307a       object
 30   r307b1a     object
 31   r307b1b     object
 32   r307b1c     object
 33   r307b1d     object
 34   r307b1e     object
 35   r307b2      object
 36   r308a       object
 37   r308b       object
 38   r403a       object
 39   r403b1      float64
 40   r403b2      float64
 41   r403c       object
 42   r404a       object
 43   r404b1      object
 44   r404b2      object
 45   r501a1      int32
 46   r501a2      int16
 47   r501b       int16
 48   r502a       object
 49   r502b       object
 50   r503        object
 51   r504        object
 52   r505a       object
 53   r505b       object
 54   r506        object
 55   r507a       object
 56   r507b       object
 57   r508a_k2    object
 58   r508a_k3    object
 59   r508a_k4    object
 60   r508b1_k2   object
 61   r508b1_k3   object
 62   r508b1_k4   object
 63   r508b2_k2   object
 64   r508b2_k3   object
 65   r508b2_k4   object
 66   r508b3_k2   object
 67   r508b3_k3   object
 68   r508b3_k4   object
 69   r508b4_k2   object
 70   r508b4_k3   object
 71   r508b4_k4   object
 72   r508b5_k2   object
 73   r508b5_k3   object
 74   r508b5_k4   object
 75   r508b6_k2   object
 76   r508b6_k4   object
 77   r508b7_k2   object
 78   r508b7_k4   object
 79   r509b       object
 80   r509c1      float64
 81   r509c2      float64
 82   r509c3      float64
 83   r509d1      object
 84   r509d2      object
 85   r510a       object
 86   r510b       object
 87   r510c1      float64
 88   r510c2      float64
 89   r510c3      float64
 90   r511a       object
 91   r511b1      float64
 92   r511b2      float64
 93   r511b3      float64
 94   r512a_k2    object
 95   r512a1_k3   object
 96   r512a_k4    object
 97   r512b_k2    object
 98   r512b1_k3   object
 99   r512b_k4    object
 100  r512c_k2    object
 101  r512c1_k3   object
 102  r512c_k4    object
 103  r513        object
 104  r514        object
 105  r601a_k2    object
 106  r601a_k3    float64
 107  r601a_k4    float64
 108  r601a_k5    float64
 109  r601a_k6    float64
 110  r601a_k7    float64
 111  r601a_k8    float64
 112  r601b_k2    object
 113  r601b_k3    float64
 114  r601b_k4    float64
 115  r601b_k5    float64
 116  r601b_k6    float64
 117  r601b_k7    float64
 118  r601b_k8    float64
 119  r601c_k2    object
 120  r601c_k3    float64
 121  r601c_k4    float64
 122  r601c_k5    float64
 123  r601c_k6    float64
 124  r601c_k7    float64
 125  r601c_k8    float64
 126  r601d_k2    object
 127  r601d_k3    float64
 128  r601d_k4    float64
 129  r601d_k5    float64
 130  r601d_k6    float64
 131  r601d_k7    float64
 132  r601d_k8    float64
 133  r601e_k2    object
 134  r601e_k3    float64
 135  r601e_k4    float64
 136  r601e_k5    float64
 137  r601e_k6    float64
 138  r601e_k7    float64
 139  r601e_k8    float64
 140  r601f_k2    object
 141  r601f_k3    float64
 142  r601f_k4    float64
 143  r601f_k5    float64
 144  r601f_k6    float64
 145  r601f_k7    float64
 146  r601f_k8    float64
 147  r601g_k2    object
 148  r601g_k3    float64
 149  r601g_k4    float64
 150  r601g_k5    float64
 151  r601g_k6    float64
 152  r601g_k7    float64
 153  r601g_k8    float64
 154  r601h_k2    object
 155  r601h_k3    float64
 156  r601h_k4    float64
 157  r601h_k5    float64
 158  r601h_k6    float64
 159  r601h_k7    float64
 160  r601h_k8    float64
 161  r601i_k2    object
 162  r601i_k3    float64
 163  r601i_k4    float64
 164  r601i_k5    float64
 165  r601i_k6    float64
 166  r601i_k7    float64
 167  r601i_k8    float64
 168  r601j_k2    object
 169  r601j_k3    float64
 170  r601j_k4    float64
 171  r601j_k5    float64
 172  r601j_k6    float64
 173  r601j_k7    float64
 174  r601j_k8    float64
 175  r602a       object
 176  r602b       object
 177  r602c       object
 178  r602d       object
dtypes: float64(75), int16(2), int32(2), int8(1), object(99)
memory usage: 110.1+ MB

In [21]:
df_2018_podes_2=pd.read_stata("podes2018_desa_part2_revisi.dta")
df_2018_podes_2.head()

,r101,r101n,r102,r102n,r103,r103n,r104,r104n,r601ak2,r601ak3,r601ak4,r601ak5,r601ak6,r601ak7,r601ak8,r601bk7,r601bk8,r601bk2,r601bk3,r601bk4,r601bk5,r601bk6,r601ck2,r601ck3,r601ck4,r601ck5,r601ck6,r601ck7,r601ck8,r601dk2,r601dk3,r601dk4,r601dk5,r601dk6,r601dk7,r601dk8,r601ek2,r601ek3,r601ek4,r601ek5,r601ek6,r601ek7,r601ek8,r601fk2,r601fk3,r601fk4,r601fk5,r601fk6,r601fk7,r601fk8,r601gk2,r601gk3,r601gk4,r601gk5,r601gk6,r601gk7,r601gk8,r601hk2,r601hk3,r601hk4,r601hk5,r601hk6,r601hk7,r601hk8,r601ik2,r601ik3,r601ik4,r601ik5,r601ik6,r601ik7,r601ik8,r601jk2,r601jk3,r601jk4,r601jk5,r601jk6,r601jk7,r601jk8,r602a,r602b,r602c,r602d,r602e,r701ak2,r701ak3,r701ak4,r701ak5,r701bk2,r701bk3,r701bk4,r701bk5,r701ck2,r701ck3,r701ck4,r701ck5,r701dk2,r701dk3,r701dk4,r701dk5,r701ek2,r701ek3,r701ek4,r701ek5,r701fk2,r701fk3,r701fk4,r701fk5,r701gk2,r701gk3,r701gk4,r701gk5,r701hk2,r701hk3,r701ik2,r701ik3,r701jk2,r701jk3,r701kk3,r701lk3,r701mk3,r702a,r702b,r702c,r702d,r702e,r702f,r703ak2,r703ak3,r703bk2,r703bk3,r703ck2,r703ck3,r703dk2,r703dk3,r703ek2,r703ek3,r703fk2,r703fk3,r703gk2,r703gk3,r704ak2,r704ak3,r704ak4,r704bk2,r704bk3,r704bk4,r704ck2,r704ck3,r704ck4,r704dk2,r704dk3,r704dk4,r704ek2,r704ek3,r704ek4,r704fk2,r704fk3,r704fk4,r704gk2,r704gk3,r704gk4,r704hk2,r704hk3,r704hk4,r704ik2,r704ik3,r704ik4,r704jk2,r704jk3,r704jk4,r704kk2,r704kk3,r704kk4,r704lk2,r704lk3,r704lk4,r704mk2,r704mk3,r704mk4,r705a,r705b,r705c,r706a1,r706a2,r706b,r706c,r706d,r707,r708,r709ak2,r709ak3,r709ak4,r709bk2,r709bk3,r709bk4,r709ck2,r709ck3,r709ck4,r709dk2,r709dk3,r709dk4,r709ek2,r709ek3,r709ek4,r709fk2,r709fk3,r709fk4,r709gk2,r709gk3,r709gk4,r709hk2,r709hk3,r709hk4,r710,r711a,r711b
0,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,8,2,0,0,7.0,1.0,0,0,2.0,2.0,1,0,NaN,NaN,0,0,6.0,2.0,0,0,4.0,2.0,0,0,11.0,3.0,0,0,40.0,3.0,0,0,0,0,0,0,0,0,0,2,4,6,8,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40.0,3.0,0,40.0,3.0,0,11.0,2.0,0,99.900002,4.0,1,NaN,NaN,0,40.0,3.0,0,40.0,3.0,0,99.900002,4.0,0,40.0,3.0,0,99.900002,4.0,0,40.0,3.0,0,40.0,3.0,0,99.900002,4.0,1,0,0,0,0,0,1,3,1,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,220,10
1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,1,1.0,0.0,1.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,0.0,2.0,0.0,5.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,0.0,2.0,0.0,3.0,0.0,1,2.0,0.0,1.0,0.0,5.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,2.0,0.0,2.0,0.0,1,4,6,8,2,0,0,60.0,3.0,0,1,NaN,NaN,1,0,NaN,NaN,0,0,2.0,2.0,0,0,2.0,2.0,0,0,30.0,3.0,0,0,60.0,3.0,0,0,0,0,0,0,0,0,0,2,4,6,8,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60.0,3.0,0,60.0,3.0,0,1.0,3.0,0,1.000000,1.0,0,1.0,1.0,0,6.0,3.0,0,60.0,3.0,0,60.000000,3.0,0,60.0,3.0,0,60.000000,3.0,0,2.0,3.0,0,6.0,3.0,0,6.000000,3.0,0,1,0,0,0,0,2,5,1,0,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,1,5.0,0.0,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,0,86
2,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,8,2,0,0,25.0,2.0,0,1,NaN,NaN,1,0,NaN,NaN,0,0,1.0,2.0,1,0,NaN,NaN,1,0,NaN,NaN,0,0,23.0,3.0,0,0,0,0,0,0,0,0,0,2,4,6,8,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22.0,2.0,0,22.0,2.0,0,28.0,2.0,0,28.000000,2.0,1,NaN,NaN,0,22.0,2.0,0,22.0,2.0,0,22.000000,2.0,0,22.0,2.0,0,1.000000,1.0,0,22.0,2.0,0,22.0,2.0,0,22.000000,2.0,1,0,0,0,0,0,1,0,1,1,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,0,31
3,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,2.0,0.0,2.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,0.0,3.0,0.0,3.0,0.0,1,1.0,0.0,2.0,0.0,2.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,2.0,0.0,2.0,0.0,2,4,6,8,2,0,0,30.0,2.0,0,1,NaN,NaN,1,0,NaN,NaN,1,0,NaN,NaN,0,0,2.0,2.0,0,0,17.0,3.0,0,0,17.0,3.0,0,0,0,0,0,0,0,0,0,2,4,6,8,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7.0,3.0,0,17.0,3.0,0,7.0,3.0,0,17.000000,3.0,1,NaN,NaN,0,17.0,3.0,0,17.0,3.0,0,17.000000,3.0,0,17.0,3.0,0,17.000000,3.0,0,17.0,3.0,0,17.0,3.0,0,17.000000,3.0,1,0,0,0,0,0,1,0,1,4,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,260,80
4,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,2.0,0.0,2.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,0.0,3.0,0.0,3.0,0.0,1,1.0,0.0,1.0,0.0,1.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,2.0,0.0,2.0,0.0,2,4,6,7,2,0,0,2.0,2.0,0,0,20.0,3.0,1,0,NaN,NaN,1,0,NaN,NaN,1,0,NaN,NaN,0,0,20.0,3.0,0,0,20.0,3.0,0,0,0,0,0,0,0,0,0,2,4,6,8,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,26.0,2.0,0,26.0,2.0,0,11.0,2.0,0,11.000000,2.0,1,NaN,NaN,0,26.0,2.0,0,26.0,2.0,0,26.000000,2.0,0,26.0,2.0,0,99.000000,3.0,0,99.0,3.0,0,26.0,2.0,0,26.000000,2.0,1,0,0,0,0,0,1,4,1,3,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,5,150,60

In [22]:
df_2018_podes_2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83931 entries, 0 to 83930
Data columns (total 216 columns):
 #    Column   Dtype
---   ------   -----
 0    r101     object
 1    r101n    object
 2    r102     object
 3    r102n    object
 4    r103     object
 5    r103n    object
 6    r104     object
 7    r104n    object
 8    r601ak2  int8
 9    r601ak3  float64
 10   r601ak4  float64
 11   r601ak5  float64
 12   r601ak6  float64
 13   r601ak7  float64
 14   r601ak8  float64
 15   r601bk7  float64
 16   r601bk8  float64
 17   r601bk2  int8
 18   r601bk3  float64
 19   r601bk4  float64
 20   r601bk5  float64
 21   r601bk6  float64
 22   r601ck2  int8
 23   r601ck3  float64
 24   r601ck4  float64
 25   r601ck5  float64
 26   r601ck6  float64
 27   r601ck7  float64
 28   r601ck8  float64
 29   r601dk2  int8
 30   r601dk3  float64
 31   r601dk4  float64
 32   r601dk5  float64
 33   r601dk6  float64
 34   r601dk7  float64
 35   r601dk8  float64
 36   r601ek2  int8
 37   r601ek3  float64
 38   r601ek4  float64
 39   r601ek5  float64
 40   r601ek6  float64
 41   r601ek7  float64
 42   r601ek8  float64
 43   r601fk2  int8
 44   r601fk3  float64
 45   r601fk4  float64
 46   r601fk5  float64
 47   r601fk6  float64
 48   r601fk7  float64
 49   r601fk8  float64
 50   r601gk2  int8
 51   r601gk3  float64
 52   r601gk4  float64
 53   r601gk5  float64
 54   r601gk6  float64
 55   r601gk7  float64
 56   r601gk8  float64
 57   r601hk2  int8
 58   r601hk3  float64
 59   r601hk4  float64
 60   r601hk5  float64
 61   r601hk6  float64
 62   r601hk7  float64
 63   r601hk8  float64
 64   r601ik2  int8
 65   r601ik3  float64
 66   r601ik4  float64
 67   r601ik5  float64
 68   r601ik6  float64
 69   r601ik7  float64
 70   r601ik8  float64
 71   r601jk2  int8
 72   r601jk3  float64
 73   r601jk4  float64
 74   r601jk5  float64
 75   r601jk6  float64
 76   r601jk7  float64
 77   r601jk8  float64
 78   r602a    int8
 79   r602b    int8
 80   r602c    int8
 81   r602d    int8
 82   r602e    int8
 83   r701ak2  int8
 84   r701ak3  int8
 85   r701ak4  float32
 86   r701ak5  float64
 87   r701bk2  int8
 88   r701bk3  int8
 89   r701bk4  float32
 90   r701bk5  float64
 91   r701ck2  int8
 92   r701ck3  int8
 93   r701ck4  float32
 94   r701ck5  float64
 95   r701dk2  int8
 96   r701dk3  int8
 97   r701dk4  float32
 98   r701dk5  float64
 99   r701ek2  int8
 100  r701ek3  int8
 101  r701ek4  float32
 102  r701ek5  float64
 103  r701fk2  int8
 104  r701fk3  int8
 105  r701fk4  float32
 106  r701fk5  float64
 107  r701gk2  int8
 108  r701gk3  int8
 109  r701gk4  float32
 110  r701gk5  float64
 111  r701hk2  int8
 112  r701hk3  int8
 113  r701ik2  int8
 114  r701ik3  int8
 115  r701jk2  int8
 116  r701jk3  int8
 117  r701kk3  int8
 118  r701lk3  int8
 119  r701mk3  int8
 120  r702a    int8
 121  r702b    int8
 122  r702c    int8
 123  r702d    int8
 124  r702e    int8
 125  r702f    int8
 126  r703ak2  int8
 127  r703ak3  int8
 128  r703bk2  int8
 129  r703bk3  int8
 130  r703ck2  int8
 131  r703ck3  int8
 132  r703dk2  int8
 133  r703dk3  int8
 134  r703ek2  int8
 135  r703ek3  int8
 136  r703fk2  int8
 137  r703fk3  int8
 138  r703gk2  int8
 139  r703gk3  int8
 140  r704ak2  int8
 141  r704ak3  float32
 142  r704ak4  float64
 143  r704bk2  int8
 144  r704bk3  float32
 145  r704bk4  float64
 146  r704ck2  int8
 147  r704ck3  float32
 148  r704ck4  float64
 149  r704dk2  int8
 150  r704dk3  float32
 151  r704dk4  float64
 152  r704ek2  int8
 153  r704ek3  float32
 154  r704ek4  float64
 155  r704fk2  int8
 156  r704fk3  float32
 157  r704fk4  float64
 158  r704gk2  int8
 159  r704gk3  float32
 160  r704gk4  float64
 161  r704hk2  int8
 162  r704hk3  float32
 163  r704hk4  float64
 164  r704ik2  int8
 165  r704ik3  float32
 166  r704ik4  float64
 167  r704jk2  int8
 168  r704jk3  float32
 169  r704jk4  float64
 170  r704kk2  int8
 171  r704kk3  float32
 172  r704kk4  float64
 173  r704lk2  int8
 174  r704lk3  float32
 175  r704lk4  float64
 176  r704mk2  int8
 177  r704mk3  float32
 178  r704mk4  float64
 179  r705a    int8
 180  r705b    int8
 181  r705c    int8
 182  r706a1   int8
 183  r706a2   int8
 184  r706b    int8
 185  r706c    int8
 186  r706d    int8
 187  r707     int8
 188  r708     int8
 189  r709ak2  int8
 190  r709ak3  float64
 191  r709ak4  float64
 192  r709bk2  int8
 193  r709bk3  float64
 194  r709bk4  float64
 195  r709ck2  int8
 196  r709ck3  float64
 197  r709ck4  float64
 198  r709dk2  int8
 199  r709dk3  float64
 200  r709dk4  float64
 201  r709ek2  int8
 202  r709ek3  float64
 203  r709ek4  float64
 204  r709fk2  int8
 205  r709fk3  float64
 206  r709fk4  float64
 207  r709gk2  int8
 208  r709gk3  float64
 209  r709gk4  float64
 210  r709hk2  int8
 211  r709hk3  float64
 212  r709hk4  float64
 213  r710     int16
 214  r711a    int32
 215  r711b    int32
dtypes: float32(20), float64(96), int16(1), int32(2), int8(89), object(8)
memory usage: 80.9+ MB

In [23]:
df_2018_podes_3=pd.read_stata("podes2018_desa_part3_revisi.dta")
df_2018_podes_3.head()

,r101,r101n,r102,r102n,r103,r103n,r104,r104n,r80101,r80102,r80103,r80104,r80105,r80106,r80107,r802,r803a,r803b,r803c,r803d,r803e,r803f,r803g,r803h,r803i,r804a1,r804a2a,r804a2b,r804a2c,r804b1,r804b2,r805a,r805b,r805c,r805d,r805e,r805f,r805g,r805h,r805i,r806,r807,r808,r809a,r809b,r8101k2,r8102k2,r8103k2,r8104k2,r8105k2,r8106k2,r8107k2,r811a,r811b,r811c,r811d,r811e,r811f,r901ak2,r901ak3,r901bk2,r901bk3,r901ck2,r901ck3,r901dk2,r901dk3,r901ek2,r901ek3,r901fk2,r901fk3,r901gk2,r901gk3,r901hk2,r901hk3,r901ik2,r901ik3,r901jk2,r901jk3,r901kk2,r901kk3,r901lk2,r901lk3,r902a,r902b,r1001a,r1001b1,r1001b2,r1001c1,r1001c2,r1001c3,r1002ak2,r1002ak3,r1002ak4,r1002ak5,r1002ajm,r1002ame,r1002ak7,r1002bk2,r1002bk3,r1002bk4,r1002bk5,r1002bjm,r1002bme,r1002bk7,r1002ck2,r1002ck3,r1002ck4,r1002ck5,r1002cjm,r1002cme,r1002ck7,r1002dk2,r1002dk3,r1002dk4,r1002dk5,r1002djm,r1002dme,r1002dk7,r1003a,r1003b,r1004,r1005a,r1005b,r1005c,r1005d,r1006a,r1006b,r1007a,r1007b,r1007c,r1008ak2,r1008ak3,r1008bk2,r1008bk3,r1008ck2,r1008ck3,r1008dk2,r1008dk3,r1008ek2,r1008fk2,r1008gk2,r1201a,r1201b,r1201c,r1201d,r1201e,r1201f,r1201g,r1201h,r1202a,r1202b,r1202c,r1203a,r1203b,r1204a,r1204b,r1204c,r1204d,r1205a1,r1205a2,r1205a3,r1205b1,r1205b2,r1205b3,r1206ak2,r1206ak3,r1206ak4,r1206bk2,r1206bk3,r1206bk4,r1206ck2,r1206ck3,r1206ck4,r1206dk2,r1206dk3,r1206dk4,r1206ek2,r1206ek3,r1206ek4,r1206f1k2,r1206f1k3,r1206f1k4,r1206f2k2,r1206f2k3,r1206f2k4,r1206gk2,r1206gk3,r1206gk4,r1206hk2,r1206hk3,r1206hk4,r1206ik2,r1206ik3,r1206ik4,r1206jk2,r1206jk3,r1206jk4,r1207a,r1207b,r1207c,r1207d,r1208ak2,r1208ak3,r1208ak4,r1208bk2,r1208bk3,r1208bk4,r1208ck2,r1208ck3,r1208ck4,r1209ak2,r1209ak3,r1209ak4,r1209bk2,r1209bk3,r1209bk4,r1209ck2,r1209ck3,r1209ck4,r1209dk2,r1209dk3,r1209dk4,r1209ek2,r1209ek3,r1209ek4,r1209fk2,r1209fk3,r1209fk4,r1209gk2,r1209gk3,r1209gk4
0,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,1,4,6,8,2,4,6,1,1,1,0,0,0,0,0,0,0,1,10096,10001,30012,1,0011,0,1,0,0,0,0,1,0,0,0,4,3,1,1,MAMBA KAOK BIDAN,TURUN MEK UN,TULAK BALAK,KENDURI BELANG,MALAULU,NANDONG REBANA,SARAK PAPAR,1,1,4,1,0,0,1,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,99.900002,1,2.0,1.0,3,NaN,NaN,2,NaN,NaN,11,0,30,10,2,NaN,NaN,40,1,15,25,2,NaN,NaN,16,1,0,15,1,12.0,4.0,999,12,0,500,1,2,2,0,0,4,NaN,1,4,4,2,4,1,1.0,1,1.0,1,1.0,1,1.0,2,2,2,0,0,0,0,0,0,0,0,0,0,0,2,4,0,NaN,NaN,NaN,0,0,0,2,4,6,0,40.0,3.0,0,40.0,3.0,0,40.0,3.0,0,99.900002,4.0,0,40.0,3.0,0,40.0,3.0,0,40.000000,3.0,0,40.0,3.0,0,40.0,3.0,0,40.0,3.0,0,40.0,3.0,2,4,6,8,0,40.0,3.0,0,40.000000,3.0,0,99.900002,4.0,2,40.000000,3.0,2,40.0,3.0,2,40.0,3.0,2,40.0,3.0,2,40.0,3.0,2,40.0,3.0,2,40.0,3.0
1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,1,4,6,8,2,4,6,1,1,1,0,0,0,0,0,0,0,1,10096,10001,,1,0011,0,0,0,0,1,1,0,0,0,0,2,2,1,1,MAMBA KAOK BIDAN,TURUN TANAH,KENDURI LAUT,KENDURI BELANG,MALLAULU,"HU,ASA",SITUJU FENGI,1,1,1,2,0,0,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,90.000000,1,1.0,1.0,2,2.0,2.0,6,NaN,NaN,20,0,20,10,7,16.0,5.0,60,1,0,10,3,2.0,2.0,60,1,0,10,3,16.0,5.0,90,15,0,100,0,3,2,0,1,2,2.0,1,4,4,2,4,1,1.0,1,1.0,1,1.0,1,1.0,2,2,2,0,0,0,0,0,0,0,0,0,0,0,1,4,0,NaN,NaN,NaN,0,0,1,2,4,6,0,60.0,3.0,0,60.0,3.0,0,60.0,3.0,0,60.000000,3.0,0,60.0,3.0,11,NaN,NaN,0,1.000000,1.0,0,60.0,3.0,1,NaN,NaN,0,60.0,3.0,0,60.0,3.0,1,4,5,8,0,60.0,3.0,0,99.800003,3.0,0,99.800003,3.0,2,60.000000,3.0,2,60.0,3.0,2,60.0,3.0,2,1.0,1.0,2,60.0,3.0,2,60.0,3.0,2,1.0,1.0
2,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,1,4,6,8,2,4,6,1,1,1,0,0,0,0,0,0,0,1,10096,10001,,1,0011,1,1,1,1,0,1,1,0,0,0,4,3,1,1,DIBAK KAOK BIDAN,MELAHERKAN,KARAJO,,HAWEL,,MANINGGAL,1,1,1,1,0,0,2,1,2,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,98.800003,1,3.0,1.0,3,NaN,NaN,2,NaN,NaN,28,1,0,100,2,NaN,NaN,22,0,45,50,2,NaN,NaN,15,0,30,45,3,15.0,4.0,134,12,0,150,0,1,2,0,1,1,2.0,2,4,4,2,2,1,1.0,2,NaN,1,1.0,2,NaN,2,2,2,0,0,0,0,0,0,0,0,0,0,0,2,4,0,NaN,NaN,NaN,0,1,1,2,4,6,0,22.0,2.0,0,22.0,2.0,0,22.0,2.0,0,22.000000,2.0,0,22.0,2.0,7,NaN,NaN,0,98.800003,4.0,0,22.0,2.0,0,22.0,2.0,0,22.0,2.0,0,22.0,2.0,2,4,6,8,0,22.0,2.0,0,22.000000,2.0,0,22.000000,2.0,2,22.000000,2.0,2,22.0,2.0,2,22.0,2.0,2,22.0,2.0,2,22.0,2.0,2,22.0,2.0,2,22.0,2.0
3,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,1,4,6,8,2,4,6,1,2,0,0,0,0,0,0,0,0,1,10096,10001,,1,0011,0,4,2,0,5,2,0,0,0,0,4,3,1,1,MAMBA KAOK BIDAN,TURUN KARAI,KENDURI BELANG,SHALAWAT,MALIUEK,GOTONG ROYANG,TAKZIA,1,1,1,5,1,1,1,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,90.000000,1,1.0,1.0,3,NaN,NaN,2,NaN,NaN,7,0,30,10,2,NaN,NaN,13,0,30,10,2,NaN,NaN,12,0,30,10,1,10.0,2.0,90,20,0,100,0,1,2,0,1,3,3.0,1,4,4,2,4,1,1.0,1,1.0,1,1.0,2,NaN,1,1,2,0,0,0,0,0,0,0,0,0,0,0,1,4,0,NaN,NaN,NaN,0,0,1,2,4,6,0,17.0,2.0,0,17.0,2.0,0,17.0,2.0,0,17.000000,2.0,0,17.0,2.0,20,NaN,NaN,0,17.000000,2.0,0,17.0,2.0,0,17.0,2.0,0,17.0,2.0,0,17.0,2.0,1,4,6,8,0,17.0,3.0,0,17.000000,3.0,0,17.000000,3.0,2,99.900002,3.0,2,17.0,3.0,2,17.0,3.0,1,NaN,NaN,2,17.0,3.0,2,17.0,3.0,2,17.0,3.0
4,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,1,4,6,8,2,4,6,1,1,2,0,0,0,0,0,0,0,1,10001,10096,70025,2,0011,0,10,1,1,1,3,0,0,0,0,4,2,1,1,MAMBA KAOK BIDAN,TURON KARAI,SHLAWAT,KENDURI BELANG,MALINEK,GOTONG BROYANG,TAKZIAH,1,1,1,1,0,0,3,1,2,1,2,2,2,2,2,2,2,2,2,2,4,2,2,2,4,2,2,2,1,2,2,60.000000,1,1.0,1.0,3,NaN,NaN,2,NaN,NaN,10,0,30,20,2,NaN,NaN,10,0,30,20,2,NaN,NaN,15,0,30,20,3,6.0,3.0,90,24,0,150,0,1,2,0,1,3,3.0,1,4,4,2,4,1,1.0,1,1.0,1,1.0,2,NaN,1,1,2,0,0,0,0,0,0,0,0,0,0,0,2,4,0,NaN,NaN,NaN,0,0,1,2,4,6,0,15.0,2.0,0,15.0,2.0,0,15.0,2.0,0,15.000000,2.0,0,15.0,2.0,7,NaN,NaN,0,15.000000,2.0,0,15.0,2.0,0,15.0,2.0,0,15.0,2.0,0,15.0,2.0,2,4,6,8,0,15.0,3.0,0,15.000000,3.0,0,15.000000,3.0,2,15.000000,3.0,2,15.0,3.0,2,15.0,3.0,1,NaN,NaN,2,15.0,3.0,2,15.0,3.0,2,15.0,3.0

In [24]:
df_2018_podes_3.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83931 entries, 0 to 83930
Data columns (total 231 columns):
 #    Column     Dtype
---   ------     -----
 0    r101       object
 1    r101n      object
 2    r102       object
 3    r102n      object
 4    r103       object
 5    r103n      object
 6    r104       object
 7    r104n      object
 8    r80101     int8
 9    r80102     int8
 10   r80103     int8
 11   r80104     int8
 12   r80105     int8
 13   r80106     int8
 14   r80107     int8
 15   r802       int8
 16   r803a      int8
 17   r803b      int8
 18   r803c      int8
 19   r803d      int8
 20   r803e      int8
 21   r803f      int8
 22   r803g      int8
 23   r803h      int8
 24   r803i      int8
 25   r804a1     int8
 26   r804a2a    object
 27   r804a2b    object
 28   r804a2c    object
 29   r804b1     int8
 30   r804b2     object
 31   r805a      int8
 32   r805b      int16
 33   r805c      int16
 34   r805d      int16
 35   r805e      int16
 36   r805f      int16
 37   r805g      int16
 38   r805h      int16
 39   r805i      int8
 40   r806       int8
 41   r807       int8
 42   r808       int8
 43   r809a      int8
 44   r809b      int8
 45   r8101k2    object
 46   r8102k2    object
 47   r8103k2    object
 48   r8104k2    object
 49   r8105k2    object
 50   r8106k2    object
 51   r8107k2    object
 52   r811a      int8
 53   r811b      int8
 54   r811c      int8
 55   r811d      int8
 56   r811e      int8
 57   r811f      int8
 58   r901ak2    int8
 59   r901ak3    int8
 60   r901bk2    int8
 61   r901bk3    int8
 62   r901ck2    int8
 63   r901ck3    int8
 64   r901dk2    int8
 65   r901dk3    int8
 66   r901ek2    int8
 67   r901ek3    int8
 68   r901fk2    int8
 69   r901fk3    int8
 70   r901gk2    int8
 71   r901gk3    int8
 72   r901hk2    int8
 73   r901hk3    int8
 74   r901ik2    int8
 75   r901ik3    int8
 76   r901jk2    int8
 77   r901jk3    int8
 78   r901kk2    int8
 79   r901kk3    int8
 80   r901lk2    int8
 81   r901lk3    int8
 82   r902a      int8
 83   r902b      float32
 84   r1001a     int8
 85   r1001b1    float64
 86   r1001b2    float64
 87   r1001c1    int8
 88   r1001c2    float64
 89   r1001c3    float64
 90   r1002ak2   int8
 91   r1002ak3   float64
 92   r1002ak4   float64
 93   r1002ak5   int16
 94   r1002ajm   int8
 95   r1002ame   int8
 96   r1002ak7   int32
 97   r1002bk2   int8
 98   r1002bk3   float64
 99   r1002bk4   float64
 100  r1002bk5   int16
 101  r1002bjm   int8
 102  r1002bme   int8
 103  r1002bk7   int32
 104  r1002ck2   int8
 105  r1002ck3   float64
 106  r1002ck4   float64
 107  r1002ck5   int16
 108  r1002cjm   int8
 109  r1002cme   int8
 110  r1002ck7   int32
 111  r1002dk2   int8
 112  r1002dk3   float64
 113  r1002dk4   float64
 114  r1002dk5   int16
 115  r1002djm   int8
 116  r1002dme   int8
 117  r1002dk7   int32
 118  r1003a     int16
 119  r1003b     int8
 120  r1004      int8
 121  r1005a     int8
 122  r1005b     int8
 123  r1005c     int8
 124  r1005d     float64
 125  r1006a     int8
 126  r1006b     int8
 127  r1007a     int8
 128  r1007b     int8
 129  r1007c     int8
 130  r1008ak2   int8
 131  r1008ak3   float64
 132  r1008bk2   int8
 133  r1008bk3   float64
 134  r1008ck2   int8
 135  r1008ck3   float64
 136  r1008dk2   int8
 137  r1008dk3   float64
 138  r1008ek2   int8
 139  r1008fk2   int8
 140  r1008gk2   int8
 141  r1201a     int16
 142  r1201b     int16
 143  r1201c     int16
 144  r1201d     int16
 145  r1201e     int16
 146  r1201f     int16
 147  r1201g     int16
 148  r1201h     int16
 149  r1202a     int8
 150  r1202b     int8
 151  r1202c     int8
 152  r1203a     int8
 153  r1203b     int8
 154  r1204a     int8
 155  r1204b     float64
 156  r1204c     float64
 157  r1204d     float64
 158  r1205a1    int8
 159  r1205a2    int8
 160  r1205a3    int8
 161  r1205b1    int8
 162  r1205b2    int8
 163  r1205b3    int8
 164  r1206ak2   int8
 165  r1206ak3   float32
 166  r1206ak4   float64
 167  r1206bk2   int8
 168  r1206bk3   float32
 169  r1206bk4   float64
 170  r1206ck2   int8
 171  r1206ck3   float32
 172  r1206ck4   float64
 173  r1206dk2   int8
 174  r1206dk3   float32
 175  r1206dk4   float64
 176  r1206ek2   int8
 177  r1206ek3   float32
 178  r1206ek4   float64
 179  r1206f1k2  int16
 180  r1206f1k3  float32
 181  r1206f1k4  float64
 182  r1206f2k2  int16
 183  r1206f2k3  float32
 184  r1206f2k4  float64
 185  r1206gk2   int8
 186  r1206gk3   float32
 187  r1206gk4   float64
 188  r1206hk2   int16
 189  r1206hk3   float32
 190  r1206hk4   float64
 191  r1206ik2   int8
 192  r1206ik3   float32
 193  r1206ik4   float64
 194  r1206jk2   int8
 195  r1206jk3   float32
 196  r1206jk4   float64
 197  r1207a     int8
 198  r1207b     int8
 199  r1207c     int8
 200  r1207d     int8
 201  r1208ak2   int8
 202  r1208ak3   float32
 203  r1208ak4   float64
 204  r1208bk2   int8
 205  r1208bk3   float32
 206  r1208bk4   float64
 207  r1208ck2   int8
 208  r1208ck3   float32
 209  r1208ck4   float64
 210  r1209ak2   int8
 211  r1209ak3   float32
 212  r1209ak4   float64
 213  r1209bk2   int8
 214  r1209bk3   float32
 215  r1209bk4   float64
 216  r1209ck2   int8
 217  r1209ck3   float32
 218  r1209ck4   float64
 219  r1209dk2   int8
 220  r1209dk3   float32
 221  r1209dk4   float64
 222  r1209ek2   int8
 223  r1209ek3   float32
 224  r1209ek4   float64
 225  r1209fk2   int8
 226  r1209fk3   float32
 227  r1209fk4   float64
 228  r1209gk2   int8
 229  r1209gk3   float32
 230  r1209gk4   float64
dtypes: float32(22), float64(41), int16(23), int32(4), int8(122), object(19)
memory usage: 60.2+ MB

In [25]:
df_2018_podes_4=pd.read_stata("podes2018_desa_part4_revisi.dta")
df_2018_podes_4.head()

,r101,r101n,r102,r102n,r103,r103n,r104,r104n,r1301a,r1301b1k2,r1301b1k3,r1301b1k4,r1301b1k5,r1301b2k2,r1301b2k3,r1301b2k4,r1301b2k5,r1301b3k2,r1301b3k3,r1301b3k4,r1301b3k5,r1301b4k2,r1301b4k3,r1301b4k4,r1301b4k5,r1301b5k2,r1301b5k3,r1301b5k4,r1301b5k5,r1301b6k2,r1301b6k3,r1301b6k4,r1301b6k5,r1301b7k2,r1301b7k3,r1301b7k4,r1301b7k5,r1302a,r1302b,r1303a01k3,r1303a01k4,r1303a02k3,r1303a02k4,r1303a03k3,r1303a03k4,r1303a04k3,r1303a04k4,r1303a05k3,r1303a05k4,r1303a06k3,r1303a06k4,r1303a07k3,r1303a07k4,r1303a08k3,r1303a08k4,r1303a09k3,r1303a09k4,r1303a10k3,r1303a10k4,r1303a11k3,r1303a11k4,r1303b,r1304a,r1304b,r1304c,r1304d,r1304e,r1305,r1306a,r1306b1,r1306b2,r1306c1,r1306c2,r1307,r1308a,r1308b,r1309,r1403a,r1403b,r1404b,r1404c,r1404d,r1404e,r1405a1,r1405a2k1,r1405a2k2,r1405b,r1405c,r1405d,r1406a,r1406b,r1407,r1601a1k2,r1601a1k3,r1601a1k4,r1601a1k5,r1601a2k2,r1601a2k3,r1601a2k4,r1601a2k5,r1601a3k2,r1601a3k3,r1601a3k4,r1601a3k5,r1601a4k2,r1601a4k3,r1601a4k4,r1601a4k5,r1601a5k2,r1601a5k3,r1601a5k4,r1601a5k5,r1601a6k2,r1601a6k3,r1601a6k4,r1601a6k5,r1601a7k2,r1601a7k3,r1601a7k4,r1601a7k5,r1601a8k2,r1601a8k3,r1601a8k4,r1601a8k5,r1601a9k2,r1601a9k3,r1601a9k4,r1601a9k5,r1601a10k2,r1601a10k3,r1601a10k4,r1601a10k5,r1601b1k2,r1601b1k3,r1601b1k4,r1601b1k5,r1601b2k2,r1601b2k3,r1601b2k4,r1601b2k5,r1601b3k2,r1601b3k3,r1601b3k4,r1601b3k5,r1601b4k2,r1601b4k3,r1601b4k4,r1601b4k5,r1601b5k2,r1601b5k3,r1601b5k4,r1601b5k5,r1601b6k2,r1601b6k3,r1601b6k4,r1601b6k5,r1601b7k2,r1601b7k3,r1601b7k4,r1601b7k5,r1601b8k2,r1601b8k3,r1601b8k4,r1601b8k5,r1601b9k2,r1601b9k3,r1601b9k4,r1601b9k5,r1601b10k2,r1601b10k3,r1601b10k4,r1601b10k5,r1701ak2,r1701ak3,r1701ak4,r1701ak5,r1701bk2,r1701bk3,r1701bk4,r1701bk5,r1702a,r1702b,r1702c,r1702d
0,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,NaN,1,3,6,7,2,3,2,NaN,NaN,11.0,2.0,0,2,4,2,1.0,1.0,2.0,1.0,3.0,1.0,1.0,2014.0,2018.0,3.0,1.0,2.0,1.0,3.0,1.0,1,9.0,12.0,35.0,2,NaN,NaN,NaN,1,1.0,4.0,3.0,1,9.0,8.0,7.0,1,9.0,12.0,11.0,2,NaN,NaN,NaN,1,1.0,32.0,3.0,2,NaN,NaN,NaN,1,9.0,32.0,3.0,1,1.0,32.0,12.0,1,9.0,4.0,3.0,1,1.0,16.0,1.0,1,9.0,4.0,32.0,2,NaN,NaN,NaN,1,1.0,4.0,8.0,1,9.0,4.0,3.0,1,9.0,4.0,8.0,1,9.0,4.0,32.0,1,9.0,12.0,32.0,1.0,9.0,4.0,3.0,1,48.0,1.0,5.0,1,41.0,2.0,5.0,2,6,4,4
1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,2,NaN,2,NaN,1,1.0,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1.0,2,4,6,8,1,2,2,NaN,NaN,11.0,2.0,0,2,4,2,1.0,1.0,2.0,1.0,3.0,1.0,1.0,2012.0,2018.0,3.0,1.0,1.0,1.0,4.0,1.0,1,1.0,16.0,2.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1,4.0,2.0,32.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1,2.0,4.0,8.0,1,2.0,4.0,8.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1.0,1.0,4.0,8.0,1,42.0,1.0,5.0,1,45.0,1.0,5.0,2,6,2,15
2,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,NaN,2,4,6,8,2,2,2,NaN,NaN,22.0,2.0,0,2,4,2,1.0,1.0,1.0,1.0,3.0,2.0,1.0,2016.0,2021.0,3.0,4.0,2.0,2.0,4.0,1.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1,45.0,1.0,5.0,1,46.0,1.0,5.0,2,6,2,0
3,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,NaN,2,4,5,7,2,4,2,NaN,NaN,70.0,3.0,0,2,4,2,1.0,1.0,2.0,1.0,3.0,2.0,1.0,2012.0,2018.0,3.0,1.0,1.0,1.0,4.0,1.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1,48.0,1.0,5.0,1,52.0,1.0,5.0,2,6,4,12
4,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,NaN,1,4,6,8,2,2,2,NaN,NaN,10.0,3.0,0,2,4,2,3.0,3.0,1.0,1.0,3.0,2.0,1.0,2014.0,2018.0,3.0,1.0,1.0,2.0,4.0,1.0,1,2.0,4.0,8.0,2,NaN,NaN,NaN,1,2.0,4.0,8.0,2,NaN,NaN,NaN,1,2.0,4.0,8.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1.0,2.0,4.0,8.0,1,45.0,1.0,5.0,1,51.0,1.0,5.0,2,6,3,15

In [26]:
df_2018_podes_4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83931 entries, 0 to 83930
Data columns (total 184 columns):
 #    Column      Dtype
---   ------      -----
 0    r101        object
 1    r101n       object
 2    r102        object
 3    r102n       object
 4    r103        object
 5    r103n       object
 6    r104        object
 7    r104n       object
 8    r1301a      int8
 9    r1301b1k2   float64
 10   r1301b1k3   float64
 11   r1301b1k4   float64
 12   r1301b1k5   float64
 13   r1301b2k2   float64
 14   r1301b2k3   float64
 15   r1301b2k4   float64
 16   r1301b2k5   float64
 17   r1301b3k2   float64
 18   r1301b3k3   float64
 19   r1301b3k4   float64
 20   r1301b3k5   float64
 21   r1301b4k2   float64
 22   r1301b4k3   float64
 23   r1301b4k4   float64
 24   r1301b4k5   float64
 25   r1301b5k2   float64
 26   r1301b5k3   float64
 27   r1301b5k4   float64
 28   r1301b5k5   float64
 29   r1301b6k2   float64
 30   r1301b6k3   float64
 31   r1301b6k4   float64
 32   r1301b6k5   float64
 33   r1301b7k2   float64
 34   r1301b7k3   float64
 35   r1301b7k4   float64
 36   r1301b7k5   float64
 37   r1302a      float64
 38   r1302b      float64
 39   r1303a01k3  int8
 40   r1303a01k4  float64
 41   r1303a02k3  int8
 42   r1303a02k4  float64
 43   r1303a03k3  int8
 44   r1303a03k4  float64
 45   r1303a04k3  int8
 46   r1303a04k4  float64
 47   r1303a05k3  int8
 48   r1303a05k4  float64
 49   r1303a06k3  int8
 50   r1303a06k4  float64
 51   r1303a07k3  int8
 52   r1303a07k4  float64
 53   r1303a08k3  int8
 54   r1303a08k4  float64
 55   r1303a09k3  int8
 56   r1303a09k4  float64
 57   r1303a10k3  int8
 58   r1303a10k4  float64
 59   r1303a11k3  int8
 60   r1303a11k4  float64
 61   r1303b      float64
 62   r1304a      int8
 63   r1304b      int8
 64   r1304c      int8
 65   r1304d      int8
 66   r1304e      int8
 67   r1305       int8
 68   r1306a      int8
 69   r1306b1     float64
 70   r1306b2     float64
 71   r1306c1     float32
 72   r1306c2     float64
 73   r1307       int8
 74   r1308a      int8
 75   r1308b      int8
 76   r1309       int8
 77   r1403a      float64
 78   r1403b      float64
 79   r1404b      float64
 80   r1404c      float64
 81   r1404d      float64
 82   r1404e      float64
 83   r1405a1     float64
 84   r1405a2k1   float64
 85   r1405a2k2   float64
 86   r1405b      float64
 87   r1405c      float64
 88   r1405d      float64
 89   r1406a      float64
 90   r1406b      float64
 91   r1407       float64
 92   r1601a1k2   int8
 93   r1601a1k3   float64
 94   r1601a1k4   float64
 95   r1601a1k5   float64
 96   r1601a2k2   int8
 97   r1601a2k3   float64
 98   r1601a2k4   float64
 99   r1601a2k5   float64
 100  r1601a3k2   int8
 101  r1601a3k3   float64
 102  r1601a3k4   float64
 103  r1601a3k5   float64
 104  r1601a4k2   int8
 105  r1601a4k3   float64
 106  r1601a4k4   float64
 107  r1601a4k5   float64
 108  r1601a5k2   int8
 109  r1601a5k3   float64
 110  r1601a5k4   float64
 111  r1601a5k5   float64
 112  r1601a6k2   int8
 113  r1601a6k3   float64
 114  r1601a6k4   float64
 115  r1601a6k5   float64
 116  r1601a7k2   int8
 117  r1601a7k3   float64
 118  r1601a7k4   float64
 119  r1601a7k5   float64
 120  r1601a8k2   int8
 121  r1601a8k3   float64
 122  r1601a8k4   float64
 123  r1601a8k5   float64
 124  r1601a9k2   int8
 125  r1601a9k3   float64
 126  r1601a9k4   float64
 127  r1601a9k5   float64
 128  r1601a10k2  int8
 129  r1601a10k3  float64
 130  r1601a10k4  float64
 131  r1601a10k5  float64
 132  r1601b1k2   int8
 133  r1601b1k3   float64
 134  r1601b1k4   float64
 135  r1601b1k5   float64
 136  r1601b2k2   int8
 137  r1601b2k3   float64
 138  r1601b2k4   float64
 139  r1601b2k5   float64
 140  r1601b3k2   int8
 141  r1601b3k3   float64
 142  r1601b3k4   float64
 143  r1601b3k5   float64
 144  r1601b4k2   int8
 145  r1601b4k3   float64
 146  r1601b4k4   float64
 147  r1601b4k5   float64
 148  r1601b5k2   int8
 149  r1601b5k3   float64
 150  r1601b5k4   float64
 151  r1601b5k5   float64
 152  r1601b6k2   int8
 153  r1601b6k3   float64
 154  r1601b6k4   float64
 155  r1601b6k5   float64
 156  r1601b7k2   int8
 157  r1601b7k3   float64
 158  r1601b7k4   float64
 159  r1601b7k5   float64
 160  r1601b8k2   int8
 161  r1601b8k3   float64
 162  r1601b8k4   float64
 163  r1601b8k5   float64
 164  r1601b9k2   int8
 165  r1601b9k3   float64
 166  r1601b9k4   float64
 167  r1601b9k5   float64
 168  r1601b10k2  float64
 169  r1601b10k3  float64
 170  r1601b10k4  float64
 171  r1601b10k5  float64
 172  r1701ak2    int8
 173  r1701ak3    float64
 174  r1701ak4    float64
 175  r1701ak5    float64
 176  r1701bk2    int8
 177  r1701bk3    float64
 178  r1701bk4    float64
 179  r1701bk5    float64
 180  r1702a      int8
 181  r1702b      int8
 182  r1702c      int8
 183  r1702d      int8
dtypes: float32(1), float64(127), int8(48), object(8)
memory usage: 90.6+ MB

We could see the survey questions are divided among 4 datasets so Lets try column mapping from data dictionary to 2014 datasets

In [27]:
df_2018_podes_1.columns = df_2018_podes_1.columns.str.replace('_', '')
df_2018_podes_2.columns = df_2018_podes_2.columns.str.replace('_', '')
df_2018_podes_3.columns = df_2018_podes_3.columns.str.replace('_', '')
df_2018_podes_4.columns = df_2018_podes_4.columns.str.replace('_', '')

In [28]:
column_mapping = data_dict.set_index('Kode Variabel')['label_english'].to_dict()
df_2018_podes_1 = df_2018_podes_1.rename(columns=column_mapping)
df_2018_podes_1.head()

,index,levelwila,r101,Province name,r102,Regency/city name,r103,Sub -district name,r104,Village/kelurahan name,Government status,r302,Map of the village/kelurahan stipulated in the Regent/Mayor Regulation or Governor,r304a,r304bak2,r304bak3,r304bak4,r304bbk2,r304bbk3,r304bbk4,r304bck2,r304bck3,r304bck4,r304bdk2,r304bdk3,r304bdk4,r305a1,r305b,r306a,r307a,r307b1a,r307b1b,r307b1c,r307b1d,r307b1e,r307b2,r308a,r308b,r403a,r403b1,r403b2,r403c,r404a,r404b1,r404b2,Number of families of PLN electricity users,Number of Non PLN Electric User Families,Number of Families Non -Electric User,Lighting on the main road/kelurahan road,"If there is lighting on the main road of the village/kelurahan (R402A coded 1 or 2), the type of lighting",r503,r504,r505a,r505b,"Waste Management Activities: Processing/Recycling of Waste/Waste (Reuse, Recycle) for the past year",The use of defecating facilities for most families in the village/kelurahan,Final Disposal Sites Most Families,r508ak2,r508ak3,r508ak4,r508b1k2,r508b1k3,r508b1k4,r508b2k2,r508b2k3,r508b2k4,r508b3k2,r508b3k3,r508b3k4,r508b4k2,r508b4k3,r508b4k4,r508b5k2,r508b5k3,r508b5k4,r508b6k2,r508b6k4,r508b7k2,r508b7k4,r509b,r509c1,r509c2,r509c3,r509d1,r509d2,r510a,r510b,r510c1,r510c2,r510c3,r511a,r511b1,r511b2,r511b3,r512ak2,r512a1k3,r512ak4,r512bk2,r512b1k3,r512bk4,r512ck2,r512c1k3,r512ck4,r513,r514,Type/Level of Education: State Early Childhood Education Post (PAUD),Type/Level of Education: Private Early Childhood Education Post (PAUD),Distance to Early Childhood Education Post (PAUD) (Km),Ease of access to Early Childhood Education Post (PAUD),r601ak6,r601ak7,r601ak8,Types/levels of education: TK Negeri,Type/level of education: private kindergarten,Distance to kindergarten (km),Ease of access to kindergarten,r601bk6,r601bk7,r601bk8,Type/level of education: RA/BA Negeri,Type/level of education: RA/BA Private,Distance to ra/ba (km),Ease of access to RA/BA,r601ck6,r601ck7,r601ck8,Type/level of education: SD Negeri,Type/level of education: private elementary school,Distance to SD (KM),Ease of access to SD,r601dk6,r601dk7,r601dk8,Type/level of education: MI Negeri,Types/levels of education: Private MI,Distance to mi (km),Ease of access to MI,r601ek6,r601ek7,r601ek8,Type/level of education: SMP Negeri,Type/level of education: private junior high school,Distance to junior high school (km),Ease of access to junior high school,r601fk6,r601fk7,r601fk8,Type/Level of Education: MTs Negeri,Type/Level of Education: Private MTs,Distance to MTs (km),Ease of access to MTs,r601gk6,r601gk7,r601gk8,Type/Level of Education: SMA Negeri,Type/level of education: private high school,Distance to high school (km),Ease of access to high school,r601hk6,r601hk7,r601hk8,Type/level of education: MA Negeri,Type/level of education: MA Private,Distance to MA (km),Ease of access to MA,r601ik6,r601ik7,r601ik8,Type/level of education: State Vocational School,Type/level of education: private vocational school,Distance to SMK (KM),Ease of access to SMK,r601jk6,r601jk7,r601jk8,r602a,r602b,r602c,r602d
0,0,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,1,1,1,1,DUSUN,7,2.0,,,NaN,,,NaN,,,NaN,1,3,1,1,1,4,6,8,2,1,2,1,2,NaN,NaN,2,1,1,2,60,0,9,2,,4,1,2,2,4,4,3,1,1,2,2,2,,2,2,,1,1,,2,2,,2,2,,2,,2,,2,NaN,NaN,NaN,1,1,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,1,2,1,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,7
1,1,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,1,1,1,1,DUSUN,7,2.0,,,NaN,,,NaN,,,NaN,1,3,1,1,1,4,6,8,1,2,3,,2,NaN,NaN,2,1,1,1,104,0,7,1,1,4,1,2,2,4,5,4,1,2,2,2,,,2,,,2,,,2,,,2,,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,7
2,2,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,1,1,1,1,DUSUN,7,2.0,,,NaN,,,NaN,,,NaN,1,3,1,1,2,4,6,8,1,2,3,,1,1.0,0.0,2,1,1,1,108,0,17,2,,4,1,2,2,4,1,4,1,1,2,1,2,,2,2,,1,1,,2,2,,2,2,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,7
3,3,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,1,1,1,1,DUSUN,7,4.0,,,NaN,,,NaN,,,NaN,1,3,1,1,1,4,6,8,2,2,2,1,2,NaN,NaN,2,1,1,2,140,0,14,2,,4,4,2,2,4,8,7,1,2,2,1,,,2,,,2,,,2,,,2,,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,8
4,4,1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,1,1,1,1,DUSUN,7,3.0,,,NaN,,,NaN,,,NaN,1,1,1,1,1,4,6,8,2,1,2,1,2,NaN,NaN,2,1,1,1,84,0,20,2,,4,4,2,2,4,5,4,1,2,2,1,,,1,,,2,,,2,,,2,,,2,,2,,2,NaN,NaN,NaN,2,,2,,NaN,NaN,NaN,2,NaN,NaN,NaN,2,,,2,,,2,,,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,8

In [29]:
df_2018_podes_2 = df_2018_podes_2.rename(columns=column_mapping)
df_2018_podes_2.head()

,r101,Province name,r102,Regency/city name,r103,Sub -district name,r104,Village/kelurahan name,Type/Level of Education: State Early Childhood Education Post (PAUD),Type/Level of Education: Private Early Childhood Education Post (PAUD),Distance to Early Childhood Education Post (PAUD) (Km),Ease of access to Early Childhood Education Post (PAUD),r601ak6,r601ak7,r601ak8,r601bk7,r601bk8,Types/levels of education: TK Negeri,Type/level of education: private kindergarten,Distance to kindergarten (km),Ease of access to kindergarten,r601bk6,Type/level of education: RA/BA Negeri,Type/level of education: RA/BA Private,Distance to ra/ba (km),Ease of access to RA/BA,r601ck6,r601ck7,r601ck8,Type/level of education: SD Negeri,Type/level of education: private elementary school,Distance to SD (KM),Ease of access to SD,r601dk6,r601dk7,r601dk8,Type/level of education: MI Negeri,Types/levels of education: Private MI,Distance to mi (km),Ease of access to MI,r601ek6,r601ek7,r601ek8,Type/level of education: SMP Negeri,Type/level of education: private junior high school,Distance to junior high school (km),Ease of access to junior high school,r601fk6,r601fk7,r601fk8,Type/Level of Education: MTs Negeri,Type/Level of Education: Private MTs,Distance to MTs (km),Ease of access to MTs,r601gk6,r601gk7,r601gk8,Type/Level of Education: SMA Negeri,Type/level of education: private high school,Distance to high school (km),Ease of access to high school,r601hk6,r601hk7,r601hk8,Type/level of education: MA Negeri,Type/level of education: MA Private,Distance to MA (km),Ease of access to MA,r601ik6,r601ik7,r601ik8,Type/level of education: State Vocational School,Type/level of education: private vocational school,Distance to SMK (KM),Ease of access to SMK,r601jk6,r601jk7,r601jk8,r602a,r602b,r602c,r602d,r602e,Availability of facilities/field: soccer,Activity Group: Football,r701ak4,r701ak5,Availability of facilities/field: volleyball,Activity Group: Volleyball,r701bk4,r701bk5,Availability of facilities/field: badminton,Activity Group: Badminton,r701ck4,r701ck5,Availability of facilities/field: basketball,Activity Group: Basketball,r701dk4,r701dk5,Availability of Facilities/Field: Field Tennis,Activity Group: Field Tennis,r701ek4,r701ek5,Availability of Facilities/Field: Table Tennis,Activity Group: Table Tennis,r701fk4,r701fk5,Availability of Facilities/Field: Futsal,Activity Group: Futsal,r701gk4,r701gk5,Availability of Facilities/Field: Swimming,Activity Group: Swimming,"Availability of facilities/field: self -defense (pencak silat, karate, etc.)","Activity Group: self -defense (pencak silat, karate, etc.)",Availability of Facilities/Field: Billiard,Activity Group: Billiard,Activity Group: Fitness Center (Fitness Center):,Activity Group: Other,r701mk3,r702a,r702b,r702c,r702d,r702e,r702f,r703ak2,r703ak3,r703bk2,r703bk3,r703ck2,r703ck3,r703dk2,r703dk3,r703ek2,r703ek3,r703fk2,r703fk3,r703gk2,r703gk3,r704ak2,r704ak3,r704ak4,r704bk2,r704bk3,r704bk4,r704ck2,r704ck3,r704ck4,r704dk2,r704dk3,r704dk4,r704ek2,r704ek3,r704ek4,r704fk2,r704fk3,r704fk4,r704gk2,r704gk3,r704gk4,r704hk2,r704hk3,r704hk4,r704ik2,r704ik3,r704ik4,r704jk2,r704jk3,r704jk4,r704kk2,r704kk3,r704kk4,r704lk2,r704lk3,r704lk4,r704mk2,r704mk3,r704mk4,r705a,r705b,r705c,r706a1,r706a2,r706b,r706c,r706d,r707,r708,r709ak2,r709ak3,r709ak4,r709bk2,r709bk3,r709bk4,r709ck2,r709ck3,r709ck4,r709dk2,r709dk3,r709dk4,r709ek2,r709ek3,r709ek4,r709fk2,r709fk3,r709fk4,r709gk2,r709gk3,r709gk4,r709hk2,r709hk3,r709hk4,r710,r711a,r711b
0,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,8,2,0,0,7.0,1.0,0,0,2.0,2.0,1,0,NaN,NaN,0,0,6.0,2.0,0,0,4.0,2.0,0,0,11.0,3.0,0,0,40.0,3.0,0,0,0,0,0,0,0,0,0,2,4,6,8,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40.0,3.0,0,40.0,3.0,0,11.0,2.0,0,99.900002,4.0,1,NaN,NaN,0,40.0,3.0,0,40.0,3.0,0,99.900002,4.0,0,40.0,3.0,0,99.900002,4.0,0,40.0,3.0,0,40.0,3.0,0,99.900002,4.0,1,0,0,0,0,0,1,3,1,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,220,10
1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,1,1.0,0.0,1.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,0.0,2.0,0.0,5.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,0.0,2.0,0.0,3.0,0.0,1,2.0,0.0,1.0,0.0,5.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,2.0,0.0,2.0,0.0,1,4,6,8,2,0,0,60.0,3.0,0,1,NaN,NaN,1,0,NaN,NaN,0,0,2.0,2.0,0,0,2.0,2.0,0,0,30.0,3.0,0,0,60.0,3.0,0,0,0,0,0,0,0,0,0,2,4,6,8,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60.0,3.0,0,60.0,3.0,0,1.0,3.0,0,1.000000,1.0,0,1.0,1.0,0,6.0,3.0,0,60.0,3.0,0,60.000000,3.0,0,60.0,3.0,0,60.000000,3.0,0,2.0,3.0,0,6.0,3.0,0,6.000000,3.0,0,1,0,0,0,0,2,5,1,0,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,1,5.0,0.0,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,0,86
2,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2,4,6,8,2,0,0,25.0,2.0,0,1,NaN,NaN,1,0,NaN,NaN,0,0,1.0,2.0,1,0,NaN,NaN,1,0,NaN,NaN,0,0,23.0,3.0,0,0,0,0,0,0,0,0,0,2,4,6,8,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22.0,2.0,0,22.0,2.0,0,28.0,2.0,0,28.000000,2.0,1,NaN,NaN,0,22.0,2.0,0,22.0,2.0,0,22.000000,2.0,0,22.0,2.0,0,1.000000,1.0,0,22.0,2.0,0,22.0,2.0,0,22.000000,2.0,1,0,0,0,0,0,1,0,1,1,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,0,31
3,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,2.0,0.0,2.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,0.0,3.0,0.0,3.0,0.0,1,1.0,0.0,2.0,0.0,2.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,2.0,0.0,2.0,0.0,2,4,6,8,2,0,0,30.0,2.0,0,1,NaN,NaN,1,0,NaN,NaN,1,0,NaN,NaN,0,0,2.0,2.0,0,0,17.0,3.0,0,0,17.0,3.0,0,0,0,0,0,0,0,0,0,2,4,6,8,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7.0,3.0,0,17.0,3.0,0,7.0,3.0,0,17.000000,3.0,1,NaN,NaN,0,17.0,3.0,0,17.0,3.0,0,17.000000,3.0,0,17.0,3.0,0,17.000000,3.0,0,17.0,3.0,0,17.0,3.0,0,17.000000,3.0,1,0,0,0,0,0,1,0,1,4,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,0,260,80
4,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,2.0,0.0,2.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,0.0,3.0,0.0,3.0,0.0,1,1.0,0.0,1.0,0.0,1.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,2.0,0.0,2.0,0.0,2,4,6,7,2,0,0,2.0,2.0,0,0,20.0,3.0,1,0,NaN,NaN,1,0,NaN,NaN,1,0,NaN,NaN,0,0,20.0,3.0,0,0,20.0,3.0,0,0,0,0,0,0,0,0,0,2,4,6,8,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,26.0,2.0,0,26.0,2.0,0,11.0,2.0,0,11.000000,2.0,1,NaN,NaN,0,26.0,2.0,0,26.0,2.0,0,26.000000,2.0,0,26.0,2.0,0,99.000000,3.0,0,99.0,3.0,0,26.0,2.0,0,26.000000,2.0,1,0,0,0,0,0,1,4,1,3,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN,5,150,60

In [30]:
df_2018_podes_3 = df_2018_podes_3.rename(columns=column_mapping)
df_2018_podes_3.head()

,r101,Province name,r102,Regency/city name,r103,Sub -district name,r104,Village/kelurahan name,r80101,r80102,r80103,r80104,r80105,r80106,r80107,r802,The number of families subscribed to cable phones,The presence of residents who use cell phones/mobile phones,r803c,r803d,r803e,r803f,r803g,r803h,r803i,r804a1,r804a2a,r804a2b,r804a2c,r804b1,r804b2,Number of Cell Phone Tower or Base Transceiver Station (BTS),Number of cellular/mobile phone communication service operators that reach the village/kelurahan,Cellular/mobile phone signals in most villages/kelurahan areas,Cell phone/mobile phone signals in most areas in the village/kelurahan,r805e,r805f,r805g,r805h,r805i,r806,r807,r808,r809a,r809b,r8101k2,r8102k2,r8103k2,r8104k2,r8105k2,r8106k2,r8107k2,r811a,r811b,r811c,r811d,r811e,r811f,r901ak2,r901ak3,r901bk2,r901bk3,r901ck2,r901ck3,r901dk2,r901dk3,r901ek2,r901ek3,r901fk2,r901fk3,r901gk2,r901gk3,r901hk2,r901hk3,r901ik2,r901ik3,r901jk2,r901jk3,r901kk2,r901kk3,r901lk2,r901lk3,The existence of bases/agents/sellers of kerosene (including mobile kerosene sellers),"The existence of the base/agent/seller of LPG (stalls, shops, supermarkets, mobile gas sellers)",r1001a,r1001b1,r1001b2,r1001c1,r1001c2,r1001c3,r1002ak2,r1002ak3,r1002ak4,r1002ak5,r1002ajm,r1002ame,r1002ak7,r1002bk2,r1002bk3,r1002bk4,r1002bk5,r1002bjm,r1002bme,r1002bk7,r1002ck2,r1002ck3,r1002ck4,r1002ck5,r1002cjm,r1002cme,r1002ck7,r1002dk2,r1002dk3,r1002dk4,r1002dk5,r1002djm,r1002dme,r1002dk7,r1003a,r1003b,r1004,Development/maintenance of environmental security posts over the past year,The formation/setting of security teams for the past year,Increase in the number of Hansip/Linmas members for the past year,Reporting guests who stayed more than 24 hours to the environmental officers for the past year,The number of mosques in the village/kelurahan,Number of Surau/Langgar/Musholla in the Village/Kelurahan,r1007a,r1007b,r1007c,r1008ak2,r1008ak3,r1008bk2,r1008bk3,r1008ck2,r1008ck3,r1008dk2,r1008dk3,r1008ek2,r1008fk2,r1008gk2,Village cash/customary land,"Village -owned buildings (Village Hall, Rakyat Hall, etc.)",Other village assets,r1201d,r1201e,r1201f,r1201g,r1201h,r1202a,r1202b,r1202c,r1203a,r1203b,r1204a,r1204b,r1204c,r1204d,r1205a1,r1205a2,r1205a3,r1205b1,r1205b2,r1205b3,r1206ak2,r1206ak3,r1206ak4,r1206bk2,r1206bk3,r1206bk4,r1206ck2,r1206ck3,r1206ck4,r1206dk2,r1206dk3,r1206dk4,r1206ek2,r1206ek3,r1206ek4,r1206f1k2,r1206f1k3,r1206f1k4,r1206f2k2,r1206f2k3,r1206f2k4,r1206gk2,r1206gk3,r1206gk4,r1206hk2,r1206hk3,r1206hk4,r1206ik2,r1206ik3,r1206ik4,r1206jk2,r1206jk3,r1206jk4,r1207a,r1207b,r1207c,r1207d,r1208ak2,r1208ak3,r1208ak4,r1208bk2,r1208bk3,r1208bk4,r1208ck2,r1208ck3,r1208ck4,r1209ak2,r1209ak3,r1209ak4,r1209bk2,r1209bk3,r1209bk4,r1209ck2,r1209ck3,r1209ck4,r1209dk2,r1209dk3,r1209dk4,r1209ek2,r1209ek3,r1209ek4,r1209fk2,r1209fk3,r1209fk4,r1209gk2,r1209gk3,r1209gk4
0,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,1,4,6,8,2,4,6,1,1,1,0,0,0,0,0,0,0,1,10096,10001,30012,1,0011,0,1,0,0,0,0,1,0,0,0,4,3,1,1,MAMBA KAOK BIDAN,TURUN MEK UN,TULAK BALAK,KENDURI BELANG,MALAULU,NANDONG REBANA,SARAK PAPAR,1,1,4,1,0,0,1,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,99.900002,1,2.0,1.0,3,NaN,NaN,2,NaN,NaN,11,0,30,10,2,NaN,NaN,40,1,15,25,2,NaN,NaN,16,1,0,15,1,12.0,4.0,999,12,0,500,1,2,2,0,0,4,NaN,1,4,4,2,4,1,1.0,1,1.0,1,1.0,1,1.0,2,2,2,0,0,0,0,0,0,0,0,0,0,0,2,4,0,NaN,NaN,NaN,0,0,0,2,4,6,0,40.0,3.0,0,40.0,3.0,0,40.0,3.0,0,99.900002,4.0,0,40.0,3.0,0,40.0,3.0,0,40.000000,3.0,0,40.0,3.0,0,40.0,3.0,0,40.0,3.0,0,40.0,3.0,2,4,6,8,0,40.0,3.0,0,40.000000,3.0,0,99.900002,4.0,2,40.000000,3.0,2,40.0,3.0,2,40.0,3.0,2,40.0,3.0,2,40.0,3.0,2,40.0,3.0,2,40.0,3.0
1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,1,4,6,8,2,4,6,1,1,1,0,0,0,0,0,0,0,1,10096,10001,,1,0011,0,0,0,0,1,1,0,0,0,0,2,2,1,1,MAMBA KAOK BIDAN,TURUN TANAH,KENDURI LAUT,KENDURI BELANG,MALLAULU,"HU,ASA",SITUJU FENGI,1,1,1,2,0,0,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,90.000000,1,1.0,1.0,2,2.0,2.0,6,NaN,NaN,20,0,20,10,7,16.0,5.0,60,1,0,10,3,2.0,2.0,60,1,0,10,3,16.0,5.0,90,15,0,100,0,3,2,0,1,2,2.0,1,4,4,2,4,1,1.0,1,1.0,1,1.0,1,1.0,2,2,2,0,0,0,0,0,0,0,0,0,0,0,1,4,0,NaN,NaN,NaN,0,0,1,2,4,6,0,60.0,3.0,0,60.0,3.0,0,60.0,3.0,0,60.000000,3.0,0,60.0,3.0,11,NaN,NaN,0,1.000000,1.0,0,60.0,3.0,1,NaN,NaN,0,60.0,3.0,0,60.0,3.0,1,4,5,8,0,60.0,3.0,0,99.800003,3.0,0,99.800003,3.0,2,60.000000,3.0,2,60.0,3.0,2,60.0,3.0,2,1.0,1.0,2,60.0,3.0,2,60.0,3.0,2,1.0,1.0
2,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,1,4,6,8,2,4,6,1,1,1,0,0,0,0,0,0,0,1,10096,10001,,1,0011,1,1,1,1,0,1,1,0,0,0,4,3,1,1,DIBAK KAOK BIDAN,MELAHERKAN,KARAJO,,HAWEL,,MANINGGAL,1,1,1,1,0,0,2,1,2,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,98.800003,1,3.0,1.0,3,NaN,NaN,2,NaN,NaN,28,1,0,100,2,NaN,NaN,22,0,45,50,2,NaN,NaN,15,0,30,45,3,15.0,4.0,134,12,0,150,0,1,2,0,1,1,2.0,2,4,4,2,2,1,1.0,2,NaN,1,1.0,2,NaN,2,2,2,0,0,0,0,0,0,0,0,0,0,0,2,4,0,NaN,NaN,NaN,0,1,1,2,4,6,0,22.0,2.0,0,22.0,2.0,0,22.0,2.0,0,22.000000,2.0,0,22.0,2.0,7,NaN,NaN,0,98.800003,4.0,0,22.0,2.0,0,22.0,2.0,0,22.0,2.0,0,22.0,2.0,2,4,6,8,0,22.0,2.0,0,22.000000,2.0,0,22.000000,2.0,2,22.000000,2.0,2,22.0,2.0,2,22.0,2.0,2,22.0,2.0,2,22.0,2.0,2,22.0,2.0,2,22.0,2.0
3,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,1,4,6,8,2,4,6,1,2,0,0,0,0,0,0,0,0,1,10096,10001,,1,0011,0,4,2,0,5,2,0,0,0,0,4,3,1,1,MAMBA KAOK BIDAN,TURUN KARAI,KENDURI BELANG,SHALAWAT,MALIUEK,GOTONG ROYANG,TAKZIA,1,1,1,5,1,1,1,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,90.000000,1,1.0,1.0,3,NaN,NaN,2,NaN,NaN,7,0,30,10,2,NaN,NaN,13,0,30,10,2,NaN,NaN,12,0,30,10,1,10.0,2.0,90,20,0,100,0,1,2,0,1,3,3.0,1,4,4,2,4,1,1.0,1,1.0,1,1.0,2,NaN,1,1,2,0,0,0,0,0,0,0,0,0,0,0,1,4,0,NaN,NaN,NaN,0,0,1,2,4,6,0,17.0,2.0,0,17.0,2.0,0,17.0,2.0,0,17.000000,2.0,0,17.0,2.0,20,NaN,NaN,0,17.000000,2.0,0,17.0,2.0,0,17.0,2.0,0,17.0,2.0,0,17.0,2.0,1,4,6,8,0,17.0,3.0,0,17.000000,3.0,0,17.000000,3.0,2,99.900002,3.0,2,17.0,3.0,2,17.0,3.0,1,NaN,NaN,2,17.0,3.0,2,17.0,3.0,2,17.0,3.0
4,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,1,4,6,8,2,4,6,1,1,2,0,0,0,0,0,0,0,1,10001,10096,70025,2,0011,0,10,1,1,1,3,0,0,0,0,4,2,1,1,MAMBA KAOK BIDAN,TURON KARAI,SHLAWAT,KENDURI BELANG,MALINEK,GOTONG BROYANG,TAKZIAH,1,1,1,1,0,0,3,1,2,1,2,2,2,2,2,2,2,2,2,2,4,2,2,2,4,2,2,2,1,2,2,60.000000,1,1.0,1.0,3,NaN,NaN,2,NaN,NaN,10,0,30,20,2,NaN,NaN,10,0,30,20,2,NaN,NaN,15,0,30,20,3,6.0,3.0,90,24,0,150,0,1,2,0,1,3,3.0,1,4,4,2,4,1,1.0,1,1.0,1,1.0,2,NaN,1,1,2,0,0,0,0,0,0,0,0,0,0,0,2,4,0,NaN,NaN,NaN,0,0,1,2,4,6,0,15.0,2.0,0,15.0,2.0,0,15.0,2.0,0,15.000000,2.0,0,15.0,2.0,7,NaN,NaN,0,15.000000,2.0,0,15.0,2.0,0,15.0,2.0,0,15.0,2.0,0,15.0,2.0,2,4,6,8,0,15.0,3.0,0,15.000000,3.0,0,15.000000,3.0,2,15.000000,3.0,2,15.0,3.0,2,15.0,3.0,1,NaN,NaN,2,15.0,3.0,2,15.0,3.0,2,15.0,3.0

In [31]:
df_2018_podes_4 = df_2018_podes_4.rename(columns=column_mapping)
df_2018_podes_4.head()

,r101,Province name,r102,Regency/city name,r103,Sub -district name,r104,Village/kelurahan name,r1301a,r1301b1k2,r1301b1k3,r1301b1k4,r1301b1k5,r1301b2k2,r1301b2k3,r1301b2k4,r1301b2k5,r1301b3k2,r1301b3k3,r1301b3k4,r1301b3k5,r1301b4k2,r1301b4k3,r1301b4k4,r1301b4k5,r1301b5k2,r1301b5k3,r1301b5k4,r1301b5k5,r1301b6k2,r1301b6k3,r1301b6k4,r1301b6k5,r1301b7k2,r1301b7k3,r1301b7k4,r1301b7k5,"Number of Village/Kelurahan Secretariat (Kaur Finance, Planning Kaur, etc.)","Number of Technical Implementers (Head of Government, Head of Welfare, etc.)",r1303a01k3,r1303a01k4,r1303a02k3,r1303a02k4,r1303a03k3,r1303a03k4,r1303a04k3,r1303a04k4,r1303a05k3,r1303a05k4,r1303a06k3,r1303a06k4,r1303a07k3,r1303a07k4,r1303a08k3,r1303a08k4,r1303a09k3,r1303a09k4,r1303a10k3,r1303a10k4,r1303a11k3,r1303a11k4,r1303b,r1304a,r1304b,r1304c,r1304d,r1304e,r1305,r1306a,r1306b1,r1306b2,r1306c1,r1306c2,r1307,r1308a,r1308b,r1309,r1403a,r1403b,r1404b,r1404c,r1404d,r1404e,r1405a1,r1405a2k1,r1405a2k2,r1405b,r1405c,r1405d,r1406a,r1406b,r1407,r1601a1k2,r1601a1k3,r1601a1k4,r1601a1k5,r1601a2k2,r1601a2k3,r1601a2k4,r1601a2k5,r1601a3k2,r1601a3k3,r1601a3k4,r1601a3k5,r1601a4k2,r1601a4k3,r1601a4k4,r1601a4k5,r1601a5k2,r1601a5k3,r1601a5k4,r1601a5k5,r1601a6k2,r1601a6k3,r1601a6k4,r1601a6k5,r1601a7k2,r1601a7k3,r1601a7k4,r1601a7k5,r1601a8k2,r1601a8k3,r1601a8k4,r1601a8k5,r1601a9k2,r1601a9k3,r1601a9k4,r1601a9k5,r1601a10k2,r1601a10k3,r1601a10k4,r1601a10k5,r1601b1k2,r1601b1k3,r1601b1k4,r1601b1k5,r1601b2k2,r1601b2k3,r1601b2k4,r1601b2k5,r1601b3k2,r1601b3k3,r1601b3k4,r1601b3k5,r1601b4k2,r1601b4k3,r1601b4k4,r1601b4k5,r1601b5k2,r1601b5k3,r1601b5k4,r1601b5k5,r1601b6k2,r1601b6k3,r1601b6k4,r1601b6k5,r1601b7k2,r1601b7k3,r1601b7k4,r1601b7k5,r1601b8k2,r1601b8k3,r1601b8k4,r1601b8k5,r1601b9k2,r1601b9k3,r1601b9k4,r1601b9k5,r1601b10k2,r1601b10k3,r1601b10k4,r1601b10k5,r1701ak2,r1701ak3,r1701ak4,r1701ak5,r1701bk2,r1701bk3,r1701bk4,r1701bk5,r1702a,r1702b,r1702c,r1702d
0,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,NaN,1,3,6,7,2,3,2,NaN,NaN,11.0,2.0,0,2,4,2,1.0,1.0,2.0,1.0,3.0,1.0,1.0,2014.0,2018.0,3.0,1.0,2.0,1.0,3.0,1.0,1,9.0,12.0,35.0,2,NaN,NaN,NaN,1,1.0,4.0,3.0,1,9.0,8.0,7.0,1,9.0,12.0,11.0,2,NaN,NaN,NaN,1,1.0,32.0,3.0,2,NaN,NaN,NaN,1,9.0,32.0,3.0,1,1.0,32.0,12.0,1,9.0,4.0,3.0,1,1.0,16.0,1.0,1,9.0,4.0,32.0,2,NaN,NaN,NaN,1,1.0,4.0,8.0,1,9.0,4.0,3.0,1,9.0,4.0,8.0,1,9.0,4.0,32.0,1,9.0,12.0,32.0,1.0,9.0,4.0,3.0,1,48.0,1.0,5.0,1,41.0,2.0,5.0,2,6,4,4
1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,2,NaN,2,NaN,1,1.0,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1.0,2,4,6,8,1,2,2,NaN,NaN,11.0,2.0,0,2,4,2,1.0,1.0,2.0,1.0,3.0,1.0,1.0,2012.0,2018.0,3.0,1.0,1.0,1.0,4.0,1.0,1,1.0,16.0,2.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1,4.0,2.0,32.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1,2.0,4.0,8.0,1,2.0,4.0,8.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1.0,1.0,4.0,8.0,1,42.0,1.0,5.0,1,45.0,1.0,5.0,2,6,2,15
2,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,NaN,2,4,6,8,2,2,2,NaN,NaN,22.0,2.0,0,2,4,2,1.0,1.0,1.0,1.0,3.0,2.0,1.0,2016.0,2021.0,3.0,4.0,2.0,2.0,4.0,1.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1,45.0,1.0,5.0,1,46.0,1.0,5.0,2,6,2,0
3,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,NaN,2,4,5,7,2,4,2,NaN,NaN,70.0,3.0,0,2,4,2,1.0,1.0,2.0,1.0,3.0,2.0,1.0,2012.0,2018.0,3.0,1.0,1.0,1.0,4.0,1.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1,48.0,1.0,5.0,1,52.0,1.0,5.0,2,6,4,12
4,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,NaN,1,4,6,8,2,2,2,NaN,NaN,10.0,3.0,0,2,4,2,3.0,3.0,1.0,1.0,3.0,2.0,1.0,2014.0,2018.0,3.0,1.0,1.0,2.0,4.0,1.0,1,2.0,4.0,8.0,2,NaN,NaN,NaN,1,2.0,4.0,8.0,2,NaN,NaN,NaN,1,2.0,4.0,8.0,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,1.0,2.0,4.0,8.0,1,45.0,1.0,5.0,1,51.0,1.0,5.0,2,6,3,15

## Conclusion of 2018 dataset

### Similarly like 2014, the data dictionary is not covering all the coumns of the dataset so we need an updated data dictonary that will match the 2014 data

#### Lets continue analysing the 2020 dataset

In [32]:
from dbfread import DBF
import pandas as pd

table_1 = DBF("podes2020_b1b7.dbf")

In [34]:
df_2020_1 = pd.DataFrame(iter(table_1))
df_2020_1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84038 entries, 0 to 84037
Data columns (total 189 columns):
 #    Column    Dtype
---   ------    -----
 0    R101      object
 1    R101N     object
 2    R102      object
 3    R102N     object
 4    R103      object
 5    R103N     object
 6    R104      object
 7    R104N     object
 8    R107A     int64
 9    R107B     int64
 10   R107C     int64
 11   R301      int64
 12   R302A     int64
 13   R302B     int64
 14   R303      int64
 15   R501A1    int64
 16   R501A2    int64
 17   R501B     int64
 18   R502A     int64
 19   R502B     int64
 20   R503A1    int64
 21   R503A2    int64
 22   R503A3    int64
 23   R503A4    int64
 24   R503A5    int64
 25   R503A6    int64
 26   R503B     int64
 27   R504A1    int64
 28   R504A2    int64
 29   R504A3    int64
 30   R504A4    int64
 31   R504A5    int64
 32   R504B     int64
 33   R504C     int64
 34   R505      int64
 35   R506      int64
 36   R507A     int64
 37   R507B     int64
 38   R508      int64
 39   R509      int64
 40   R510      int64
 41   R511      int64
 42   R512A     int64
 43   R512B1    int64
 44   R512B2    int64
 45   R512B3    int64
 46   R601AK2   int64
 47   R601AK3   int64
 48   R601AK4   float64
 49   R601AK5   int64
 50   R601BK2   int64
 51   R601BK3   int64
 52   R601BK4   float64
 53   R601BK5   int64
 54   R601CK2   int64
 55   R601CK3   int64
 56   R601CK4   float64
 57   R601CK5   int64
 58   R601DK2   int64
 59   R601DK3   int64
 60   R601DK4   float64
 61   R601DK5   int64
 62   R601EK2   int64
 63   R601EK3   int64
 64   R601EK4   float64
 65   R601EK5   int64
 66   R601FK2   int64
 67   R601FK3   int64
 68   R601FK4   float64
 69   R601FK5   int64
 70   R601GK2   int64
 71   R601GK3   int64
 72   R601GK4   float64
 73   R601GK5   int64
 74   R601HK2   int64
 75   R601HK3   int64
 76   R601HK4   float64
 77   R601HK5   int64
 78   R601IK2   int64
 79   R601IK3   int64
 80   R601IK4   float64
 81   R601IK5   int64
 82   R601JK2   int64
 83   R601JK3   int64
 84   R601JK4   float64
 85   R601JK5   int64
 86   R601KK2   int64
 87   R601KK3   int64
 88   R601KK4   float64
 89   R601KK5   int64
 90   R602      int64
 91   R603AK2   int64
 92   R603AK3   float64
 93   R603AK4   int64
 94   R603BK2   int64
 95   R603BK3   float64
 96   R603BK4   int64
 97   R603CK2   int64
 98   R603CK3   float64
 99   R603CK4   int64
 100  R603DK2   int64
 101  R603DK3   float64
 102  R603DK4   int64
 103  R603EK2   int64
 104  R603EK3   float64
 105  R603EK4   int64
 106  R603FK2   int64
 107  R603FK3   float64
 108  R603FK4   int64
 109  R603GK2   int64
 110  R603GK3   float64
 111  R603GK4   int64
 112  R603HK2   int64
 113  R603HK3   float64
 114  R603HK4   int64
 115  R603IK2   int64
 116  R603IK3   float64
 117  R603IK4   int64
 118  R603JK2   int64
 119  R603JK3   float64
 120  R603JK4   int64
 121  R603KK2   int64
 122  R603KK3   float64
 123  R603KK4   int64
 124  R603LK2   int64
 125  R603LK3   float64
 126  R603LK4   int64
 127  R603MK2   int64
 128  R603MK3   float64
 129  R603MK4   int64
 130  R603NK2   int64
 131  R603N1K2  int64
 132  R603N2K2  int64
 133  R603N3K2  int64
 134  R603N4K2  int64
 135  R604      int64
 136  R605AK2   int64
 137  R605AK3   int64
 138  R605AK4   int64
 139  R605BK2   int64
 140  R605BK3   int64
 141  R605BK4   int64
 142  R605CK2   int64
 143  R605CK3   int64
 144  R605CK4   int64
 145  R605DK2   int64
 146  R605DK3   int64
 147  R605DK4   int64
 148  R605EK2   int64
 149  R605EK3   int64
 150  R605EK4   int64
 151  R605FK2   int64
 152  R605FK3   int64
 153  R605FK4   int64
 154  R605GK2   int64
 155  R605GK3   int64
 156  R605GK4   int64
 157  R605HK2   int64
 158  R605HK3   int64
 159  R605HK4   int64
 160  R605IK2   int64
 161  R605IK3   int64
 162  R605IK4   int64
 163  R701AK2   int64
 164  R701AK3   int64
 165  R701BK2   int64
 166  R701BK3   int64
 167  R701CK2   int64
 168  R701CK3   int64
 169  R701DK2   int64
 170  R701DK3   int64
 171  R701EK2   int64
 172  R701EK3   int64
 173  R701FK2   int64
 174  R701FK3   int64
 175  R701GK2   int64
 176  R701GK3   int64
 177  R701HK2   int64
 178  R701HK3   int64
 179  R701IK2   int64
 180  R701IK3   int64
 181  R701JK2   int64
 182  R701JK3   int64
 183  R701KK2   int64
 184  R701KK3   int64
 185  R701LK2   int64
 186  R701LK3   int64
 187  R702      int64
 188  R703      int64
dtypes: float64(24), int64(157), object(8)
memory usage: 121.2+ MB

In [35]:
df_2020_1.head()

,R101,R101N,R102,R102N,R103,R103N,R104,R104N,R107A,R107B,R107C,R301,R302A,R302B,R303,R501A1,R501A2,R501B,R502A,R502B,R503A1,R503A2,R503A3,R503A4,R503A5,R503A6,R503B,R504A1,R504A2,R504A3,R504A4,R504A5,R504B,R504C,R505,R506,R507A,R507B,R508,R509,R510,R511,R512A,R512B1,R512B2,R512B3,R601AK2,R601AK3,R601AK4,R601AK5,R601BK2,R601BK3,R601BK4,R601BK5,R601CK2,R601CK3,R601CK4,R601CK5,R601DK2,R601DK3,R601DK4,R601DK5,R601EK2,R601EK3,R601EK4,R601EK5,R601FK2,R601FK3,R601FK4,R601FK5,R601GK2,R601GK3,R601GK4,R601GK5,R601HK2,R601HK3,R601HK4,R601HK5,R601IK2,R601IK3,R601IK4,R601IK5,R601JK2,R601JK3,R601JK4,R601JK5,R601KK2,R601KK3,R601KK4,R601KK5,R602,R603AK2,R603AK3,R603AK4,R603BK2,R603BK3,R603BK4,R603CK2,R603CK3,R603CK4,R603DK2,R603DK3,R603DK4,R603EK2,R603EK3,R603EK4,R603FK2,R603FK3,R603FK4,R603GK2,R603GK3,R603GK4,R603HK2,R603HK3,R603HK4,R603IK2,R603IK3,R603IK4,R603JK2,R603JK3,R603JK4,R603KK2,R603KK3,R603KK4,R603LK2,R603LK3,R603LK4,R603MK2,R603MK3,R603MK4,R603NK2,R603N1K2,R603N2K2,R603N3K2,R603N4K2,R604,R605AK2,R605AK3,R605AK4,R605BK2,R605BK3,R605BK4,R605CK2,R605CK3,R605CK4,R605DK2,R605DK3,R605DK4,R605EK2,R605EK3,R605EK4,R605FK2,R605FK3,R605FK4,R605GK2,R605GK3,R605GK4,R605HK2,R605HK3,R605HK4,R605IK2,R605IK3,R605IK4,R701AK2,R701AK3,R701BK2,R701BK3,R701CK2,R701CK3,R701DK2,R701DK3,R701EK2,R701EK3,R701FK2,R701FK3,R701GK2,R701GK3,R701HK2,R701HK3,R701IK2,R701IK3,R701JK2,R701JK3,R701KK2,R701KK3,R701LK2,R701LK3,R702,R703
0,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,1,3,5,1,1,10,1,68,0,10,2,1,2,4,6,7,1,4,4,2,3,6,8,2,2,3,2,3,1,3,2,3,1,0,2,0,0,0,0,0,7.0,2,0,0,1.0,1,0,0,28.0,3,1,0,0.0,0,0,0,10.0,2,0,0,1.0,1,0,0,11.0,2,0,0,2.0,2,0,0,11.0,2,0,0,11.0,2,0,0,41.0,3,2,0,36.0,3,0,99.8,4,0,9.0,2,0,36.0,3,0,9.0,2,0,36.0,3,0,36.0,3,0,99.8,4,0,11.0,2,1,0.0,0,0,36.0,3,0,36.0,3,0,99.8,4,1,1,1,1,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,1,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,3
1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,1,3,5,1,1,8,1,141,0,0,2,1,2,4,6,7,1,4,4,2,3,6,8,2,2,3,2,3,1,3,2,4,1,0,2,0,0,0,0,0,41.0,3,1,1,0.0,0,0,0,19.0,3,1,0,0.0,0,0,0,2.0,1,0,0,2.0,1,0,0,17.0,3,0,0,2.0,1,0,0,17.0,3,0,0,17.0,3,0,0,41.0,3,2,0,41.0,3,0,99.8,4,0,2.0,1,0,41.0,3,0,9.0,2,0,41.0,3,0,1.0,1,0,99.8,4,0,17.0,3,1,0.0,0,0,99.8,4,0,41.0,4,0,99.8,4,1,0,1,1,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,1,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,3
2,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,1,3,5,1,1,6,1,141,0,1,3,0,2,4,5,7,1,4,4,2,3,6,8,2,2,3,2,3,1,3,2,4,1,0,2,0,0,0,0,0,28.0,2,0,1,0.0,0,0,0,99.8,3,1,0,0.0,0,0,0,4.0,1,0,0,1.0,1,0,0,0.5,1,1,0,0.0,0,0,0,0.5,1,0,0,0.5,1,0,0,28.0,2,2,0,28.0,2,0,99.8,3,0,28.0,2,0,23.0,2,1,0.0,0,0,99.8,3,0,28.0,2,0,99.8,3,0,0.5,1,0,1.0,1,0,22.0,2,0,28.0,2,0,28.0,2,1,1,1,1,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,1,4,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,3
3,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,1,3,5,1,1,10,1,160,0,5,2,1,2,4,6,7,1,4,5,2,3,6,8,2,2,3,2,3,1,3,9,4,1,0,2,0,0,0,0,0,30.0,3,0,1,0.0,0,0,0,39.0,3,1,0,0.0,0,0,0,8.0,2,1,0,0.0,0,0,0,13.0,2,0,0,1.0,1,0,0,13.0,2,0,0,16.0,2,0,0,15.0,2,2,0,13.0,2,0,99.8,4,0,8.0,2,0,13.0,2,1,0.0,0,0,13.0,2,0,13.0,2,0,99.8,4,0,13.0,2,1,0.0,0,0,99.8,4,0,13.0,2,0,99.8,4,1,0,1,1,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,3
4,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,1,3,5,1,1,12,1,114,0,0,2,1,2,4,6,7,1,4,5,2,3,6,8,2,2,3,2,3,2,3,6,4,1,1,2,0,0,0,0,0,2.0,1,0,0,2.0,1,0,0,43.0,3,1,0,0.0,0,0,0,10.0,2,1,0,0.0,0,0,0,12.0,2,1,0,0.0,0,0,0,12.0,2,0,0,15.0,2,0,0,26.0,3,2,0,12.0,2,0,99.8,4,0,10.0,2,0,12.0,2,0,4.0,1,0,12.0,2,0,12.0,2,0,99.8,4,0,12.0,2,1,0.0,0,0,99.8,4,0,12.0,2,0,99.8,4,1,0,1,1,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,3,1,2,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,3

In [36]:
table_2 = DBF("podes2020_b8b13.dbf")
df_2020_2 = pd.DataFrame(iter(table_2))
df_2020_2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84038 entries, 0 to 84037
Data columns (total 194 columns):
 #    Column     Dtype
---   ------     -----
 0    R101       object
 1    R101N      object
 2    R102       object
 3    R102N      object
 4    R103       object
 5    R103N      object
 6    R104       object
 7    R104N      object
 8    R801A      int64
 9    R801B1     int64
 10   R801B2     int64
 11   R801C1     int64
 12   R801C2     int64
 13   R801C3     int64
 14   R802AK2    int64
 15   R802AK3    int64
 16   R802AK4    int64
 17   R802AK5    int64
 18   R802AK6A   int64
 19   R802AK6B   int64
 20   R802AK7    int64
 21   R802BK2    int64
 22   R802BK3    int64
 23   R802BK4    int64
 24   R802BK5    int64
 25   R802BK6A   int64
 26   R802BK6B   int64
 27   R802BK7    int64
 28   R803A      int64
 29   R803B      int64
 30   R804       int64
 31   R805A      int64
 32   R805B      int64
 33   R805C      int64
 34   R805D      int64
 35   R806A      int64
 36   R806B      int64
 37   R807A      int64
 38   R807B      int64
 39   R807C      int64
 40   R901A      int64
 41   R901B      int64
 42   R901C      int64
 43   R901D      int64
 44   R901E      int64
 45   R901F      int64
 46   R901G      int64
 47   R901H      int64
 48   R902A      int64
 49   R902B      int64
 50   R903AK2    int64
 51   R903AK3    float64
 52   R903AK4    int64
 53   R903BK2    int64
 54   R903BK3    float64
 55   R903BK4    int64
 56   R903CK2    int64
 57   R903CK3    float64
 58   R903CK4    int64
 59   R904A      int64
 60   R904B      int64
 61   R904C      int64
 62   R904D      int64
 63   R905       int64
 64   R906AK2    int64
 65   R906AK3    float64
 66   R906AK4    int64
 67   R906BK2    int64
 68   R906BK3    float64
 69   R906BK4    int64
 70   R906CK2    int64
 71   R906CK3    float64
 72   R906CK4    int64
 73   R906DK2    int64
 74   R906DK3    float64
 75   R906DK4    int64
 76   R906EK2    int64
 77   R906EK3    float64
 78   R906EK4    int64
 79   R906FK2    int64
 80   R906FK3    float64
 81   R906FK4    int64
 82   R906GK2    int64
 83   R906GK3    float64
 84   R906GK4    int64
 85   R906HK2    int64
 86   R906HK3    float64
 87   R906HK4    int64
 88   R906IK2    int64
 89   R906IK3    float64
 90   R906IK4    int64
 91   R906JK2    int64
 92   R906JK3    float64
 93   R906JK4    int64
 94   R1001      int64
 95   R1002A     int64
 96   R1002B     int64
 97   R1002C1    int64
 98   R1002C2    int64
 99   R1002D     int64
 100  R1003      int64
 101  R100401K3  int64
 102  R100401K4  int64
 103  R100402K3  int64
 104  R100402K4  int64
 105  R100403K3  int64
 106  R100403K4  int64
 107  R100404K3  int64
 108  R100404K4  int64
 109  R1005A     int64
 110  R1005B     int64
 111  R1005C     int64
 112  R1005D     int64
 113  R1005E     int64
 114  R1006A     int64
 115  R1006B     int64
 116  R1006C     int64
 117  R1006D     int64
 118  R1006E     int64
 119  R1006F     int64
 120  R1006G     int64
 121  R1006H     int64
 122  R1006I     int64
 123  R1101AK2   int64
 124  R1101AK3   int64
 125  R1101AK4   int64
 126  R1101AK5   int64
 127  R1101AK6   int64
 128  R1101BK2   int64
 129  R1101BK3   int64
 130  R1101BK4   int64
 131  R1101BK5   int64
 132  R1101BK6   int64
 133  R1101CK2   int64
 134  R1101CK3   int64
 135  R1101CK4   int64
 136  R1101CK5   int64
 137  R1101CK6   int64
 138  R1101DK2   int64
 139  R1101DK3   int64
 140  R1101DK4   int64
 141  R1101DK5   int64
 142  R1101DK6   int64
 143  R1101EK2   int64
 144  R1101EK3   int64
 145  R1101EK4   int64
 146  R1101EK5   int64
 147  R1101EK6   int64
 148  R1101FK2   int64
 149  R1101FK3   int64
 150  R1101FK4   int64
 151  R1101FK5   int64
 152  R1101FK6   int64
 153  R1101GK2   int64
 154  R1101GK3   int64
 155  R1101GK4   int64
 156  R1101GK5   int64
 157  R1101GK6   int64
 158  R1101HK2   int64
 159  R1101HK3   int64
 160  R1101HK4   int64
 161  R1101HK5   int64
 162  R1101HK6   int64
 163  R1101IK2   int64
 164  R1101IK3   int64
 165  R1101IK4   int64
 166  R1101IK5   int64
 167  R1101IK6   int64
 168  R1101JK2   int64
 169  R1101JK3   int64
 170  R1101JK4   int64
 171  R1101JK5   int64
 172  R1101JK6   int64
 173  R1102A     int64
 174  R1102B     int64
 175  R1102C     int64
 176  R1102D     int64
 177  R1102E     int64
 178  R1201A     int64
 179  R1201B     int64
 180  R1201C     int64
 181  R1202      int64
 182  R1203      int64
 183  R1204      int64
 184  R1301AK2   int64
 185  R1301AK3   int64
 186  R1301AK4   int64
 187  R1301AK5   int64
 188  R1301BK2   int64
 189  R1301BK3   int64
 190  R1301BK4   int64
 191  R1301BK5   int64
 192  R1302A     int64
 193  R1302B     int64
dtypes: float64(13), int64(173), object(8)
memory usage: 124.4+ MB

In [37]:
df_2020_2.head()

,R101,R101N,R102,R102N,R103,R103N,R104,R104N,R801A,R801B1,R801B2,R801C1,R801C2,R801C3,R802AK2,R802AK3,R802AK4,R802AK5,R802AK6A,R802AK6B,R802AK7,R802BK2,R802BK3,R802BK4,R802BK5,R802BK6A,R802BK6B,R802BK7,R803A,R803B,R804,R805A,R805B,R805C,R805D,R806A,R806B,R807A,R807B,R807C,R901A,R901B,R901C,R901D,R901E,R901F,R901G,R901H,R902A,R902B,R903AK2,R903AK3,R903AK4,R903BK2,R903BK3,R903BK4,R903CK2,R903CK3,R903CK4,R904A,R904B,R904C,R904D,R905,R906AK2,R906AK3,R906AK4,R906BK2,R906BK3,R906BK4,R906CK2,R906CK3,R906CK4,R906DK2,R906DK3,R906DK4,R906EK2,R906EK3,R906EK4,R906FK2,R906FK3,R906FK4,R906GK2,R906GK3,R906GK4,R906HK2,R906HK3,R906HK4,R906IK2,R906IK3,R906IK4,R906JK2,R906JK3,R906JK4,R1001,R1002A,R1002B,R1002C1,R1002C2,R1002D,R1003,R100401K3,R100401K4,R100402K3,R100402K4,R100403K3,R100403K4,R100404K3,R100404K4,R1005A,R1005B,R1005C,R1005D,R1005E,R1006A,R1006B,R1006C,R1006D,R1006E,R1006F,R1006G,R1006H,R1006I,R1101AK2,R1101AK3,R1101AK4,R1101AK5,R1101AK6,R1101BK2,R1101BK3,R1101BK4,R1101BK5,R1101BK6,R1101CK2,R1101CK3,R1101CK4,R1101CK5,R1101CK6,R1101DK2,R1101DK3,R1101DK4,R1101DK5,R1101DK6,R1101EK2,R1101EK3,R1101EK4,R1101EK5,R1101EK6,R1101FK2,R1101FK3,R1101FK4,R1101FK5,R1101FK6,R1101GK2,R1101GK3,R1101GK4,R1101GK5,R1101GK6,R1101HK2,R1101HK3,R1101HK4,R1101HK5,R1101HK6,R1101IK2,R1101IK3,R1101IK4,R1101IK5,R1101IK6,R1101JK2,R1101JK3,R1101JK4,R1101JK5,R1101JK6,R1102A,R1102B,R1102C,R1102D,R1102E,R1201A,R1201B,R1201C,R1202,R1203,R1204,R1301AK2,R1301AK3,R1301AK4,R1301AK5,R1301BK2,R1301BK3,R1301BK4,R1301BK5,R1302A,R1302B
0,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,1,2,1,3,0,0,2,0,0,9,0,15,8,2,0,0,36,1,59,25,0,2,2,0,1,2,1,1,4,4,2,4,0,0,0,0,0,0,0,0,2,4,0,40.0,3,0,40.0,3,0,99.8,4,0,0,0,0,2,0,36.0,3,0,36.0,3,0,36.0,3,0,36.0,3,0,36.0,3,0,36.0,3,0,36.0,3,0,99.8,4,0,36.0,3,0,36.0,3,1,2,0,0,0,0,0,2,0,2,0,2,0,2,0,2,4,6,7,2,1,1,0,0,0,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,4,6,8,1,1,1,1,1,0,1,1,52,1,5,1,40,1,5,4,3
1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,1,1,1,3,0,0,2,0,0,2,0,5,5,2,0,0,41,1,59,30,0,2,2,0,1,3,1,1,4,4,2,4,0,0,0,0,0,0,0,0,1,4,0,41.0,3,0,41.0,3,0,99.8,4,0,0,0,0,2,0,41.0,3,0,41.0,3,0,41.0,3,0,99.8,4,0,41.0,3,0,41.0,3,0,2.0,1,0,99.8,4,0,41.0,3,0,2.0,1,1,2,0,0,0,0,0,2,0,2,0,2,0,2,0,2,4,6,7,2,1,1,0,0,0,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,4,6,8,2,1,1,1,1,0,1,1,45,1,5,1,44,1,5,4,3
2,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,1,1,1,3,0,0,2,0,0,23,0,30,20,2,0,0,28,0,40,25,0,1,2,0,1,2,1,1,4,4,2,4,0,1,0,0,0,0,0,0,2,4,0,28.0,2,0,28.0,2,0,99.8,3,0,0,0,0,2,0,28.0,2,0,28.0,2,0,28.0,2,0,10.0,2,0,28.0,2,0,28.0,2,1,0.0,0,0,99.8,3,0,1.0,1,8,0.0,0,1,2,0,0,0,0,0,2,0,2,0,2,0,2,0,1,4,6,7,2,1,1,0,0,0,0,0,0,0,2,0,0,0,0,1,3,0,2,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,1,1,0,1,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,4,6,8,1,1,1,1,1,0,0,1,47,1,5,1,46,1,7,3,3
3,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,1,1,1,3,0,0,2,0,0,8,0,15,15,2,0,0,13,0,25,25,0,2,2,0,1,3,2,1,4,4,2,4,0,0,0,0,0,0,0,0,1,4,0,17.0,2,0,17.0,2,0,99.8,4,0,0,0,0,2,0,13.0,2,0,13.0,2,0,13.0,2,0,99.8,4,0,13.0,2,0,99.8,2,0,13.0,2,0,99.8,4,0,13.0,2,0,8.0,2,1,2,0,0,0,0,0,2,0,2,0,2,0,2,0,2,4,6,7,2,2,0,0,0,0,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,4,6,8,2,1,1,1,1,0,1,2,0,0,0,1,36,2,5,4,3
4,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,1,1,1,3,0,0,2,0,0,10,0,20,15,2,0,0,12,0,20,20,0,2,2,0,0,4,0,1,4,4,2,4,0,0,0,0,0,0,0,0,2,4,0,12.0,2,0,12.0,2,0,12.0,2,0,0,0,0,2,0,12.0,2,0,12.0,2,0,12.0,2,0,99.8,4,0,12.0,2,0,99.8,4,0,12.0,2,0,99.8,4,0,12.0,2,0,12.0,2,1,2,0,0,0,0,0,2,0,2,0,2,0,2,0,2,4,6,7,2,2,2,0,0,0,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,4,6,8,2,1,1,1,1,0,1,1,49,1,5,1,57,1,5,4,3

We could see the surevy questions are divided among 2 datasets so Lets try column mapping from data dictionary to 2020 datasets

In [38]:
df_2020_1.columns = df_2020_1.columns.str.lower()
df_2020_2.columns = df_2020_2.columns.str.lower()

In [39]:
column_mapping = data_dict.set_index('Kode Variabel')['label_english'].to_dict()
df_2020_1 = df_2020_1.rename(columns=column_mapping)
df_2020_1.head()

,r101,Province name,r102,Regency/city name,r103,Sub -district name,r104,Village/kelurahan name,Village Definitive Status and Village/Kelurahan Operations: There is a village/kelurahan area with a clear boundary,Village Definitive Status and Village/Kelurahan Operations: There are residents who settled in the village/kelurahan area,Village Definitive Status and Village/Kelurahan Operations: There is a Village/Kelurahan Government,Government status,Village Consultative Body/Village Deliberation Institution,The number of village/kelurahan deliberations carried out during 2019,Map of the village/kelurahan stipulated in the Regent/Mayor Regulation or Governor,Number of families of PLN electricity users,Number of Non PLN Electric User Families,Number of Families Non -Electric User,Lighting on the main road/kelurahan road,"If there is lighting on the main road of the village/kelurahan (R402A coded 1 or 2), the type of lighting",Fuel for cooking used by families: city gas,Fuel for cooking used by family: LPG 3 kg,Fuel for cooking used by the family: LPG is more than 3 kg,Fuel for cooking used by the family: kerosene,Fuel for cooking used by the family: firewood,Fuel for cooking used by the family: Others,Fuel for cooking most families:,"Family trash throwing place: trash can, then transported",Family garbage container: in a hole or burned,Family Garbage Place: River/Irrigation Channel/Lake/Sea,Family garbage places: drainage (sewers/gutters),Family Trash Place: Others,Place to throw garbage most of the families,Temporary landfill (TPS),The existence of a garbage bank in the village/kelurahan,"Waste Management Activities: Processing/Recycling of Waste/Waste (Reuse, Recycle) for the past year",The use of defecating facilities for most families in the village/kelurahan,Final Disposal Sites Most Families,Water sources for drinking most families in the village/kelurahan come from,The source of water for bathing/washing most of the families comes from,The existence of rivers in the village/kelurahan,The number of reservoirs in the village/kelurahan,"The existence of slums (poor environmental sanitation, dense buildings, and most unfit for habitation) in the village/kelurahan",If there is a slum: the number of locations,If there is a slum: the number of buildings,If there is a slum: the number of families,Type/Level of Education: State Early Childhood Education Post (PAUD),Type/Level of Education: Private Early Childhood Education Post (PAUD),Distance to Early Childhood Education Post (PAUD) (Km),Ease of access to Early Childhood Education Post (PAUD),Types/levels of education: TK Negeri,Type/level of education: private kindergarten,Distance to kindergarten (km),Ease of access to kindergarten,Type/level of education: RA/BA Negeri,Type/level of education: RA/BA Private,Distance to ra/ba (km),Ease of access to RA/BA,Type/level of education: SD Negeri,Type/level of education: private elementary school,Distance to SD (KM),Ease of access to SD,Type/level of education: MI Negeri,Types/levels of education: Private MI,Distance to mi (km),Ease of access to MI,Type/level of education: SMP Negeri,Type/level of education: private junior high school,Distance to junior high school (km),Ease of access to junior high school,Type/Level of Education: MTs Negeri,Type/Level of Education: Private MTs,Distance to MTs (km),Ease of access to MTs,Type/Level of Education: SMA Negeri,Type/level of education: private high school,Distance to high school (km),Ease of access to high school,Type/level of education: MA Negeri,Type/level of education: MA Private,Distance to MA (km),Ease of access to MA,Type/level of education: State Vocational School,Type/level of education: private vocational school,Distance to SMK (KM),Ease of access to SMK,Type/Level of Education: State Academy/Universities,Type/Level of Education: Private Academy/College,Distance to Academy/Higher Education (KM),Ease of access to the Academy/College,The existence of Community Reading Park (TBM),Number of hospitals,The closest distance to the hospital,Ease of reaching the hospital,Number of Maternity Hospitals,The closest distance to the Hospital Maternity,Ease of reaching the maternity hospital,Number of Puskesmas with inpatient,Closest distance to the puskesmas with inpatient,Ease of reaching the Puskesmas with inpatient,Number of Puskesmas without Inpatient,Closest distance to the puskesmas without hospitalization,Ease of reaching the Puskesmas without hospitalization,Number of Supporting Puskesmas,The closest distance to the Puskesmas Support,Ease of reaching the Puskesmas auxiliary,Number of Polyclinic/Treatment Center,The closest distance to the Polyclinic/Treatment Center,Ease of achieving polyclinic/treatment centers,The number of doctor practice places,The closest distance to the doctor's practice,Ease of reaching the doctor's practice,Number of maternity houses,The closest distance to the Hospital Maternity,Ease of reaching the maternity house,Number of Midwife Practice Places,Closest distance to the place of practice midwife,Ease of reaching the place of practice of midwives,Number of Poskesdes (Village Health Post),The closest distance to Poskesdes (Village Health Post),Ease of reaching Poskesdes (Village Health Post),Number of Polindes (Pondok Maternity Village),The closest distance to Polindes (Pondok Maternity Village),Ease of reaching Polindes (Pondok Maternity Village),Number of Pharmacies,The closest distance to the pharmacy,Ease of reaching the pharmacy,The number of special drugs/herbal medicine shops,The closest distance to the special drug/herbal medicine store,Ease of achieving a special drug/herbal medicine store,Posyandu according to activities/services for the past year,Posyandu who carries out counseling/education activities,Posyandu which provides additional food/drinks,Posyandu with activities/services once a month,Posyandu with activities/services every 2 months or more,Number of citizens with malnutrition (Marasmus and Kwashiorkor) in 2019,Extraordinary Events (KLB) Muntaber/diarrhea,Number of sufferers of vomiting/diarrhea,The number of sufferers who died of vomiting/diarrhea,Extraordinary Events (KLB) Dengue Fever,The number of people with dengue fever,The number of sufferers who died of dengue fever,Extraordinary Events (KLB) Measles,Number of measles sufferers,The number of sufferers who died of measles,Extraordinary Events (KLB) Malaria,Number of malaria sufferers,The number of sufferers who died of malaria,Extraordinary Events (KLB) bird flu/sars,The number of bird flu sufferers/sars,The number of sufferers who died of bird flu/sars,Extraordinary Events (KLB) Hepatitis E,The number of people with hepatitis e,The number of sufferers who died of hepatitis e,Extraordinary Events (KLB) Diphtheria,Number of sufferers of diphtheria,The number of sufferers who died due to diphtheria DPT,Extraordinary Events (KLB) Covid-19,Number of Covid-19 sufferers,Number of sufferers who died of Covid-19,"Other extraordinary events (KLB) (for example: Chikungunya, leptospirosis, cholera, etc.)","The number of other sufferers (for example: chikungunya, leptospirosis, cholera, etc.)","The number of sufferers who died due to other (for example: chikungunya, leptospirosis, cholera, etc.)",Availability of facilities/field: soccer,Activity Group: Football,Availability of facilities/field: volleyball,Activity Group: Volleyball,Availability of facilities/field: badminton,Activity Group: Badminton,Availability of facilities/field: basketball,Activity Group: Basketball,Availability of Facilities/Field: Field Tennis,Activity Group: Field Tennis,Availability of Facilities/Field: Table Tennis,Activity Group: Table Tennis,Availability of Facilities/Field: Futsal,Activity Group: Futsal,Availability of Facilities/Field: Swimming,Activity Group: Swimming,"Availability of facilities/field: self -defense (pencak silat, karate, etc.)","Activity Group: self -defense (pencak silat, karate, etc.)",Availability of Facilities/Field: Billiard,Activity Group: Billiard,"Availability of Facilities/Field: Fitness Center (Fitness, Aerobics)",Activity Group: Fitness Center (Fitness Center):,Availability of Facilities/Field: Others,Activity Group: Other,The existence of a pub/discotheque/karaoke place that is still functioning,"Open public space whose main designation is a place for village/kelurahan residents to relax/play without the need to pay (for example: open fields/squares, parks, etc.)"
0,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,1,3,5,1,1,10,1,68,0,10,2,1,2,4,6,7,1,4,4,2,3,6,8,2,2,3,2,3,1,3,2,3,1,0,2,0,0,0,0,0,7.0,2,0,0,1.0,1,0,0,28.0,3,1,0,0.0,0,0,0,10.0,2,0,0,1.0,1,0,0,11.0,2,0,0,2.0,2,0,0,11.0,2,0,0,11.0,2,0,0,41.0,3,2,0,36.0,3,0,99.8,4,0,9.0,2,0,36.0,3,0,9.0,2,0,36.0,3,0,36.0,3,0,99.8,4,0,11.0,2,1,0.0,0,0,36.0,3,0,36.0,3,0,99.8,4,1,1,1,1,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,1,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,3
1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,1,3,5,1,1,8,1,141,0,0,2,1,2,4,6,7,1,4,4,2,3,6,8,2,2,3,2,3,1,3,2,4,1,0,2,0,0,0,0,0,41.0,3,1,1,0.0,0,0,0,19.0,3,1,0,0.0,0,0,0,2.0,1,0,0,2.0,1,0,0,17.0,3,0,0,2.0,1,0,0,17.0,3,0,0,17.0,3,0,0,41.0,3,2,0,41.0,3,0,99.8,4,0,2.0,1,0,41.0,3,0,9.0,2,0,41.0,3,0,1.0,1,0,99.8,4,0,17.0,3,1,0.0,0,0,99.8,4,0,41.0,4,0,99.8,4,1,0,1,1,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,1,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,3
2,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,1,3,5,1,1,6,1,141,0,1,3,0,2,4,5,7,1,4,4,2,3,6,8,2,2,3,2,3,1,3,2,4,1,0,2,0,0,0,0,0,28.0,2,0,1,0.0,0,0,0,99.8,3,1,0,0.0,0,0,0,4.0,1,0,0,1.0,1,0,0,0.5,1,1,0,0.0,0,0,0,0.5,1,0,0,0.5,1,0,0,28.0,2,2,0,28.0,2,0,99.8,3,0,28.0,2,0,23.0,2,1,0.0,0,0,99.8,3,0,28.0,2,0,99.8,3,0,0.5,1,0,1.0,1,0,22.0,2,0,28.0,2,0,28.0,2,1,1,1,1,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,1,4,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,3
3,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,1,3,5,1,1,10,1,160,0,5,2,1,2,4,6,7,1,4,5,2,3,6,8,2,2,3,2,3,1,3,9,4,1,0,2,0,0,0,0,0,30.0,3,0,1,0.0,0,0,0,39.0,3,1,0,0.0,0,0,0,8.0,2,1,0,0.0,0,0,0,13.0,2,0,0,1.0,1,0,0,13.0,2,0,0,16.0,2,0,0,15.0,2,2,0,13.0,2,0,99.8,4,0,8.0,2,0,13.0,2,1,0.0,0,0,13.0,2,0,13.0,2,0,99.8,4,0,13.0,2,1,0.0,0,0,99.8,4,0,13.0,2,0,99.8,4,1,0,1,1,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,1,1,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,3
4,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,1,3,5,1,1,12,1,114,0,0,2,1,2,4,6,7,1,4,5,2,3,6,8,2,2,3,2,3,2,3,6,4,1,1,2,0,0,0,0,0,2.0,1,0,0,2.0,1,0,0,43.0,3,1,0,0.0,0,0,0,10.0,2,1,0,0.0,0,0,0,12.0,2,1,0,0.0,0,0,0,12.0,2,0,0,15.0,2,0,0,26.0,3,2,0,12.0,2,0,99.8,4,0,10.0,2,0,12.0,2,0,4.0,1,0,12.0,2,0,12.0,2,0,99.8,4,0,12.0,2,1,0.0,0,0,99.8,4,0,12.0,2,0,99.8,4,1,0,1,1,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,2,0,0,3,1,2,1,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,4,2,2,3

In [40]:
column_mapping = data_dict.set_index('Kode Variabel')['label_english'].to_dict()
df_2020_2 = df_2020_2.rename(columns=column_mapping)
df_2020_2.head()

,r101,Province name,r102,Regency/city name,r103,Sub -district name,r104,Village/kelurahan name,Traffic from/to villages/kelurahan through,The widest type of road surface,Roads can be passed by 4 or more motorized motor vehicles,Public transportation that passes through villages/kelurahan: the existence of public transportation,Public transportation that passes through villages/kelurahan: Main Public Transportation Operations,Public transportation that passes through villages/kelurahan: the main public transport operating hours,Transportation facilities commonly used from the village head/lurah office to the sub -district office,Types of Public Transportation from the Village Head/Lurah Office to the Sub -District Office,The main type of public transportation from the village head/lurah office to the sub -district office,The distance from the village head/lurah office to the sub -district office,Travel time from the village head/lurah office to the sub -district office (hour),Travel time from the village head/lurah office to the sub -district office (minute),Transportation costs from the Village/Lurah Head Office to the Sub -District Office,Transportation facilities commonly used from the Village/Lurah Head Office to the Regent/Mayor's Office,Types of Public Transportation from the Village Head/Lurah Office to the Regent/Mayor's Office,The main type of public transportation from the village head/lurah office to the regent/mayor's office,The distance from the village head/lurah office to the regent/mayor's office,Travel time from the village head/lurah office to the regent/mayor's office (hours),Travel time from the village head/lurah office to the regent/mayor's office (minutes),Transportation costs from the Village/Lurah Head Office to the Regent/Mayor's Office,The number of families subscribed to cable phones,The presence of residents who use cell phones/mobile phones,"The existence of the internet for internet cafes, online games, and other facilities in the village/kelurahan",Number of Cell Phone Tower or Base Transceiver Station (BTS),Number of cellular/mobile phone communication service operators that reach the village/kelurahan,Cellular/mobile phone signals in most villages/kelurahan areas,Cell phone/mobile phone signals in most areas in the village/kelurahan,Computers/PCs/laptops that still function in the Village Head/Lurah Office,Internet Facilities at the Village Head/Lurah Office,Post/post office/post house,Mobile Post Service,Private Supporting Services/Service Agents (Delivery of Goods/Documents),"Number of Micro and Small Industries According to Main Raw Materials: Industry of Leather Goods (Bags, Shoes, Sandals, etc.)","Number of Micro and Small Industries According to Main Raw Materials: Industry of Goods (Tables, Chairs, Chairs, Cabinets, etc.)","Number of Micro and Small Industries According to Main Raw Materials: Industry of Goods from Metal Metals or Metal Materials (Furniture and Jewelry from Metals, etc.)","Number of Micro and Small Industries According to Main Raw Materials: Industry of Goods from Fabric/Weaving (Weaving Crafts, Convection, etc.)","Number of Micro and Small Industries According to Main Raw Materials: Pottery/Ceramic/Stone Industries (tiles, bricks, porcelain, tiles, ceramics, etc.)","Number of Micro and Small Industries According to Main Raw Materials: Woven Industries made of rattan/bamboo, grass, pandanus, etc. (Mats, bags, wall hangings, and other products).","The number of micro and small industries according to the main raw material: the food and beverage industry (processing and preserving meat, fish, fruits, vegetables, oil and fat, milk and food from milk, other foods and drinks, etc.)",Number of Micro and Small Industries According to Main Raw Materials: Other Industries.,The existence of bases/agents/sellers of kerosene (including mobile kerosene sellers),"The existence of the base/agent/seller of LPG (stalls, shops, supermarkets, mobile gas sellers)","Number of Government Commercial Banks (for example: BRI, BNI, Mandiri, BPD, BTN, etc.)",Closest distance to government commercial banks,Ease of achieving government commercial banks,"Number of private commercial banks (for example: BCA, Permata, Sinarmas, CIMB, etc.)",Closest distance to private commercial banks,Ease of achieving private commercial banks,Number of People's Credit Banks (BPR),The closest distance to the People's Credit Bank (BPR),Ease of achieving a People's Credit Bank (BPR),The number of operating village unit cooperatives (KUD),Number of Small Industrial Cooperatives and People's Crafts (Kopinkra)/Micro Business,Number of Savings and Loan Cooperatives (Kospin),Number of other cooperatives,The existence of a beauty salon,Number of shopping groups,"If there is no [column (2) filled with 0], distance to the nearest shopping group (km)","If there is no [column (2) filled with 0], the ease of reaching the shopping group","The number of markets with permanent buildings (having roofs, floors and walls)","If there is no [column (2) filled with 0], distance to the market with the nearest permanent building (km)","If there is no [column (2) filled with 0], the ease of reaching the market with the nearest permanent building","The number of markets with semi -permanent buildings (has a roof and floor, without walls)","If there is no [column (2) filled with 0], distance to the market with the nearest semi -permanent building (km)","If there is no [column (2) filled with 0], the ease of reaching the market with the nearest semi -permanent building","The number of markets without buildings (for example: shocked markets, dawn markets, floating markets, etc.)","If there is no [column (2) filled with 0], distance to the market without the nearest building (km)","If there is no [column (2) filled with 0], the ease of reaching the market without the nearest building","Number of minimarkets/supermarkets (places of business in a fixed building to sell various types of goods in retail with a price label, independent service system, floor area <400 m2)","If there is no [column (2) filled with 0], the distance to the nearest minimarket/supermarket (km)","If there is no [column (2) filled with 0], the ease of reaching the nearest minimarket/supermarket","Number of restaurants/restaurants (fast food business in permanent buildings, buyers are usually subject to tax)","If there is no [column (2) filled with 0], the distance to the nearest restaurant/restaurant (km)","If there is no [column (2) filled with 0], the ease of reaching the nearest restaurant/restaurant","Number of food stalls/food stalls (ready -to -eat food business in a permanent building, buyers are usually not subject to tax)","If there is no [column (2) filled with 0], distance to the nearest food stall/food stall (km)","If there is no [column (2) filled with 0], the ease of reaching the nearest food stall/food stall","Number of hotels (providing accommodation services and restaurants, lodging with business permits as a hotel)","If there is no [column (2) filled 0], distance to the nearest hotel (km)","If there is no [column (2) filled with 0], it is easy to reach the nearest hotel","Number of lodging: Hostel/Motel/Inn/Wisma (Providing accommodation, lodging with business licenses as non -hotel)","If there is no [column (2) filled with 0], distance to lodging: hostel/motel/inn/guesthouse nearest (km)","If there is no [column (2) filled with 0], ease of achieving lodging: hostel/motel/inn/guesthouse nearest",Number of Shops/Grocery Stalls (places of business in a fixed building to sell various types of daily necessities in retail without an independent service system),"If there is no [column (2) filled with 0], the distance to the nearest shop/stall (km)","If there is no [column (2) filled with 0], the ease of reaching the nearest grocery store/stall","Habits and involvement of citizens in mutual cooperation activities in the village/kelurahan for the public interest/community (such as: community service, siskamling, people's parties, etc.) for the past 1 year",Mass fights in the village/kelurahan for the past year,"If there is a mass fighting event, the amount of mass fighting that occurs",The existence of the victim: died,The existence of victims: injuries,Causes of Fighting: (Choice may be more than one),Efforts to resolve mass fights are carried out by: (options may be more than one),Rape/crime against decency,The tendency of rape/crime against decency compared to the last year,The incidence of drug abuse/trafficking,The tendency of drug abuse/circulation compared to the last year,Trafficking trafficking events,Trafficking trafficking tendencies compared to the last year,Corruption incident,The tendency of corruption compared to the last year,Development/maintenance of environmental security posts over the past year,The formation/setting of security teams for the past year,Increase in the number of Hansip/Linmas members for the past year,Reporting guests who stayed more than 24 hours to the environmental officers for the past year,Activation of the environmental security system comes from citizens' initiatives for the past year,The number of mosques in the village/kelurahan,Number of Surau/Langgar/Musholla in the Village/Kelurahan,Number of Christian Churches,Number of Catholic Churches,Number of chapels,Number of temples,Number of temples,Number of temples,Other quantities,Landslide incidence,Many landslide events 2019,Landslide fatalities 2019,Many landslide events 2020 (January-March),Landslide fatalities 2020 (January-March),Flood events,Many flood events 2019,Flood fatalities 2019,Many flood events 2020 (January-March),Flood fatalities 2020 (January-March),Flash floods,Many flash flood events 2019,Flash flood fatalities 2019,Many flash flood events 2020 (January-March),Flash Flood Life 2020 (January-March),Earthquake incidence,Many earthquake events 2019,Earthquake casualties 2019,Many Earthquakes 2020 (January-March),Earthquake casualties 2020 (January-March),Tsunami events,Many tsunami events 2019,Tsunami casualties 2019,Many Tsunami events 2020 (January-March),Tsunami fatalities 2020 (January-March),The incidence of tides,Many Sea Tidal Events 2019,Fatalities of seas tides 2019,Many events of sea tide 2020 (January-March),Cats of Sea Tidal Floms 2020 (January-March),The incidence of a quail/tornado/typhoon wind,Many quail/tornado/typhoon 2019 wind events,Casting Wind Faith/Nipples/Typhoon 2019,Many Winds of Quail/Tornado/Typhoon 2020 (January-March),Casting a Fair Wind/Tornado/Typhoon 2020 (January-March),The incidence of volcanic erupted,Many Mount Eruptions 2019,Volcanic Life Erupts 2019,Many Mount Eruptions 2020 (January-March),Mount erupting fatalities 2020 (January-March),Forest and land fires,Many Forest and Land Fire Events 2019,Forest and Land Fire Lats 2019,Many Forest and Land Fires 2020 (January-March),Forest and Land Fire Cats 2020 (January-March),Drought (land),Many drought events (land) 2019,Drought casualties (land) 2019,Many drought (land) 2020 (January-March),Drought casualties (land) 2020 (January-March),Natural disaster early warning system,Special tsunami early warning system,"Safety equipment (rubber boats, tents, masks, etc.)",Signs and Disaster Evacuation Routes,"Manufacturing, maintenance, or normalization: rivers, canals, embankments, ditches, drainage, reservoirs, beaches, etc.",Village cash/customary land,"Village -owned buildings (Village Hall, Rakyat Hall, etc.)",Other village assets,Number of BUMDes Business Units:,"The number of village markets (animal markets, fish auctions, agricultural auctions, etc.)",Number of boat mooring,Existence: Village Head/Lurah,Age of the Village Head/Lurah,The gender of the village head/lurah,The highest education completed by the village head/lurah,Existence: Village Secretary/Village Secretary,Age of the Village Secretary/Village Secretary,The sex of the village secretary/kelurahan secretary,The highest education completed by the Village Secretary/Village Secretary,"Number of Village/Kelurahan Secretariat (Kaur Finance, Planning Kaur, etc.)","Number of Technical Implementers (Head of Government, Head of Welfare, etc.)"
0,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,001,LATIUNG,1,2,1,3,0,0,2,0,0,9,0,15,8,2,0,0,36,1,59,25,0,2,2,0,1,2,1,1,4,4,2,4,0,0,0,0,0,0,0,0,2,4,0,40.0,3,0,40.0,3,0,99.8,4,0,0,0,0,2,0,36.0,3,0,36.0,3,0,36.0,3,0,36.0,3,0,36.0,3,0,36.0,3,0,36.0,3,0,99.8,4,0,36.0,3,0,36.0,3,1,2,0,0,0,0,0,2,0,2,0,2,0,2,0,2,4,6,7,2,1,1,0,0,0,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,4,6,8,1,1,1,1,1,0,1,1,52,1,5,1,40,1,5,4,3
1,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,002,LABUHAN BAJAU,1,1,1,3,0,0,2,0,0,2,0,5,5,2,0,0,41,1,59,30,0,2,2,0,1,3,1,1,4,4,2,4,0,0,0,0,0,0,0,0,1,4,0,41.0,3,0,41.0,3,0,99.8,4,0,0,0,0,2,0,41.0,3,0,41.0,3,0,41.0,3,0,99.8,4,0,41.0,3,0,41.0,3,0,2.0,1,0,99.8,4,0,41.0,3,0,2.0,1,1,2,0,0,0,0,0,2,0,2,0,2,0,2,0,2,4,6,7,2,1,1,0,0,0,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,4,6,8,2,1,1,1,1,0,1,1,45,1,5,1,44,1,5,4,3
2,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,003,SUAK LAMATAN,1,1,1,3,0,0,2,0,0,23,0,30,20,2,0,0,28,0,40,25,0,1,2,0,1,2,1,1,4,4,2,4,0,1,0,0,0,0,0,0,2,4,0,28.0,2,0,28.0,2,0,99.8,3,0,0,0,0,2,0,28.0,2,0,28.0,2,0,28.0,2,0,10.0,2,0,28.0,2,0,28.0,2,1,0.0,0,0,99.8,3,0,1.0,1,8,0.0,0,1,2,0,0,0,0,0,2,0,2,0,2,0,2,0,1,4,6,7,2,1,1,0,0,0,0,0,0,0,2,0,0,0,0,1,3,0,2,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,1,1,0,1,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,4,6,8,1,1,1,1,1,0,0,1,47,1,5,1,46,1,7,3,3
3,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,004,ANA AO,1,1,1,3,0,0,2,0,0,8,0,15,15,2,0,0,13,0,25,25,0,2,2,0,1,3,2,1,4,4,2,4,0,0,0,0,0,0,0,0,1,4,0,17.0,2,0,17.0,2,0,99.8,4,0,0,0,0,2,0,13.0,2,0,13.0,2,0,13.0,2,0,99.8,4,0,13.0,2,0,99.8,2,0,13.0,2,0,99.8,4,0,13.0,2,0,8.0,2,1,2,0,0,0,0,0,2,0,2,0,2,0,2,0,2,4,6,7,2,2,0,0,0,0,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,4,6,8,2,1,1,1,1,0,1,2,0,0,0,1,36,2,5,4,3
4,11,ACEH,01,SIMEULUE,010,TEUPAH SELATAN,005,LATALING,1,1,1,3,0,0,2,0,0,10,0,20,15,2,0,0,12,0,20,20,0,2,2,0,0,4,0,1,4,4,2,4,0,0,0,0,0,0,0,0,2,4,0,12.0,2,0,12.0,2,0,12.0,2,0,0,0,0,2,0,12.0,2,0,12.0,2,0,12.0,2,0,99.8,4,0,12.0,2,0,99.8,4,0,12.0,2,0,99.8,4,0,12.0,2,0,12.0,2,1,2,0,0,0,0,0,2,0,2,0,2,0,2,0,2,4,6,7,2,2,2,0,0,0,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,0,0,0,0,2,4,6,8,2,1,1,1,1,0,1,1,49,1,5,1,57,1,5,4,3

## Conclusion of 2020 dataset

### We could see the data dictionary is covering all the coumns of the dataset. Which is very well required for other datasets

### Summary

Upon reviewing the datasets spanning from 2011 to 2020, it's clear that the 2020 dataset aligns perfectly with the provided data dictionary. However, we encountered a lack of matching column names in the datasets from the other years, which suggests a need for further investigation. To address this discrepancy, we should consult the survey questionnaires or reach out to the project lead to obtain the relevant data dictionaries for those years. This step is crucial for ensuring accurate data interpretation and analysis across all datasets.